miliconvert/xsmt-docs/trunk/testing/xsd/bl11/logsitland/sets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="nato:adatp-3:bl11:sets" xmlns:c="nato:adatp-3:bl11:composites" xmlns:f="nato:adatp-3:bl11:elementals" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="nato:adatp-3:bl11:sets" version="bl11">
<xsd:import namespace="nato:adatp-3:bl11:elementals" schemaLocation="fields.xsd"/>
<xsd:import namespace="nato:adatp-3:bl11:composites" schemaLocation="composites.xsd"/>
<xsd:complexType name="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="amplification"/>
<xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="narrative"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="exercise.identification">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="exercise_nickname" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:exercise.nickname.1021.1">
<xsd:attribute fixed="1021-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="exercise_additional_identifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:exercise.additional.identifier.1018.11">
<xsd:attribute fixed="1018-11" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="exer" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="operation.codeword">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="operation_codeword" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:operation.codeword.1020.1">
<xsd:attribute fixed="1020-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="plan_originator_and_number" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:plan.originator.and.number.2404.1">
<xsd:attribute fixed="2404-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="option_nickname" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:option.nickname.1232.1">
<xsd:attribute fixed="1232-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="secondary_option_nickname" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:secondary.option.nickname.1232.2">
<xsd:attribute fixed="1232-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="oper" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="message.identifier">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="message_text_format_identifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:message.text.format.identifier.1018.2">
<xsd:attribute fixed="1018-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="originator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:originator.1029.1">
<xsd:attribute fixed="1029-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="message_serial_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:message.serial.number.1012.7">
<xsd:attribute fixed="1012-7" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="month_name" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:month.name.1004.1">
<xsd:attribute fixed="1004-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="qualifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:qualifier.1130.3">
<xsd:attribute fixed="1130-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="serial_number_of_qualifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:serial.number.of.qualifier.1012.29">
<xsd:attribute fixed="1012-29" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="msgid" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="reference">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="serial_letter" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:serial.letter.1102.3">
<xsd:attribute fixed="1102-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="communication_type" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="message_text_format_identifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:message.text.format.identifier.1018.2">
<xsd:attribute fixed="1018-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="communication_type" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:communication.type.1153.1">
<xsd:attribute fixed="1153-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="originator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:originator.1029.1">
<xsd:attribute fixed="1029-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="date_and_time_of_reference" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="day_time_group_of_reference" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.group.of.reference.2197.2">
<xsd:attribute fixed="2197-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="day_time_of_reference" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.of.reference.2000.34">
<xsd:attribute fixed="2000-34" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="day_time_of_reference_verified" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.of.reference.verified.2013.33">
<xsd:attribute fixed="2013-33" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="day_time_and_month_of_reference" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.and.month.of.reference.2030.2">
<xsd:attribute fixed="2030-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="date_time_month_of_reference_verified" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:date.time.month.of.reference.verified.2032.2">
<xsd:attribute fixed="2032-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="dtg_of_reference_4_digit_yr" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:dtg.of.reference.4.digit.yr.2033.2">
<xsd:attribute fixed="2033-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="dtg_of_reference_verified_4_yr" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:dtg.of.reference.verified.4.yr.2034.2">
<xsd:attribute fixed="2034-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="date_of_reference_ddmmmyyyy" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:date.of.reference.ddmmmyyyy.2001.3">
<xsd:attribute fixed="2001-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="date_of_reference_ddmmyyyy" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:date.of.reference.ddmmyyyy.2052.2">
<xsd:attribute fixed="2052-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="date_of_reference_yyyymmdd" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:date.of.reference.yyyymmdd.2053.2">
<xsd:attribute fixed="2053-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="reference_serial_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:reference.serial.number.1012.66">
<xsd:attribute fixed="1012-66" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="special_notation" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:special.notation.1131.1">
<xsd:attribute fixed="1131-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="sic_or_file_number" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="sic" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:sic.1017.2">
<xsd:attribute fixed="1017-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="7" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="filing_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:filing.number.1012.49">
<xsd:attribute fixed="1012-49" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="7" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="ref" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="geodetic.datum">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="geodetic_datum" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:geodetic.datum.1195.1">
<xsd:attribute fixed="1195-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="geodatum" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="date.time.group">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="dtg_4_digit_year" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:dtg.4.digit.year.2033.1">
<xsd:attribute fixed="2033-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="dtg" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="organization.designator.of.drafter.releaser">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_designation_name" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.designation.name.1022.39">
<xsd:attribute fixed="1022-39" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_size_indicator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.size.indicator.1045.4">
<xsd:attribute fixed="1045-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="geographical_entity" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:geographical.entity.1026.1">
<xsd:attribute fixed="1026-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_a" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.role.indicator.code.a.1311.2">
<xsd:attribute fixed="1311-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_b" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.role.indicator.code.b.1311.3">
<xsd:attribute fixed="1311-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_c" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.role.indicator.code.c.1311.4">
<xsd:attribute fixed="1311-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_d" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.role.indicator.code.d.1311.5">
<xsd:attribute fixed="1311-5" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="7" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="higher_formation_name" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:higher.formation.name.1022.40">
<xsd:attribute fixed="1022-40" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="8" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="armed_service_or_civilian_agency_code" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="armed_service" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:armed.service.1107.1">
<xsd:attribute fixed="1107-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="9" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="civilian_agency_code" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:civilian.agency.code.1507.1">
<xsd:attribute fixed="1507-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="9" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="unit_identification_code_uic" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:unit.identification.code.uic.2141.1">
<xsd:attribute fixed="2141-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="10" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="orgiddft" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="map.data.without.geodetic.datum">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="map_or_chart_series_designator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:map.or.chart.series.designator.1075.1">
<xsd:attribute fixed="1075-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="map_or_chart_suffix_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:map.or.chart.suffix.number.1012.4">
<xsd:attribute fixed="1012-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="group_of_fields">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="map_or_chart_sheet_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:map.or.chart.sheet.number.1012.3">
<xsd:attribute fixed="1012-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="map_or_chart_edition_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:map.or.chart.edition.number.1012.2">
<xsd:attribute fixed="1012-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="mapnogd" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="organization.designator">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_designation_name" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.designation.name.1022.39">
<xsd:attribute fixed="1022-39" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_size_indicator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.size.indicator.1045.4">
<xsd:attribute fixed="1045-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="geographical_entity" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:geographical.entity.1026.1">
<xsd:attribute fixed="1026-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_a" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.role.indicator.code.a.1311.2">
<xsd:attribute fixed="1311-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_b" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.role.indicator.code.b.1311.3">
<xsd:attribute fixed="1311-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_c" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.role.indicator.code.c.1311.4">
<xsd:attribute fixed="1311-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_d" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.role.indicator.code.d.1311.5">
<xsd:attribute fixed="1311-5" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="7" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="higher_formation_name" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:higher.formation.name.1022.40">
<xsd:attribute fixed="1022-40" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="8" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="armed_service_or_civilian_agency_code" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="armed_service" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:armed.service.1107.1">
<xsd:attribute fixed="1107-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="9" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="civilian_agency_code" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:civilian.agency.code.1507.1">
<xsd:attribute fixed="1507-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="9" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="unit_identification_code_uic" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:unit.identification.code.uic.2141.1">
<xsd:attribute fixed="2141-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="10" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="orgid" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="location.and.nearest.feature">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="geographic_place_name" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:geographic.place.name.1022.90">
<xsd:attribute fixed="1022-90" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="utm_grid_reference" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="location_utm_1_metre" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:location.utm.1.metre.2089.20">
<xsd:attribute fixed="2089-20" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="location_utm_10_metre" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:location.utm.10.metre.2086.20">
<xsd:attribute fixed="2086-20" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="location_utm_100_metre" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:location.utm.100.metre.2087.20">
<xsd:attribute fixed="2087-20" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="location_utm_1000_metre" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:location.utm.1000.metre.2088.20">
<xsd:attribute fixed="2088-20" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="locnf" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="units.logistic.sustainability">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="logistical_sustainability_of_unit" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:logistical.sustainability.of.unit.1236.7">
<xsd:attribute fixed="1236-7" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="logsust" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="current.capability.future.requirement">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="general_period_of_time" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:general.period.of.time.1607.5">
<xsd:attribute fixed="1607-5" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="curcfutr" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="medical.logistics">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="stock_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:stock.number.1012.73">
<xsd:attribute fixed="1012-73" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="short_title" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:short.title.1022.87">
<xsd:attribute fixed="1022-87" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="days_of_supply" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:days.of.supply.1055.2">
<xsd:attribute fixed="1055-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="unit_of_measurement" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="unit_of_linear_measurement" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.of.linear.measurement.1008.4">
<xsd:attribute fixed="1008-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="unit_of_volume_measurement" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.of.volume.measurement.1008.58">
<xsd:attribute fixed="1008-58" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="unit_of_weight_measurement" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.of.weight.measurement.1008.37">
<xsd:attribute fixed="1008-37" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="unit_of_packing_measurement" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.of.packing.measurement.1008.59">
<xsd:attribute fixed="1008-59" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="quantity_on_hand" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:quantity.on.hand.1044.110">
<xsd:attribute fixed="1044-110" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="1medlogi" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="materiel.on.hand">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="item_identifying_number" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="reportable_item_code_ric" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:reportable.item.code.ric.1281.1">
<xsd:attribute fixed="1281-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="stock_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:stock.number.1012.73">
<xsd:attribute fixed="1012-73" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="short_title" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:short.title.1022.87">
<xsd:attribute fixed="1022-87" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="quantity" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="quantity_on_hand" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:quantity.on.hand.1044.110">
<xsd:attribute fixed="1044-110" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="stock_item_quantity_and_unit_of_measurement" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:stock.item.quantity.and.unit.of.measurement.2401.1">
<xsd:attribute fixed="2401-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="days_of_supply" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:days.of.supply.1055.2">
<xsd:attribute fixed="1055-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="affirmative_or_negative_indicator_abbreviated" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:affirmative.or.negative.indicator.abbreviated.1359.1">
<xsd:attribute fixed="1359-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="quantity_on_hand_1" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:quantity.on.hand.1044.110">
<xsd:attribute fixed="1044-110" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="1materl" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="petroleum.products">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="reportable_item_code_ric" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:reportable.item.code.ric.1281.1">
<xsd:attribute fixed="1281-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="pol_type_name" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:pol.type.name.1022.88">
<xsd:attribute fixed="1022-88" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="cubic_metres_on_hand" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:cubic.metres.on.hand.1044.128">
<xsd:attribute fixed="1044-128" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="days_of_supply" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:days.of.supply.1055.2">
<xsd:attribute fixed="1055-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="1pol" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ammunition.on.hand">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="reportable_item_code_ric" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:reportable.item.code.ric.1281.1">
<xsd:attribute fixed="1281-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="ammunition_short_title_specification_name" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:ammunition.short.title.specification.name.1022.86">
<xsd:attribute fixed="1022-86" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="quantity_on_hand_including_ubl_rounds" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:quantity.on.hand.including.ubl.rounds.1044.119">
<xsd:attribute fixed="1044-119" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="days_of_supply" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:days.of.supply.1055.2">
<xsd:attribute fixed="1055-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="1ammoh" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="personnel.strength">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="general_personnel_type" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:general.personnel.type.1286.15">
<xsd:attribute fixed="1286-15" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="count_of_personnel_0_999999999" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:count.of.personnel.0.999999999.1044.106">
<xsd:attribute fixed="1044-106" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="2per" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="rations.on.hand">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="item_identifying_number" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="reportable_item_code_ric" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:reportable.item.code.ric.1281.1">
<xsd:attribute fixed="1281-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="stock_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:stock.number.1012.73">
<xsd:attribute fixed="1012-73" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="quantity_on_hand" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:quantity.on.hand.1044.110">
<xsd:attribute fixed="1044-110" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="days_of_supply" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:days.of.supply.1055.2">
<xsd:attribute fixed="1055-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="1ration" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="supply.of.water">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="water_type" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:water.type.1513.1">
<xsd:attribute fixed="1513-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="quantity_and_unit_of_capacity_measurement" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:quantity.and.unit.of.capacity.measurement.2230.1">
<xsd:attribute fixed="2230-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="days_of_supply" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:days.of.supply.1055.2">
<xsd:attribute fixed="1055-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="1water" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="surplus.or.critical.deficiency.data">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="surplus_or_deficiency" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:surplus.or.deficiency.1130.51">
<xsd:attribute fixed="1130-51" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="class_of_supply" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:class.of.supply.1231.1">
<xsd:attribute fixed="1231-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="item_identifying_number" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="reportable_item_code_ric" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:reportable.item.code.ric.1281.1">
<xsd:attribute fixed="1281-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="stock_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:stock.number.1012.73">
<xsd:attribute fixed="1012-73" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="short_title" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:short.title.1022.87">
<xsd:attribute fixed="1022-87" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="quantity" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="stock_item_quantity_and_unit_of_measurement" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:stock.item.quantity.and.unit.of.measurement.2401.1">
<xsd:attribute fixed="2401-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="quantity_on_hand" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:quantity.on.hand.1044.110">
<xsd:attribute fixed="1044-110" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="allowance" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="days_of_supply" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:days.of.supply.1055.2">
<xsd:attribute fixed="1055-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="rounds_per_weapon" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:rounds.per.weapon.1044.356">
<xsd:attribute fixed="1044-356" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="data_entry" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:data.entry.1348.1">
<xsd:attribute fixed="1348-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="7" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="1surpdef" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="general.text">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="text_indicator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:text.indicator.1009.1">
<xsd:attribute fixed="1009-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="free_text" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:free.text.1006.1">
<xsd:attribute fixed="1006-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="gentext" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="operational.effect">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="as_of_date_time_group" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="as_of_dtg_4_digit_yr" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:as.of.dtg.4.digit.yr.2033.54">
<xsd:attribute fixed="2033-54" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="effect_on_operations" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:effect.on.operations.1088.2">
<xsd:attribute fixed="1088-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="details_of_operational_effect" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:details.of.operational.effect.1357.24">
<xsd:attribute fixed="1357-24" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="opeffect" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="amplification">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="free_text" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:free.text.1006.1">
<xsd:attribute fixed="1006-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="ampn" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="narrative">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="free_text" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:free.text.1006.1">
<xsd:attribute fixed="1006-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="narr" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="remarks">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="free_text" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:free.text.1006.1">
<xsd:attribute fixed="1006-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="rmks" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:schema>
