miliconvert/format-docs/trunk/bl13/schemas/air_status_report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13">
  <xsd:element name="air_status_report">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="exercise_identification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="exercise_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="exercise_additional_identifier" type="xsd:string"/>
                <xsd:element name="exercise_additional_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="operation_codeword">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="operation_codeword" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="plan_originator_and_number">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="plan_originator"/>
                      <xsd:element name="blank_space_character"/>
                      <xsd:element name="plan_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="option_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="secondary_option_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="message_identifier">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="standard_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="version_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="month_name_abbreviated" type="xsd:string"/>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="serial_number_of_qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_policy" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_classification_extended" type="xsd:string"/>
                <xsd:element name="message_security_classification" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_security_category" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="reference">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="serial_letter" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
                <xsd:element name="communication_type" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="dtg_of_reference_4_digit_yr">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_yyyymmdd">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="month_year">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year_4_digit"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="reference_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="special_notation" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="sic" type="xsd:string"/>
                <xsd:element name="filing_number" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="geodetic_datum">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="geodetic_datum" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="message_cancellation_with_new_information_provided">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
                <xsd:element name="communication_type" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="day_time_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="dtg_of_reference_4_digit_yr">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_yyyymmdd">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_serial_number" type="xsd:string"/>
                <xsd:element name="document_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="special_notation" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="sic" type="xsd:string"/>
                <xsd:element name="filing_number" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="air_base_identification_segment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="air_base_identification">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="base_name" type="xsd:string"/>
                      <xsd:element name="unit_identification_code_uic2">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="nationality_2a"/>
                            <xsd:element name="armed_service"/>
                            <xsd:element name="file_sequential_location_number"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="unit_identification_code_uic3">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="nationality_3a"/>
                            <xsd:element name="armed_service"/>
                            <xsd:element name="file_sequential_location_number"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="icao_location_indicator" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitude_degrees"/>
                            <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="longitude_degrees"/>
                            <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="longitudinal_hemisphere"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_transverse_mercator_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="utm_1_metre_higher_order_easting"/>
                            <xsd:element name="utm_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="mgrs_utm_grid_latitude_band"/>
                            <xsd:element name="mgrs_utm_100km_box"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_polar_stereographic_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="ups_1_metre_higher_order_x"/>
                            <xsd:element name="ups_1_metre_higher_order_y"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                            <xsd:element name="mgrs_ups_100km_square_column"/>
                            <xsd:element name="mgrs_ups_100km_square_row"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                      <xsd:element name="geographic_position_georef_centiminute">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="fifteen_degree_quadrilateral_georef"/>
                            <xsd:element name="one_degree_quadrilateral_georef"/>
                            <xsd:element name="minute_easting_georef"/>
                            <xsd:element name="centiminute_angular"/>
                            <xsd:element name="minute_northing_georef"/>
                            <xsd:element name="centiminute_angular"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="elevation_in_feet" type="xsd:string"/>
                      <xsd:element name="elevation_in_metres_above_msl" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="1" name="air_base_operational_status">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="air_base_status" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="reason_air_base_operational_status_degraded" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="estimated_dtg_in_charge_of_next_operational_status_etic">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                            <xsd:element name="month_name_abbreviated"/>
                            <xsd:element name="year"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="next_air_base_status" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="0">
                      <xsd:element name="air_base_status_limiting_factors" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="air_base_status_foreseeable_degradation">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="dtg_planned_to_become_effective">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                            <xsd:element name="month_name_abbreviated"/>
                            <xsd:element name="year"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="air_base_status" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="reason_air_base_operational_status_degraded" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="estimated_dtg_in_charge_of_next_operational_status_etic">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                            <xsd:element name="month_name_abbreviated"/>
                            <xsd:element name="year"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="next_air_base_status" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="0">
                      <xsd:element name="air_base_status_limiting_factors" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="1" name="runway_information_segment">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="runway_information">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="runway_direction_designator" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="length_of_usable_runway_feet_yards_metres">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="context_quantity_0_4_decimal_pt_permitted"/>
                                  <xsd:element name="unit_of_linear_measurement_feet_yards_or_metres"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="width_of_usable_runway_feet_yards_metres">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="context_quantity_0_4_decimal_pt_permitted"/>
                                  <xsd:element name="unit_of_linear_measurement_feet_yards_or_metres"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="0">
                            <xsd:element name="runway_composition" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="0">
                            <xsd:element name="weight_in_kilograms" type="xsd:string"/>
                            <xsd:element name="weight_in_tons" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="0">
                            <xsd:element name="usable_taxiway_access_width">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="context_quantity_0_4_decimal_pt_permitted"/>
                                  <xsd:element name="unit_of_linear_measurement_feet_yards_or_metres"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="runway_lighting">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="unbounded" minOccurs="1">
                            <xsd:element name="approach_lighting_type" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="unbounded" minOccurs="1">
                            <xsd:element name="runway_lighting" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="unbounded" minOccurs="1">
                            <xsd:element name="visual_glide_slope_lighting" type="xsd:string"/>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="runway_arresting_gear">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="unbounded" minOccurs="1">
                            <xsd:element name="aircraft_arresting_system" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="unbounded" minOccurs="1">
                            <xsd:element name="arresting_gear_length_from_end_of_runway">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="context_quantity_0_4_decimal_pt_permitted"/>
                                  <xsd:element name="unit_of_linear_measurement_feet_yards_or_metres"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="aircraft_shelter_information">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="unbounded" minOccurs="1">
                      <xsd:element name="shelter_type_2_letter_country_code">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="nationality_2a"/>
                            <xsd:element name="shelter_type_generation_designator"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="shelter_type_3_letter_country_code">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="nationality_3a"/>
                            <xsd:element name="shelter_type_generation_designator"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="1">
                      <xsd:element name="aircraft_shelters_available" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="aircraft_and_helicopter_parking_space">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="area_available_for_aircraft_parking">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="context_quantity_1_999999"/>
                            <xsd:element name="area_unit_of_measurement_square_metres_or_feet"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="helipads_available" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="radio_information">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="unbounded" minOccurs="1">
                      <xsd:element name="radio_system_circuit_or_facility_name" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="1">
                      <xsd:element name="frequency_in_megahertz" type="xsd:string"/>
                      <xsd:element name="frequency_designator" type="xsd:string"/>
                      <xsd:element name="frequency_mode_and_numeric">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="frequency_mode"/>
                            <xsd:element name="context_quantity_decimal_pt_permitted_7_characters_max"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="have_quick_parameters_with_mickey_net_controller">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="net_in_use_identifier"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="set_in_use_identifier"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="day"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="year"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="mickey_net_controller"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="context_quantity_decimal_pt_permitted_11_char_max"/>
                            <xsd:element name="unit_of_electromagnetic_emission_measurement"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="have_quick_parameters_without_mickey_net_controller">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="net_in_use_identifier"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="set_in_use_identifier"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="day"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="year"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="navigation_aid_identification">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="civilian_military_air_navigation_aid_type" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="navigation_aid_name" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="navigation_aid_icao_code" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="frequency_in_megahertz" type="xsd:string"/>
                      <xsd:element name="frequency_designator" type="xsd:string"/>
                      <xsd:element name="frequency_mode_and_numeric">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="frequency_mode"/>
                            <xsd:element name="context_quantity_decimal_pt_permitted_7_characters_max"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitude_degrees"/>
                            <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="longitude_degrees"/>
                            <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="longitudinal_hemisphere"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_transverse_mercator_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="utm_1_metre_higher_order_easting"/>
                            <xsd:element name="utm_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="mgrs_utm_grid_latitude_band"/>
                            <xsd:element name="mgrs_utm_100km_box"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_polar_stereographic_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="ups_1_metre_higher_order_x"/>
                            <xsd:element name="ups_1_metre_higher_order_y"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                            <xsd:element name="mgrs_ups_100km_square_column"/>
                            <xsd:element name="mgrs_ups_100km_square_row"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="radar_facilities">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="unbounded" minOccurs="1">
                      <xsd:element name="radar_type_abbreviated" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="1">
                      <xsd:element name="radar_station_name" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="crash_rescue_medical_availability">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="crash_rescue_availability" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="aerodrome_crash_category" type="xsd:string"/>
                      <xsd:element name="helipad_crash_category" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="medical_facilities_availability" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="search_and_rescue_combat_search_and_rescue_availability" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="other_air_base_items">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="nato_standard_aviation_fuel_type" type="xsd:string"/>
                      <xsd:element name="refuelling_fuel_grade" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="aviation_oil_grade" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="aircraft_supporting_fluids_and_systems" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="oxygen_servicing" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="aircraft_starting_unit" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="additional_base_items">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="cargo_handling_capability" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="transient_alert_availability" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="battle_damage_repair_capability" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="type_of_ammunition_available">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="ordnance_weapon_type_air_to_air" type="xsd:string"/>
                      <xsd:element name="ordnance_weapon_ammunition_type_name" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="ordnance_weapon_type_air_to_surface" type="xsd:string"/>
                      <xsd:element name="ordnance_weapon_ammunition_type_name_1" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="ordnance_weapon_type_anti_subsurface" type="xsd:string"/>
                      <xsd:element name="ordnance_weapon_ammunition_type_name_1" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="chaff_flare_type" type="xsd:string"/>
                      <xsd:element name="ordnance_weapon_ammunition_type_name_1" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="squadron_information_and_status_segment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="squadron_information_and_status">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit_designator" type="xsd:string"/>
                      <xsd:element name="unit_identification_code_uic2">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="nationality_2a"/>
                            <xsd:element name="armed_service"/>
                            <xsd:element name="file_sequential_location_number"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="unit_identification_code_uic3">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="nationality_3a"/>
                            <xsd:element name="armed_service"/>
                            <xsd:element name="file_sequential_location_number"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="aircraft_by_type_model_or_code" type="xsd:string"/>
                      <xsd:element name="aircraft_type_and_model_other" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="aircraft_role_general" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit_assignment_status" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="number_of_aircraft_1_99" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="number_of_aircraft_available" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="number_of_aircraft_lost_or_destroyed" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="number_of_aircraft_qualified">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="aircraft_deployed_or_received_indicator"/>
                            <xsd:element name="total_number_of_aircraft"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitude_degrees"/>
                            <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="longitude_degrees"/>
                            <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="longitudinal_hemisphere"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_transverse_mercator_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="utm_1_metre_higher_order_easting"/>
                            <xsd:element name="utm_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="mgrs_utm_grid_latitude_band"/>
                            <xsd:element name="mgrs_utm_100km_box"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_polar_stereographic_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="ups_1_metre_higher_order_x"/>
                            <xsd:element name="ups_1_metre_higher_order_y"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                            <xsd:element name="mgrs_ups_100km_square_column"/>
                            <xsd:element name="mgrs_ups_100km_square_row"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                      <xsd:element name="icao_location_indicator" type="xsd:string"/>
                      <xsd:element name="base_name" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="air_to_air_refuelling_capability_receiver_and_tanker" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="number_of_combat_ready_aircraft" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="0">
                      <xsd:element name="number_and_status_of_non_mission_capable_aircraft">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="number_of_aircraft_1_99"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="aircraft_launch_readiness"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="alert_aircraft_status">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit_designator" type="xsd:string"/>
                      <xsd:element name="unit_identification_code_uic2">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="nationality_2a"/>
                            <xsd:element name="armed_service"/>
                            <xsd:element name="file_sequential_location_number"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="unit_identification_code_uic3">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="nationality_3a"/>
                            <xsd:element name="armed_service"/>
                            <xsd:element name="file_sequential_location_number"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="number_of_aircraft_airborne_1_99" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="aircraft_by_type_model_or_code" type="xsd:string"/>
                      <xsd:element name="aircraft_type_and_model_other" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="primary_aerial_mission_type" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="0">
                      <xsd:element name="aircraft_number_and_alert_status">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="number_of_aircraft_1_99"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="aircraft_launch_readiness"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="0">
                      <xsd:element name="number_of_a_c_scramble_but_not_airborne" type="xsd:string"/>
                      <xsd:element name="number_of_a_c_in_operational_turn_around" type="xsd:string"/>
                      <xsd:element name="number_of_a_c_assigned_for_special_mission" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="acknowledge">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="acknowledge_requirement_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="instructions_for_acknowledging" type="xsd:string"/>
                <xsd:element name="force_or_unit_required_to_acknowledge" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="message_downgrading_or_declassification_data">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="derivative_source_for_classification" type="xsd:string"/>
                <xsd:element name="name_of_original_classification_authority" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="reason_for_classification" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="downgrading_or_declassification_instructions" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="downgrade_or_declassification_date_ddmmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="downgrading_or_declassification_exemption_code" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="remarks" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
