miliconvert/format-docs/trunk/bl13/schemas/airborne_early_warning_mission_report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13">
  <xsd:element name="airborne_early_warning_mission_report">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="exercise_identification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="exercise_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="exercise_additional_identifier" type="xsd:string"/>
                <xsd:element name="exercise_additional_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="operation_codeword">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="operation_codeword" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="plan_originator_and_number">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="plan_originator"/>
                      <xsd:element name="blank_space_character"/>
                      <xsd:element name="plan_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="option_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="secondary_option_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="message_identifier">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="standard_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="version_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="month_name_abbreviated" type="xsd:string"/>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="serial_number_of_qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_policy" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_classification_extended" type="xsd:string"/>
                <xsd:element name="message_security_classification" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_security_category" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="reference">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="serial_letter" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
                <xsd:element name="communication_type" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="dtg_of_reference_4_digit_yr">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_yyyymmdd">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="month_year">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year_4_digit"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="reference_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="special_notation" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="sic" type="xsd:string"/>
                <xsd:element name="filing_number" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="geodetic_datum">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="geodetic_datum" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="aew_mission_details">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="aew_sortie_number">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="aew_sortie_number_serial_identifier"/>
                      <xsd:element name="aew_sortie_number_serial"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="aew_request_identifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="mission_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_identification_code_uic">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="nationality"/>
                      <xsd:element name="armed_service"/>
                      <xsd:element name="file_sequential_location_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="unit_designator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="aew_aircraft" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="aircraft_call_sign" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="mission_call_sign" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_identification_code_uic_1">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="nationality"/>
                      <xsd:element name="armed_service"/>
                      <xsd:element name="file_sequential_location_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="icao_base_code" type="xsd:string"/>
                <xsd:element name="location_name" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="dtg_of_departure">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_identification_code_uic_1">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="nationality"/>
                      <xsd:element name="armed_service"/>
                      <xsd:element name="file_sequential_location_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="icao_base_code_1" type="xsd:string"/>
                <xsd:element name="location_name_1" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="dtg_of_arrival">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="amsh_1707_call_sign" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="iff_sif_code" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="airborne_early_warning_crew">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="crew_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="1">
                <xsd:element name="aew_crew_data">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="aew_crew_position"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="military_rank_or_rate_and_rating"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="surname_of_a_person"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="air_to_air_refuelling">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="day_time_start">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="day_time_stop">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="latitude_degrees"/>
                      <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                      <xsd:element name="latitudinal_hemisphere"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="longitude_degrees"/>
                      <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                      <xsd:element name="longitudinal_hemisphere"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="universal_transverse_mercator_utm">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="utm_grid_zone"/>
                      <xsd:element name="latitudinal_hemisphere"/>
                      <xsd:element name="utm_1_metre_higher_order_easting"/>
                      <xsd:element name="utm_1_metre_higher_order_northing"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="utm_grid_zone"/>
                      <xsd:element name="mgrs_utm_grid_latitude_band"/>
                      <xsd:element name="mgrs_utm_100km_box"/>
                      <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                      <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="universal_polar_stereographic_ups">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="latitudinal_hemisphere"/>
                      <xsd:element name="ups_1_metre_higher_order_x"/>
                      <xsd:element name="ups_1_metre_higher_order_y"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                      <xsd:element name="mgrs_ups_100km_square_column"/>
                      <xsd:element name="mgrs_ups_100km_square_row"/>
                      <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                      <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                <xsd:element name="air_refuelling_area_name" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="fuel_onloaded_in_thousands_of_pounds_klbs" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="aerial_refuelling_system_specific" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="supported_unit_segment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="supported_unit">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="unbounded" minOccurs="1">
                      <xsd:element name="unit_identification_code_uic">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="nationality"/>
                            <xsd:element name="armed_service"/>
                            <xsd:element name="file_sequential_location_number"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="unit_designator" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="1">
                      <xsd:element name="air_command_and_control_duty_assigned" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="0">
                      <xsd:element name="dtg_of_start">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                            <xsd:element name="month_name_abbreviated"/>
                            <xsd:element name="year"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="0">
                      <xsd:element name="dtg_of_stop">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                            <xsd:element name="month_name_abbreviated"/>
                            <xsd:element name="year"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="1" name="orbit_mission_details_segment">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="orbit_mission_details">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="airspace_control_means_identifying_designator" type="xsd:string"/>
                            <xsd:element name="airspace_control_means_name" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="0">
                            <xsd:element name="dtg_of_orbit_entry">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="day"/>
                                  <xsd:element name="hour_time"/>
                                  <xsd:element name="minute_time"/>
                                  <xsd:element name="time_zone"/>
                                  <xsd:element name="month_name_abbreviated"/>
                                  <xsd:element name="year"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="0">
                            <xsd:element name="dtg_of_orbit_exit">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="day"/>
                                  <xsd:element name="hour_time"/>
                                  <xsd:element name="minute_time"/>
                                  <xsd:element name="time_zone"/>
                                  <xsd:element name="month_name_abbreviated"/>
                                  <xsd:element name="year"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="surveillance_area_environment_segment">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="surveillance_area_environment">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="airborne_early_warning_surveillance_area_type" type="xsd:string"/>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="0" name="surveillance_area_name">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="surveillance_area_name" type="xsd:string"/>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="0" name="shape_polygon">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="unbounded" minOccurs="1">
                                  <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="latitude_degrees"/>
                                        <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="hyphen"/>
                                        <xsd:element name="longitude_degrees"/>
                                        <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="longitudinal_hemisphere"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="0" name="shape_circle">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="latitude_degrees"/>
                                        <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="hyphen"/>
                                        <xsd:element name="longitude_degrees"/>
                                        <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="longitudinal_hemisphere"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="radius_m_km_nm">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="context_quantity_0_to_1_decimal_pt_permitted_5_char_max"/>
                                        <xsd:element name="unit_of_linear_measurement_m_km_nm"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="1" name="vertical_dimension_of_the_effective_level">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="vertical_dimension_base_ref_point_to_relative_altitude">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="altitude_base_reference_point_qualifier"/>
                                        <xsd:element name="hyphen"/>
                                        <xsd:element name="maximum_altitude_hundreds_of_feet"/>
                                        <xsd:element name="altitude_reference_qualifier"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="vertical_dimension_base_ref_point_to_flight_level">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="altitude_base_reference_point_qualifier"/>
                                        <xsd:element name="hyphen"/>
                                        <xsd:element name="flight_level_data_qualifier"/>
                                        <xsd:element name="maximum_altitude_hundreds_of_feet"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="vertical_dimension_relative_altitude_to_flight_level">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="minimum_altitude_hundreds_of_feet"/>
                                        <xsd:element name="altitude_reference_qualifier"/>
                                        <xsd:element name="hyphen"/>
                                        <xsd:element name="flight_level_data_qualifier"/>
                                        <xsd:element name="maximum_altitude_hundreds_of_feet"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="vertical_dimension_relative_altitude_to_relative_alt">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="minimum_altitude_hundreds_of_feet"/>
                                        <xsd:element name="altitude_reference_qualifier"/>
                                        <xsd:element name="hyphen"/>
                                        <xsd:element name="maximum_altitude_hundreds_of_feet"/>
                                        <xsd:element name="altitude_reference_qualifier"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="vertical_dimension_flight_level_to_flight_level">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="flight_level_data_qualifier"/>
                                        <xsd:element name="flight_level_number"/>
                                        <xsd:element name="hyphen"/>
                                        <xsd:element name="flight_level_data_qualifier"/>
                                        <xsd:element name="flight_level_number"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="link_operations">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="data_link" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="day_time_start">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="day_time_stop">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="duration_time_in_hours_and_tenths">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="number_of_hours"/>
                            <xsd:element name="decimal_point"/>
                            <xsd:element name="tenth_of_hour"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="1">
                      <xsd:element name="unit_name" type="xsd:string"/>
                      <xsd:element name="ship_name" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="voicetel_reporting">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="day_time_start">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="day_time_stop">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="duration_time_in_hours_and_tenths">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="number_of_hours"/>
                            <xsd:element name="decimal_point"/>
                            <xsd:element name="tenth_of_hour"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="1">
                      <xsd:element name="unit_name" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="weapon_systems_under_airborne_early_warning_control">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="icao_base_code" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="naew_aircraft_role" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="airborne_early_warning_control_type" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="controlled_aircraft_call_sign" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="number_of_aircraft_under_airborne_early_warning_control" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="designated_area_name" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="number_of_control_events" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="air_contact_information_segment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="air_contact_information">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="link_11_11b_track_number" type="xsd:string"/>
                      <xsd:element name="common_nato_track_number" type="xsd:string"/>
                      <xsd:element name="undefined_link_16_track_number_reference" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="aircraft_by_type_model_or_code" type="xsd:string"/>
                      <xsd:element name="aircraft_type_and_model_other" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="credibility" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="number_of_aircraft_1_99" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="altitude_hundreds_of_feet" type="xsd:string"/>
                      <xsd:element name="flight_level">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="flight_level_data_qualifier"/>
                            <xsd:element name="flight_level_number"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="country" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="naval_contact_information">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="link_11_11b_track_number" type="xsd:string"/>
                      <xsd:element name="common_nato_track_number" type="xsd:string"/>
                      <xsd:element name="link_16_track_number" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="ship_name" type="xsd:string"/>
                      <xsd:element name="ship_class_name" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="geographical_entity" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="1" name="time_and_position">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="day_time_of_position">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitude_degrees"/>
                            <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="longitude_degrees"/>
                            <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="longitudinal_hemisphere"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_transverse_mercator_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="utm_1_metre_higher_order_easting"/>
                            <xsd:element name="utm_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="mgrs_utm_grid_latitude_band"/>
                            <xsd:element name="mgrs_utm_100km_box"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_polar_stereographic_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="ups_1_metre_higher_order_x"/>
                            <xsd:element name="ups_1_metre_higher_order_y"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                            <xsd:element name="mgrs_ups_100km_square_column"/>
                            <xsd:element name="mgrs_ups_100km_square_row"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="contact_course_degrees_true">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="context_quantity_000_359"/>
                            <xsd:element name="angular_measurement_reference_true"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="contact_speed_knots">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="context_quantity_0_3_decimal_pt_permitted"/>
                            <xsd:element name="unit_of_speed_measurement_knots"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="asw_mission_event" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="sensor_platform" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="acoustic_sensor" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="acoustic_information_source" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="number_of_detecting_sensors" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="navigation_accuracy_yards_metres_or_nautical_miles">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="context_quantity_0_3_decimal_pt_permitted"/>
                            <xsd:element name="unit_of_linear_measurement_yd_m_or_nautical_miles"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="alphamonth_year">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="month_name_abbreviated"/>
                            <xsd:element name="year"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="non_acoustic_emission_intercept">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="standard_emitter_designation" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="credibility" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="elint_notation" type="xsd:string"/>
                      <xsd:element name="sorting_code" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="radio_radar_function" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="crystal_frequency">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="context_quantity_decimal_pt_permitted_11_char_max"/>
                            <xsd:element name="unit_of_electromagnetic_emission_measurement"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="crystal_countdown" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="friendly_forces_segment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="friendly_forces">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="1">
                      <xsd:element name="number_of_cooperating_forces" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="1">
                      <xsd:element name="unit_1" type="xsd:string"/>
                      <xsd:element name="naval_vessel_type" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="1" name="friendly_forces_position">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit" type="xsd:string"/>
                      <xsd:element name="tasked_unit_designator">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="naval_level_of_echelon"/>
                            <xsd:element name="naval_organization_numeric_designator"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitude_degrees"/>
                            <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="longitude_degrees"/>
                            <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="longitudinal_hemisphere"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_transverse_mercator_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="utm_1_metre_higher_order_easting"/>
                            <xsd:element name="utm_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="mgrs_utm_grid_latitude_band"/>
                            <xsd:element name="mgrs_utm_100km_box"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_polar_stereographic_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="ups_1_metre_higher_order_x"/>
                            <xsd:element name="ups_1_metre_higher_order_y"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                            <xsd:element name="mgrs_ups_100km_square_column"/>
                            <xsd:element name="mgrs_ups_100km_square_row"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                      <xsd:element name="geographic_position_georef_centiminute">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="fifteen_degree_quadrilateral_georef"/>
                            <xsd:element name="one_degree_quadrilateral_georef"/>
                            <xsd:element name="minute_easting_georef"/>
                            <xsd:element name="centiminute_angular"/>
                            <xsd:element name="minute_northing_georef"/>
                            <xsd:element name="centiminute_angular"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="place_name_extended" type="xsd:string"/>
                      <xsd:element name="true_bearing_and_distance_in_nm_from_reference_point">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="direction_in_degrees_true"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="reference_point_name"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="distance_in_nautical_miles"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="port_code" type="xsd:string"/>
                      <xsd:element name="bearing_and_distance_in_nm_from_reference_point">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="context_quantity_decimal_pt_for_tenth_perm_5_char_max"/>
                            <xsd:element name="angular_measurement_reference"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="reference_point_name_12_characters"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="context_quantity_0_4_decimal_pt_permitted"/>
                            <xsd:element name="units_of_linear_measurement_nautical_miles"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="true_bearing_and_distance_from_ref_point">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="context_quantity_decimal_pt_for_tenth_perm_5_char_max"/>
                            <xsd:element name="angular_measurement_reference_true"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="bearing_distance_reference_point_name"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="context_quantity_0_1_to_99999_0_1_decimal_pt_permitted"/>
                            <xsd:element name="unit_of_linear_measurement_yd_m_or_nautical_miles"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="q_route_position">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="q_route_number"/>
                            <xsd:element name="q_route_point_designator"/>
                            <xsd:element name="distance_in_nautical_miles_from_a_q_route_point"/>
                            <xsd:element name="q_route_lateral_displacement_qualifier"/>
                            <xsd:element name="lateral_displacement_from_a_q_route_track_in_tens_of_yds"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="bearing_and_distance">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="context_quantity_decimal_pt_for_tenth_perm_5_char_max"/>
                            <xsd:element name="angular_measurement_reference_true"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="context_quantity_0_1_to_99999_0_1_decimal_pt_permitted"/>
                            <xsd:element name="unit_of_linear_measurement_yd_m_or_nautical_miles"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="position_true_bearing_and_range_in_nm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="direction_in_degrees_true"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="bearing_distance_reference_point_name"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="distance_in_nautical_miles_0_999"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places_verified">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitude_degrees"/>
                            <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="context_quantity_0_9"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="longitude_degrees"/>
                            <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="longitudinal_hemisphere"/>
                            <xsd:element name="context_quantity_0_9"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="day_time_of_position">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="friendly_force_course_true_and_speed_knots">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="context_quantity_000_359"/>
                            <xsd:element name="angular_measurement_reference_true"/>
                            <xsd:element name="context_quantity_decimal_pt_permitted_3_char_max"/>
                            <xsd:element name="unit_of_speed_measurement_knots"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="course_and_approximate_speed">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="context_quantity_000_359"/>
                            <xsd:element name="angular_measurement_reference_true"/>
                            <xsd:element name="speed_approximate"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="geographic_entities_notional_and_actual" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="discrete_identifier" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="electronic_warfare_support_intercept_data_segment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="electronic_warfare_support_intercept_data">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="intercept_serial_number" type="xsd:string"/>
                      <xsd:element name="exercise_intercept_serial_number" type="xsd:string"/>
                      <xsd:element name="message_serial_number" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitude_degrees"/>
                            <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="longitude_degrees"/>
                            <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="longitudinal_hemisphere"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_transverse_mercator_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="utm_1_metre_higher_order_easting"/>
                            <xsd:element name="utm_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="mgrs_utm_grid_latitude_band"/>
                            <xsd:element name="mgrs_utm_100km_box"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_polar_stereographic_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="ups_1_metre_higher_order_x"/>
                            <xsd:element name="ups_1_metre_higher_order_y"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                            <xsd:element name="mgrs_ups_100km_square_column"/>
                            <xsd:element name="mgrs_ups_100km_square_row"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="day_time_of_intercept">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="bearing_001_360_in_degrees_true" type="xsd:string"/>
                      <xsd:element name="bearing_of_signal_from_intercepting_platform_degrees_true">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="context_quantity_000_359"/>
                            <xsd:element name="angular_measurement_reference_true"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="emitter_evaluation" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="crystal_frequency_in_kilohertz" type="xsd:string"/>
                      <xsd:element name="radio_frequency">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="context_quantity_decimal_pt_permitted_11_char_max"/>
                            <xsd:element name="unit_of_electromagnetic_emission_measurement"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="frequency_band_and_channel">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="alphabetic_identifier_freqency_band"/>
                            <xsd:element name="communications_channel_number"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="ew_confidence_level" type="xsd:string"/>
                      <xsd:element name="ew_credibility" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="exercise_designator">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="exercise_alphabetic_identifier"/>
                            <xsd:element name="contact_designator"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="exercise_platform_emitting_signal_serial_number" type="xsd:string"/>
                      <xsd:element name="platform_emitting_signal_serial_number" type="xsd:string"/>
                      <xsd:element name="platform_designator" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="1" name="electronic_support_measures_fix_data">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="esm_location_type" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitude_degrees"/>
                            <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="longitude_degrees"/>
                            <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="longitudinal_hemisphere"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_transverse_mercator_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="utm_1_metre_higher_order_easting"/>
                            <xsd:element name="utm_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="mgrs_utm_grid_latitude_band"/>
                            <xsd:element name="mgrs_utm_100km_box"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_polar_stereographic_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="ups_1_metre_higher_order_x"/>
                            <xsd:element name="ups_1_metre_higher_order_y"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                            <xsd:element name="mgrs_ups_100km_square_column"/>
                            <xsd:element name="mgrs_ups_100km_square_row"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="accuracy_nautical_miles">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="context_quantity_1_9999"/>
                            <xsd:element name="units_of_linear_measurement_nautical_miles"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="course_degrees_true">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="context_quantity_000_359"/>
                            <xsd:element name="angular_measurement_reference_true"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="speed_of_movement_of_emitter_contact">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="context_quantity_1_999"/>
                            <xsd:element name="speed_in_kph_kts_mph"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="electronic_counter_measure_ecm_or_interference">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="equipment_type_affected_by_ecm_or_interference" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="day_time_start">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="day_time_stop">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="jamming_type" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="scheduled_ecm_interference" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="day_time_of_report">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="problem_areas">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="airborne_early_warning_aew_main_problem_area" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="airborne_early_warning_aew_sub_problem_area" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="comments" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="remarks" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
