miliconvert/format-docs/trunk/bl13/schemas/battlefield_recovery_evacuation_task.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13">
  <xsd:element name="battlefield_recovery_evacuation_task">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="exercise_identification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="exercise_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="exercise_additional_identifier" type="xsd:string"/>
                <xsd:element name="exercise_additional_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="operation_codeword">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="operation_codeword" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="plan_originator_and_number">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="plan_originator"/>
                      <xsd:element name="blank_space_character"/>
                      <xsd:element name="plan_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="option_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="secondary_option_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="message_identifier">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="standard_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="version_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="month_name_abbreviated" type="xsd:string"/>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="serial_number_of_qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_policy" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_classification_extended" type="xsd:string"/>
                <xsd:element name="message_security_classification" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_security_category" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="reference">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="serial_letter" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
                <xsd:element name="communication_type" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="dtg_of_reference_4_digit_yr">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_yyyymmdd">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="month_year">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year_4_digit"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="reference_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="special_notation" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="sic" type="xsd:string"/>
                <xsd:element name="filing_number" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="geodetic_datum">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="geodetic_datum" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="date_time_group">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="dtg">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="organization_designator_of_drafter_releaser">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_designation_name" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_size_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="geographical_entity" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_role_indicator_code_a" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_role_indicator_code_b" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_role_indicator_code_c" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_role_indicator_code_d" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="higher_formation_name" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="armed_service" type="xsd:string"/>
                <xsd:element name="civilian_agency_code" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="unit_identification_code_uic">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="nationality"/>
                      <xsd:element name="armed_service"/>
                      <xsd:element name="file_sequential_location_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="map_data_without_geodetic_datum">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="map_or_chart_series_designator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="map_or_chart_suffix_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="map_or_chart_sheet_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="map_or_chart_edition_number" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="tasked_organization_designator_segment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="tasked_organization_designator">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit_designation_name" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit_size_indicator" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="geographical_entity" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit_role_indicator_code_a" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit_role_indicator_code_b" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit_role_indicator_code_c" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit_role_indicator_code_d" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="higher_formation_name" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="armed_service" type="xsd:string"/>
                      <xsd:element name="civilian_agency_code" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="unit_identification_code_uic">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="nationality"/>
                            <xsd:element name="armed_service"/>
                            <xsd:element name="file_sequential_location_number"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="1" name="assisted_organization_designator_segment">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="assisted_organization_designator">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="unit_designation_name" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="unit_size_indicator" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="geographical_entity" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="unit_role_indicator_code_a" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="unit_role_indicator_code_b" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="unit_role_indicator_code_c" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="unit_role_indicator_code_d" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="higher_formation_name" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="armed_service" type="xsd:string"/>
                            <xsd:element name="civilian_agency_code" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="0">
                            <xsd:element name="unit_identification_code_uic">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="nationality"/>
                                  <xsd:element name="armed_service"/>
                                  <xsd:element name="file_sequential_location_number"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="geographic_location_of_vehicles_segment">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="geographic_location_of_vehicles">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="stage_of_confirmation" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="type_of_graphic_shape" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="unbounded" minOccurs="1">
                                  <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="latitude_degrees"/>
                                        <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="hyphen"/>
                                        <xsd:element name="longitude_degrees"/>
                                        <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="longitudinal_hemisphere"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="universal_transverse_mercator_utm">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="utm_grid_zone"/>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="utm_1_metre_higher_order_easting"/>
                                        <xsd:element name="utm_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="utm_grid_zone"/>
                                        <xsd:element name="mgrs_utm_grid_latitude_band"/>
                                        <xsd:element name="mgrs_utm_100km_box"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="universal_polar_stereographic_ups">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="ups_1_metre_higher_order_x"/>
                                        <xsd:element name="ups_1_metre_higher_order_y"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                                        <xsd:element name="mgrs_ups_100km_square_column"/>
                                        <xsd:element name="mgrs_ups_100km_square_row"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="unbounded" minOccurs="1" name="vehicle_recovery_and_evacuation_data_segment">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="vehicle_recovery_and_evacuation_data">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="request_number" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="vehicle_make" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="vehicle_type" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="vehicle_registration_mark" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="capability_of_vehicle_to_be_towed" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="recovery_or_evacuation_requirement" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="crew_available" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="1" minOccurs="0">
                                        <xsd:element name="vehicle_repairability" type="xsd:string"/>
                                      </xsd:choice>
                                    </xsd:sequence>
                                    <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                                    <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="1" minOccurs="1" name="receiving_organization_designator">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="unit_designation_name" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="unit_size_indicator" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="geographical_entity" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="unit_role_indicator_code_a" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="unit_role_indicator_code_b" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="unit_role_indicator_code_c" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="unit_role_indicator_code_d" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="higher_formation_name" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="armed_service" type="xsd:string"/>
                                        <xsd:element name="civilian_agency_code" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="1" minOccurs="0">
                                        <xsd:element name="unit_identification_code_uic">
                                          <xsd:complexType>
                                            <xsd:sequence>
                                              <xsd:element name="nationality"/>
                                              <xsd:element name="armed_service"/>
                                              <xsd:element name="file_sequential_location_number"/>
                                            </xsd:sequence>
                                          </xsd:complexType>
                                        </xsd:element>
                                      </xsd:choice>
                                    </xsd:sequence>
                                    <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                                    <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="1" minOccurs="1" name="geographic_location_of_destination">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="stage_of_confirmation" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="type_of_graphic_shape" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="unbounded" minOccurs="1">
                                        <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                                          <xsd:complexType>
                                            <xsd:sequence>
                                              <xsd:element name="latitude_degrees"/>
                                              <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                              <xsd:element name="latitudinal_hemisphere"/>
                                              <xsd:element name="hyphen"/>
                                              <xsd:element name="longitude_degrees"/>
                                              <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                              <xsd:element name="longitudinal_hemisphere"/>
                                            </xsd:sequence>
                                          </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="universal_transverse_mercator_utm">
                                          <xsd:complexType>
                                            <xsd:sequence>
                                              <xsd:element name="utm_grid_zone"/>
                                              <xsd:element name="latitudinal_hemisphere"/>
                                              <xsd:element name="utm_1_metre_higher_order_easting"/>
                                              <xsd:element name="utm_1_metre_higher_order_northing"/>
                                            </xsd:sequence>
                                          </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                                          <xsd:complexType>
                                            <xsd:sequence>
                                              <xsd:element name="utm_grid_zone"/>
                                              <xsd:element name="mgrs_utm_grid_latitude_band"/>
                                              <xsd:element name="mgrs_utm_100km_box"/>
                                              <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                              <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                            </xsd:sequence>
                                          </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="universal_polar_stereographic_ups">
                                          <xsd:complexType>
                                            <xsd:sequence>
                                              <xsd:element name="latitudinal_hemisphere"/>
                                              <xsd:element name="ups_1_metre_higher_order_x"/>
                                              <xsd:element name="ups_1_metre_higher_order_y"/>
                                            </xsd:sequence>
                                          </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                                          <xsd:complexType>
                                            <xsd:sequence>
                                              <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                                              <xsd:element name="mgrs_ups_100km_square_column"/>
                                              <xsd:element name="mgrs_ups_100km_square_row"/>
                                              <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                              <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                            </xsd:sequence>
                                          </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                                      </xsd:choice>
                                    </xsd:sequence>
                                    <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                                    <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="1" minOccurs="1" name="cargo_on_board">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="general_load_indicator" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="unbounded" minOccurs="0">
                                        <xsd:element name="nato_standard_fuel_type" type="xsd:string"/>
                                        <xsd:element name="water_type" type="xsd:string"/>
                                        <xsd:element name="type_of_solid_cargo_ammunition" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="unbounded" minOccurs="0">
                                        <xsd:element name="quantity_and_unit_of_measurement_of_cargo_types">
                                          <xsd:complexType>
                                            <xsd:sequence>
                                              <xsd:element name="context_quantity_1_9999_decimal_pt_permitted"/>
                                              <xsd:element name="unit_of_cargo_measurement"/>
                                            </xsd:sequence>
                                          </xsd:complexType>
                                        </xsd:element>
                                      </xsd:choice>
                                    </xsd:sequence>
                                    <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                                    <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="1" minOccurs="0" name="special_equipment_required">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                      <xsd:choice maxOccurs="unbounded" minOccurs="1">
                                        <xsd:element name="battlefield_recovery_equipment" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="unbounded" minOccurs="1">
                                        <xsd:element name="context_quantity_1_99" type="xsd:string"/>
                                      </xsd:choice>
                                    </xsd:sequence>
                                    <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                                    <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="1" minOccurs="0" name="additional_services_required">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="text_indicator" type="xsd:string"/>
                                      </xsd:choice>
                                      <xsd:choice maxOccurs="1" minOccurs="1">
                                        <xsd:element name="free_text" type="xsd:string"/>
                                      </xsd:choice>
                                    </xsd:sequence>
                                    <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                                    <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="0" name="obstruction">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="status_of_confirmation" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="obstruction_type" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="shape_of_obstacle" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="unbounded" minOccurs="1">
                                  <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="latitude_degrees"/>
                                        <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="hyphen"/>
                                        <xsd:element name="longitude_degrees"/>
                                        <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="longitudinal_hemisphere"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="universal_transverse_mercator_utm">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="utm_grid_zone"/>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="utm_1_metre_higher_order_easting"/>
                                        <xsd:element name="utm_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="utm_grid_zone"/>
                                        <xsd:element name="mgrs_utm_grid_latitude_band"/>
                                        <xsd:element name="mgrs_utm_100km_box"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="universal_polar_stereographic_ups">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="ups_1_metre_higher_order_x"/>
                                        <xsd:element name="ups_1_metre_higher_order_y"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                                        <xsd:element name="mgrs_ups_100km_square_column"/>
                                        <xsd:element name="mgrs_ups_100km_square_row"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="0" name="mission_refuelling_location_and_fuel_information">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="latitude_degrees"/>
                                        <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="hyphen"/>
                                        <xsd:element name="longitude_degrees"/>
                                        <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="longitudinal_hemisphere"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="universal_transverse_mercator_utm">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="utm_grid_zone"/>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="utm_1_metre_higher_order_easting"/>
                                        <xsd:element name="utm_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="utm_grid_zone"/>
                                        <xsd:element name="mgrs_utm_grid_latitude_band"/>
                                        <xsd:element name="mgrs_utm_100km_box"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="universal_polar_stereographic_ups">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="ups_1_metre_higher_order_x"/>
                                        <xsd:element name="ups_1_metre_higher_order_y"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                                        <xsd:element name="mgrs_ups_100km_square_column"/>
                                        <xsd:element name="mgrs_ups_100km_square_row"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                                  <xsd:element name="icao_location_indicator" type="xsd:string"/>
                                  <xsd:element name="location_or_position_name" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="fuel_quantity">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="context_quantity_decimal_pt_permitted_12_char_max"/>
                                        <xsd:element name="unit_of_fuel_measurement"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:choice>
                                <xsd:choice maxOccurs="2" minOccurs="2">
                                  <xsd:element name="nato_standard_fuel_type" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="0">
                                  <xsd:element name="explanation" type="xsd:string"/>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="1" name="rendezvous_indicator">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="affirmative_or_negative_indicator" type="xsd:string"/>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="0" name="geographic_location">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="stage_of_confirmation" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="type_of_graphic_shape" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="unbounded" minOccurs="1">
                                  <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="latitude_degrees"/>
                                        <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="hyphen"/>
                                        <xsd:element name="longitude_degrees"/>
                                        <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="longitudinal_hemisphere"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="universal_transverse_mercator_utm">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="utm_grid_zone"/>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="utm_1_metre_higher_order_easting"/>
                                        <xsd:element name="utm_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="utm_grid_zone"/>
                                        <xsd:element name="mgrs_utm_grid_latitude_band"/>
                                        <xsd:element name="mgrs_utm_100km_box"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="universal_polar_stereographic_ups">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="ups_1_metre_higher_order_x"/>
                                        <xsd:element name="ups_1_metre_higher_order_y"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                                        <xsd:element name="mgrs_ups_100km_square_column"/>
                                        <xsd:element name="mgrs_ups_100km_square_row"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="0" name="date_time_group">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="dtg">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="day"/>
                                        <xsd:element name="hour_time"/>
                                        <xsd:element name="minute_time"/>
                                        <xsd:element name="time_zone"/>
                                        <xsd:element name="month_name_abbreviated"/>
                                        <xsd:element name="year"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="0" name="recovery_communications">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="assisted_unit_call_sign" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="radio_frequency">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="context_quantity_decimal_pt_permitted_11_char_max"/>
                                        <xsd:element name="unit_of_electromagnetic_emission_measurement"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="remarks" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
