miliconvert/format-docs/trunk/bl13/schemas/civil_military_cooperation_report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13">
  <xsd:element name="civil_military_cooperation_report">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="exercise_identification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="exercise_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="exercise_additional_identifier" type="xsd:string"/>
                <xsd:element name="exercise_additional_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="operation_codeword">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="operation_codeword" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="plan_originator_and_number">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="plan_originator"/>
                      <xsd:element name="blank_space_character"/>
                      <xsd:element name="plan_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="option_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="secondary_option_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="message_identifier">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="standard_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="version_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="month_name_abbreviated" type="xsd:string"/>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="serial_number_of_qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_policy" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_classification_extended" type="xsd:string"/>
                <xsd:element name="message_security_classification" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_security_category" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="reference">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="serial_letter" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
                <xsd:element name="communication_type" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="dtg_of_reference_4_digit_yr">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_yyyymmdd">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="month_year">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year_4_digit"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="reference_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="special_notation" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="sic" type="xsd:string"/>
                <xsd:element name="filing_number" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="geodetic_datum">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="geodetic_datum" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="date_time_group">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="dtg">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="organization_designator_of_drafter_releaser">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_designation_name" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_size_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="geographical_entity" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_role_indicator_code_a" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_role_indicator_code_b" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_role_indicator_code_c" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_role_indicator_code_d" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="higher_formation_name" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="armed_service" type="xsd:string"/>
                <xsd:element name="civilian_agency_code" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="unit_identification_code_uic">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="nationality"/>
                      <xsd:element name="armed_service"/>
                      <xsd:element name="file_sequential_location_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="map_data_without_geodetic_datum">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="map_or_chart_series_designator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="map_or_chart_suffix_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="map_or_chart_sheet_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="map_or_chart_edition_number" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="nation_or_nationality">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="geographical_entity" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="hns_icr_coordination">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="host_nation_support_intra_country_resource_acquisitions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="hns_icr_request_number" type="xsd:string"/>
                <xsd:element name="support_description" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="amount_of_currency">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="context_quantity_0_3_decimal_pt_permitted"/>
                      <xsd:element name="magnitude_indicator"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="geographical_entity" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="name_of_currency" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="current_negotiations">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="host_nation_concerns">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="civil_emergency_planning">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="freedom_of_action">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="civil_support">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="civil_government_actions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="emergency_legislation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="population_control_and_protection">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="stay_put_policy">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="location_and_nearest_feature_of_safe_area">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="geographic_place_name" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="1">
                <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="latitude_degrees"/>
                      <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                      <xsd:element name="latitudinal_hemisphere"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="longitude_degrees"/>
                      <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                      <xsd:element name="longitudinal_hemisphere"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="universal_transverse_mercator_utm">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="utm_grid_zone"/>
                      <xsd:element name="latitudinal_hemisphere"/>
                      <xsd:element name="utm_1_metre_higher_order_easting"/>
                      <xsd:element name="utm_1_metre_higher_order_northing"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="utm_grid_zone"/>
                      <xsd:element name="mgrs_utm_grid_latitude_band"/>
                      <xsd:element name="mgrs_utm_100km_box"/>
                      <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                      <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="universal_polar_stereographic_ups">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="latitudinal_hemisphere"/>
                      <xsd:element name="ups_1_metre_higher_order_x"/>
                      <xsd:element name="ups_1_metre_higher_order_y"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                      <xsd:element name="mgrs_ups_100km_square_column"/>
                      <xsd:element name="mgrs_ups_100km_square_row"/>
                      <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                      <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="evacuation_measures">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="reception_areas_and_evacuation_routes_indicator_segment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="reception_areas_and_evacuation_routes_indicator">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="reception_areas_indicator" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="evacuation_routes_indicator" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="1" name="location_nearest_feature_and_status_segment">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="location_nearest_feature_and_status">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="area_status" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="geographic_place_name" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="unbounded" minOccurs="1">
                            <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitude_degrees"/>
                                  <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="hyphen"/>
                                  <xsd:element name="longitude_degrees"/>
                                  <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="longitudinal_hemisphere"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="universal_transverse_mercator_utm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="utm_grid_zone"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="utm_1_metre_higher_order_easting"/>
                                  <xsd:element name="utm_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="utm_grid_zone"/>
                                  <xsd:element name="mgrs_utm_grid_latitude_band"/>
                                  <xsd:element name="mgrs_utm_100km_box"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="universal_polar_stereographic_ups">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="ups_1_metre_higher_order_x"/>
                                  <xsd:element name="ups_1_metre_higher_order_y"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                                  <xsd:element name="mgrs_ups_100km_square_column"/>
                                  <xsd:element name="mgrs_ups_100km_square_row"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="reception_area_capacity">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="reception_area_capacity" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="number_of_refugees_received_in_reception_area" type="xsd:string"/>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="1" name="route_start_point_segment">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="route_start_point">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitude_degrees"/>
                                  <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="hyphen"/>
                                  <xsd:element name="longitude_degrees"/>
                                  <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="longitudinal_hemisphere"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="universal_transverse_mercator_utm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="utm_grid_zone"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="utm_1_metre_higher_order_easting"/>
                                  <xsd:element name="utm_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="utm_grid_zone"/>
                                  <xsd:element name="mgrs_utm_grid_latitude_band"/>
                                  <xsd:element name="mgrs_utm_100km_box"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="universal_polar_stereographic_ups">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="ups_1_metre_higher_order_x"/>
                                  <xsd:element name="ups_1_metre_higher_order_y"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                                  <xsd:element name="mgrs_ups_100km_square_column"/>
                                  <xsd:element name="mgrs_ups_100km_square_row"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="0">
                            <xsd:element name="geographic_place_name" type="xsd:string"/>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="route_intermediate_point">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="intermediate_point_number" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitude_degrees"/>
                                  <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="hyphen"/>
                                  <xsd:element name="longitude_degrees"/>
                                  <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="longitudinal_hemisphere"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="universal_transverse_mercator_utm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="utm_grid_zone"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="utm_1_metre_higher_order_easting"/>
                                  <xsd:element name="utm_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="utm_grid_zone"/>
                                  <xsd:element name="mgrs_utm_grid_latitude_band"/>
                                  <xsd:element name="mgrs_utm_100km_box"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="universal_polar_stereographic_ups">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="ups_1_metre_higher_order_x"/>
                                  <xsd:element name="ups_1_metre_higher_order_y"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                                  <xsd:element name="mgrs_ups_100km_square_column"/>
                                  <xsd:element name="mgrs_ups_100km_square_row"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="0">
                            <xsd:element name="geographic_place_name" type="xsd:string"/>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="route_release_point">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitude_degrees"/>
                                  <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="hyphen"/>
                                  <xsd:element name="longitude_degrees"/>
                                  <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="longitudinal_hemisphere"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="universal_transverse_mercator_utm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="utm_grid_zone"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="utm_1_metre_higher_order_easting"/>
                                  <xsd:element name="utm_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="utm_grid_zone"/>
                                  <xsd:element name="mgrs_utm_grid_latitude_band"/>
                                  <xsd:element name="mgrs_utm_100km_box"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="universal_polar_stereographic_ups">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="ups_1_metre_higher_order_x"/>
                                  <xsd:element name="ups_1_metre_higher_order_y"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                                  <xsd:element name="mgrs_ups_100km_square_column"/>
                                  <xsd:element name="mgrs_ups_100km_square_row"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="0">
                            <xsd:element name="geographic_place_name" type="xsd:string"/>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="unit_name_and_nationality">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_designation_name" type="xsd:string"/>
                <xsd:element name="warring_faction" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="geographical_entity" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="refugee_movements">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="reception_evacuation_concerns">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="reception_evac_assessment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="civil_military_cooperation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="hearts_and_minds_operations">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="humanitarian_aid_programmes">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="reforming_civil_infrastructure">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="other_areas_of_concern">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="other_assessment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="remarks" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
