miliconvert/format-docs/trunk/bl13/schemas/deployment_report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13">
  <xsd:element name="deployment_report">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="exercise_identification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="exercise_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="exercise_additional_identifier" type="xsd:string"/>
                <xsd:element name="exercise_additional_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="operation_codeword">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="operation_codeword" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="plan_originator_and_number">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="plan_originator"/>
                      <xsd:element name="blank_space_character"/>
                      <xsd:element name="plan_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="option_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="secondary_option_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="message_identifier">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="standard_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="version_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="month_name_abbreviated" type="xsd:string"/>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="serial_number_of_qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_policy" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_classification_extended" type="xsd:string"/>
                <xsd:element name="message_security_classification" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_security_category" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="reference">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="serial_letter" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
                <xsd:element name="communication_type" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="dtg_of_reference_4_digit_yr">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_yyyymmdd">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="month_year">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year_4_digit"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="reference_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="special_notation" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="sic" type="xsd:string"/>
                <xsd:element name="filing_number" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="date_time_group">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="dtg">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="organization_designator_of_drafter_releaser">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_designation_name" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_size_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="geographical_entity" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_role_indicator_code_a" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_role_indicator_code_b" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_role_indicator_code_c" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_role_indicator_code_d" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="higher_formation_name" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="armed_service" type="xsd:string"/>
                <xsd:element name="civilian_agency_code" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="unit_identification_code_uic">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="nationality"/>
                      <xsd:element name="armed_service"/>
                      <xsd:element name="file_sequential_location_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="map_data_without_geodetic_datum">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="map_or_chart_series_designator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="map_or_chart_suffix_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="map_or_chart_sheet_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="map_or_chart_edition_number" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="geodetic_datum">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="geodetic_datum" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="deployment_plan">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="heading_information" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="organization_designator_of_unit_being_reported_on_segment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="organization_designator_of_unit_being_reported_on">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit_designation_name" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit_size_indicator" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="geographical_entity" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit_role_indicator_code_a" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit_role_indicator_code_b" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit_role_indicator_code_c" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit_role_indicator_code_d" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="higher_formation_name" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="armed_service" type="xsd:string"/>
                      <xsd:element name="civilian_agency_code" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="unit_identification_code_uic">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="nationality"/>
                            <xsd:element name="armed_service"/>
                            <xsd:element name="file_sequential_location_number"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="1" name="homebase_or_starting_point_of_a_unit_to_be_deployed">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="name_of_nearest_town" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="country" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="alphabetic_identifier_homebase_or_starting_point" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="1" name="event_time_frame">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="start_date_time_z_of_event_yyyymmddhhmmss">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="end_date_time_z_of_event_yyyymmddhhmmss">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="remarks" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="1" name="mode_and_load">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="sor_number" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="period_considered" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="mode_of_transport" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="number_of_passengers" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="length_in_lane_metres_1___9999" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="number_and_type_of_containers">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="context_quantity_1_9999"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="type_of_container_movements_and_transportation_msgs_"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="cargo_weight_in_metric_tons" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="1" name="point_of_embarkation_details_segment">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="point_of_embarkation_details">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="embarkation_disembarkation_location_qualifier" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitude_degrees"/>
                                  <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="hyphen"/>
                                  <xsd:element name="longitude_degrees"/>
                                  <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="longitudinal_hemisphere"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="universal_transverse_mercator_utm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="utm_grid_zone"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="utm_1_metre_higher_order_easting"/>
                                  <xsd:element name="utm_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="utm_grid_zone"/>
                                  <xsd:element name="mgrs_utm_grid_latitude_band"/>
                                  <xsd:element name="mgrs_utm_100km_box"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="universal_polar_stereographic_ups">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="ups_1_metre_higher_order_x"/>
                                  <xsd:element name="ups_1_metre_higher_order_y"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                                  <xsd:element name="mgrs_ups_100km_square_column"/>
                                  <xsd:element name="mgrs_ups_100km_square_row"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                            <xsd:element name="name_of_nearest_town" type="xsd:string"/>
                            <xsd:element name="geographic_area_description" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="0">
                            <xsd:element name="geographic_position_georef_minute">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="fifteen_degree_quadrilateral_georef"/>
                                  <xsd:element name="one_degree_quadrilateral_georef"/>
                                  <xsd:element name="minute_easting_georef"/>
                                  <xsd:element name="minute_northing_georef"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="point_of_contact_information">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="contact_name" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="rank_or_position" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="unit_designator" type="xsd:string"/>
                            <xsd:element name="contact_call_sign" type="xsd:string"/>
                            <xsd:element name="unit_identification_code_uic2">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="nationality_2a"/>
                                  <xsd:element name="armed_service"/>
                                  <xsd:element name="file_sequential_location_number"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="unit_identification_code_uic3">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="nationality_3a"/>
                                  <xsd:element name="armed_service"/>
                                  <xsd:element name="file_sequential_location_number"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitude_degrees"/>
                                  <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="hyphen"/>
                                  <xsd:element name="longitude_degrees"/>
                                  <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="longitudinal_hemisphere"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="universal_transverse_mercator_utm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="utm_grid_zone"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="utm_1_metre_higher_order_easting"/>
                                  <xsd:element name="utm_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="utm_grid_zone"/>
                                  <xsd:element name="mgrs_utm_grid_latitude_band"/>
                                  <xsd:element name="mgrs_utm_100km_box"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="universal_polar_stereographic_ups">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="ups_1_metre_higher_order_x"/>
                                  <xsd:element name="ups_1_metre_higher_order_y"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                                  <xsd:element name="mgrs_ups_100km_square_column"/>
                                  <xsd:element name="mgrs_ups_100km_square_row"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                            <xsd:element name="location_name" type="xsd:string"/>
                            <xsd:element name="icao_base_code" type="xsd:string"/>
                            <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places_verified">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitude_degrees"/>
                                  <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="context_quantity_0_9"/>
                                  <xsd:element name="hyphen"/>
                                  <xsd:element name="longitude_degrees"/>
                                  <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="longitudinal_hemisphere"/>
                                  <xsd:element name="context_quantity_0_9"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                          <xsd:choice maxOccurs="unbounded" minOccurs="1">
                            <xsd:element name="non_secure_telephone" type="xsd:string"/>
                            <xsd:element name="secure_telephone_number" type="xsd:string"/>
                            <xsd:element name="secure_facsimile_fax_number" type="xsd:string"/>
                            <xsd:element name="non_secure_facsimile_fax_number" type="xsd:string"/>
                            <xsd:element name="radio_frequency">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="context_quantity_decimal_pt_permitted_11_char_max"/>
                                  <xsd:element name="unit_of_electromagnetic_emission_measurement"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="frequency_designator" type="xsd:string"/>
                            <xsd:element name="frequency_mode_and_numeric">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="frequency_mode"/>
                                  <xsd:element name="context_quantity_decimal_pt_permitted_7_characters_max"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="electronic_mail_address" type="xsd:string"/>
                            <xsd:element name="secure_electronic_mail_address" type="xsd:string"/>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="additional_coordinating_information_poe">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="text_indicator" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="free_text" type="xsd:string"/>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="1" name="point_of_disembarkation_details_segment">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="point_of_disembarkation_details">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="embarkation_disembarkation_location_qualifier" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitude_degrees"/>
                                  <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="hyphen"/>
                                  <xsd:element name="longitude_degrees"/>
                                  <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="longitudinal_hemisphere"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="universal_transverse_mercator_utm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="utm_grid_zone"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="utm_1_metre_higher_order_easting"/>
                                  <xsd:element name="utm_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="utm_grid_zone"/>
                                  <xsd:element name="mgrs_utm_grid_latitude_band"/>
                                  <xsd:element name="mgrs_utm_100km_box"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="universal_polar_stereographic_ups">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="ups_1_metre_higher_order_x"/>
                                  <xsd:element name="ups_1_metre_higher_order_y"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                                  <xsd:element name="mgrs_ups_100km_square_column"/>
                                  <xsd:element name="mgrs_ups_100km_square_row"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                            <xsd:element name="name_of_nearest_town" type="xsd:string"/>
                            <xsd:element name="geographic_area_description" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="0">
                            <xsd:element name="geographic_position_georef_minute">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="fifteen_degree_quadrilateral_georef"/>
                                  <xsd:element name="one_degree_quadrilateral_georef"/>
                                  <xsd:element name="minute_easting_georef"/>
                                  <xsd:element name="minute_northing_georef"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="point_of_contact_information">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="contact_name" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="rank_or_position" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="unit_designator" type="xsd:string"/>
                            <xsd:element name="contact_call_sign" type="xsd:string"/>
                            <xsd:element name="unit_identification_code_uic2">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="nationality_2a"/>
                                  <xsd:element name="armed_service"/>
                                  <xsd:element name="file_sequential_location_number"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="unit_identification_code_uic3">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="nationality_3a"/>
                                  <xsd:element name="armed_service"/>
                                  <xsd:element name="file_sequential_location_number"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitude_degrees"/>
                                  <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="hyphen"/>
                                  <xsd:element name="longitude_degrees"/>
                                  <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="longitudinal_hemisphere"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="universal_transverse_mercator_utm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="utm_grid_zone"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="utm_1_metre_higher_order_easting"/>
                                  <xsd:element name="utm_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="utm_grid_zone"/>
                                  <xsd:element name="mgrs_utm_grid_latitude_band"/>
                                  <xsd:element name="mgrs_utm_100km_box"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="universal_polar_stereographic_ups">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="ups_1_metre_higher_order_x"/>
                                  <xsd:element name="ups_1_metre_higher_order_y"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                                  <xsd:element name="mgrs_ups_100km_square_column"/>
                                  <xsd:element name="mgrs_ups_100km_square_row"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                            <xsd:element name="location_name" type="xsd:string"/>
                            <xsd:element name="icao_base_code" type="xsd:string"/>
                            <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places_verified">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitude_degrees"/>
                                  <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="context_quantity_0_9"/>
                                  <xsd:element name="hyphen"/>
                                  <xsd:element name="longitude_degrees"/>
                                  <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="longitudinal_hemisphere"/>
                                  <xsd:element name="context_quantity_0_9"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                          <xsd:choice maxOccurs="unbounded" minOccurs="1">
                            <xsd:element name="non_secure_telephone" type="xsd:string"/>
                            <xsd:element name="secure_telephone_number" type="xsd:string"/>
                            <xsd:element name="secure_facsimile_fax_number" type="xsd:string"/>
                            <xsd:element name="non_secure_facsimile_fax_number" type="xsd:string"/>
                            <xsd:element name="radio_frequency">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="context_quantity_decimal_pt_permitted_11_char_max"/>
                                  <xsd:element name="unit_of_electromagnetic_emission_measurement"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="frequency_designator" type="xsd:string"/>
                            <xsd:element name="frequency_mode_and_numeric">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="frequency_mode"/>
                                  <xsd:element name="context_quantity_decimal_pt_permitted_7_characters_max"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="electronic_mail_address" type="xsd:string"/>
                            <xsd:element name="secure_electronic_mail_address" type="xsd:string"/>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="additional_coordinating_information_pod">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="text_indicator" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="free_text" type="xsd:string"/>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="1" name="destination_for_units_to_be_deployed">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="type_of_destination_area_shape" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="0">
                      <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitude_degrees"/>
                            <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="longitude_degrees"/>
                            <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="longitudinal_hemisphere"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_transverse_mercator_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="utm_1_metre_higher_order_easting"/>
                            <xsd:element name="utm_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="mgrs_utm_grid_latitude_band"/>
                            <xsd:element name="mgrs_utm_100km_box"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_polar_stereographic_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="ups_1_metre_higher_order_x"/>
                            <xsd:element name="ups_1_metre_higher_order_y"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                            <xsd:element name="mgrs_ups_100km_square_column"/>
                            <xsd:element name="mgrs_ups_100km_square_row"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="deployment_progress_and_critical_issues">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="remarks" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
