miliconvert/format-docs/trunk/bl13/schemas/naval_operational_defect.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13">
  <xsd:element name="naval_operational_defect">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="exercise_identification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="exercise_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="exercise_additional_identifier" type="xsd:string"/>
                <xsd:element name="exercise_additional_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="operation_codeword">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="operation_codeword" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="plan_originator_and_number">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="plan_originator"/>
                      <xsd:element name="blank_space_character"/>
                      <xsd:element name="plan_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="option_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="secondary_option_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="message_identifier">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="standard_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="version_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="month_name_abbreviated" type="xsd:string"/>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="serial_number_of_qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_policy" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_classification_extended" type="xsd:string"/>
                <xsd:element name="message_security_classification" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_security_category" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="reference">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="serial_letter" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
                <xsd:element name="communication_type" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="dtg_of_reference_4_digit_yr">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_yyyymmdd">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="month_year">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year_4_digit"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="reference_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="special_notation" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="sic" type="xsd:string"/>
                <xsd:element name="filing_number" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="maritime_operational_defect">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="opdef_number">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="ship_department_name"/>
                      <xsd:element name="blank_space_character"/>
                      <xsd:element name="sequential_number"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="opdef_qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="serial_number_of_qualifier" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="opdef_details">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="defect_effect_category" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="repair_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="opdef_severity" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="effect_on_operational_capability">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="defective_equipment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="equipment_common_name" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="defective_equipment_status" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="equipment_identifier_code" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="equipment_location" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="defective_part">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="equipment_common_name" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="defective_equipment_status" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="equipment_identifier_code" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="number_of_defective_items" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="equipment_serial_number" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="description_of_defect">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="estimated_time_to_repair">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="estimated_dtg_of_completion">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="estimated_time_to_repair_in_hours" type="xsd:string"/>
                <xsd:element name="estimated_time_to_repair_after_receipt_of_parts_in_hours" type="xsd:string"/>
                <xsd:element name="duration_in_days" type="xsd:string"/>
                <xsd:element name="event" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="repair_proposal">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="repair_constraints">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="assistance_required">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="assistance_required_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="geographic_place_name" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="available_start_date_ddmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="target_completion_date_ddmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="details_of_assistance_required">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="stores_demanded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="affirmative_or_negative_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="dtg_of_stores_message">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="reference_set_serial_letter" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="stores_details">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="special_requirements">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="equipment_common_name" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="security_implications">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="test_trial_requirements">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="point_of_contact">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="rank_or_position" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="contact_name" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_identifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="1">
                <xsd:element name="designation_of_telephone_number" type="xsd:string"/>
                <xsd:element name="secure_telephone_number" type="xsd:string"/>
                <xsd:element name="e_mail_address_30_characters_" type="xsd:string"/>
                <xsd:element name="fax_number" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="remarks" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
