miliconvert/format-docs/trunk/bl13/schemas/optask_logistic_multinational_logistic_commander_directive.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13">
  <xsd:element name="optask_logistic_multinational_logistic_commander_directive">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="exercise_identification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="exercise_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="exercise_additional_identifier" type="xsd:string"/>
                <xsd:element name="exercise_additional_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="operation_codeword">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="operation_codeword" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="plan_originator_and_number">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="plan_originator"/>
                      <xsd:element name="blank_space_character"/>
                      <xsd:element name="plan_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="option_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="secondary_option_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="message_identifier">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="standard_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="version_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="month_name_abbreviated" type="xsd:string"/>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="serial_number_of_qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_policy" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_classification_extended" type="xsd:string"/>
                <xsd:element name="message_security_classification" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_security_category" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="reference">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="serial_letter" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
                <xsd:element name="communication_type" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="dtg_of_reference_4_digit_yr">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_yyyymmdd">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="month_year">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year_4_digit"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="reference_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="special_notation" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="sic" type="xsd:string"/>
                <xsd:element name="filing_number" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="period_of_time">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="day_time_start">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_start">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="dtg_of_start">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="day_time_stop">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_stop">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="stop_time_qualifier" type="xsd:string"/>
                <xsd:element name="dtg_of_stop">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="day_time">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="dtg">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="logistics_plan">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="multinational_logistic_commander_organization">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="multinational_logistic_commander_identifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="medical_advisor_identifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="advanced_logistic_support_site_commander_identifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="1">
                <xsd:element name="forward_logistic_site_commander_identifier" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="medical_advisor_instructions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="advanced_logistic_support_site_instructions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="forward_logistic_site_instructions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="shuttle_tanker_instructions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="logistic_air_assets">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="mnlc_air_instruction_type" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="1">
                <xsd:element name="number_of_aircraft_allocated" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="1">
                <xsd:element name="aircraft_code" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="1">
                <xsd:element name="base_name" type="xsd:string"/>
                <xsd:element name="ship_name" type="xsd:string"/>
                <xsd:element name="icao_base_code" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="1">
                <xsd:element name="flight_mission_description" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="logistic_air_instructions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="reporting_instructions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="host_nations_support_requirements">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="special_instructions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="remarks" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
