miliconvert/format-docs/trunk/bl13/schemas/order_of_battle_transfer_of_authority_sea.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13">
  <xsd:element name="order_of_battle_transfer_of_authority_sea">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="exercise_identification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="exercise_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="exercise_additional_identifier" type="xsd:string"/>
                <xsd:element name="exercise_additional_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="operation_codeword">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="operation_codeword" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="plan_originator_and_number">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="plan_originator"/>
                      <xsd:element name="blank_space_character"/>
                      <xsd:element name="plan_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="option_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="secondary_option_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="message_identifier">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="standard_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="version_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="month_name_abbreviated" type="xsd:string"/>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="serial_number_of_qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_policy" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_classification_extended" type="xsd:string"/>
                <xsd:element name="message_security_classification" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_security_category" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="reference">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="serial_letter" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
                <xsd:element name="communication_type" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="dtg_of_reference_4_digit_yr">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_yyyymmdd">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="month_year">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year_4_digit"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="reference_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="special_notation" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="sic" type="xsd:string"/>
                <xsd:element name="filing_number" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="geodetic_datum">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="geodetic_datum" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="operation_plan">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="oplan_codeword" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="plan_originator_and_number">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="plan_originator"/>
                      <xsd:element name="blank_space_character"/>
                      <xsd:element name="plan_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="option_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="secondary_option_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="effective_date_time_month_segment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="effective_date_time_month">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="day_time_effective">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="date_time_month_verified">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                            <xsd:element name="context_quantity_0_9"/>
                            <xsd:element name="month_name_abbreviated"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="month_name_abbreviated" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="1" name="operational_command_segment">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="operational_command">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="operational_command" type="xsd:string"/>
                            <xsd:element name="delegated_command_uic">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="nationality"/>
                                  <xsd:element name="armed_service"/>
                                  <xsd:element name="file_sequential_location_number"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="naval_task_designator">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="naval_level_of_echelon"/>
                                  <xsd:element name="naval_organization_numeric_designator"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="operational_control_segment">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="operational_control">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="operational_control_authority" type="xsd:string"/>
                                  <xsd:element name="delegated_control_uic">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="nationality"/>
                                        <xsd:element name="armed_service"/>
                                        <xsd:element name="file_sequential_location_number"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="naval_task_designator">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="naval_level_of_echelon"/>
                                        <xsd:element name="naval_organization_numeric_designator"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="unbounded" minOccurs="0" name="mass_transfer">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="nationality" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="armed_service" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="unit_readiness_status" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="unit_availability_status" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="unit_assignment_status" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="force_type" type="xsd:string"/>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ship_name">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="flag" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="unbounded" minOccurs="1">
                                  <xsd:element name="naval_vessel_type" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="unbounded" minOccurs="1">
                                  <xsd:element name="ship_name" type="xsd:string"/>
                                  <xsd:element name="unit_identification_code_uic">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="nationality"/>
                                        <xsd:element name="armed_service"/>
                                        <xsd:element name="file_sequential_location_number"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="number_of_ships" type="xsd:string"/>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ships_names">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="flag" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="naval_vessel_type" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="ship_name" type="xsd:string"/>
                                  <xsd:element name="unit_identification_code_uic">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="nationality"/>
                                        <xsd:element name="armed_service"/>
                                        <xsd:element name="file_sequential_location_number"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="number_of_ships" type="xsd:string"/>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="unbounded" minOccurs="0" name="aircraft_situation">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="nationality" type="xsd:string"/>
                                  <xsd:element name="unit_identification_code_uic">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="nationality"/>
                                        <xsd:element name="armed_service"/>
                                        <xsd:element name="file_sequential_location_number"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:choice>
                                <xsd:choice maxOccurs="unbounded" minOccurs="1">
                                  <xsd:element name="aircraft_identifier" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="unbounded" minOccurs="1">
                                  <xsd:element name="number_of_aircraft_00_99" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="unbounded" minOccurs="1">
                                  <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="latitude_degrees"/>
                                        <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="hyphen"/>
                                        <xsd:element name="longitude_degrees"/>
                                        <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="longitudinal_hemisphere"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="universal_transverse_mercator_utm">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="utm_grid_zone"/>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="utm_1_metre_higher_order_easting"/>
                                        <xsd:element name="utm_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="utm_grid_zone"/>
                                        <xsd:element name="mgrs_utm_grid_latitude_band"/>
                                        <xsd:element name="mgrs_utm_100km_box"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="universal_polar_stereographic_ups">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="ups_1_metre_higher_order_x"/>
                                        <xsd:element name="ups_1_metre_higher_order_y"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                                        <xsd:element name="mgrs_ups_100km_square_column"/>
                                        <xsd:element name="mgrs_ups_100km_square_row"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                                  <xsd:element name="ship_name" type="xsd:string"/>
                                  <xsd:element name="place_name" type="xsd:string"/>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="unbounded" minOccurs="0" name="amphibious_force_situation">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="flag" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="unbounded" minOccurs="1">
                                  <xsd:element name="unit_name" type="xsd:string"/>
                                  <xsd:element name="naval_task_designator">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="naval_level_of_echelon"/>
                                        <xsd:element name="naval_organization_numeric_designator"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:choice>
                                <xsd:choice maxOccurs="unbounded" minOccurs="1">
                                  <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="latitude_degrees"/>
                                        <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="hyphen"/>
                                        <xsd:element name="longitude_degrees"/>
                                        <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="longitudinal_hemisphere"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="universal_transverse_mercator_utm">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="utm_grid_zone"/>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="utm_1_metre_higher_order_easting"/>
                                        <xsd:element name="utm_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="utm_grid_zone"/>
                                        <xsd:element name="mgrs_utm_grid_latitude_band"/>
                                        <xsd:element name="mgrs_utm_100km_box"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="universal_polar_stereographic_ups">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="ups_1_metre_higher_order_x"/>
                                        <xsd:element name="ups_1_metre_higher_order_y"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                                        <xsd:element name="mgrs_ups_100km_square_column"/>
                                        <xsd:element name="mgrs_ups_100km_square_row"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                                  <xsd:element name="ship_name" type="xsd:string"/>
                                  <xsd:element name="place_name" type="xsd:string"/>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="unbounded" minOccurs="0" name="amphibious_forces_situation">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="flag" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="unit_name" type="xsd:string"/>
                                  <xsd:element name="naval_task_designator">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="naval_level_of_echelon"/>
                                        <xsd:element name="naval_organization_numeric_designator"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="latitude_degrees"/>
                                        <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="hyphen"/>
                                        <xsd:element name="longitude_degrees"/>
                                        <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="longitudinal_hemisphere"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="universal_transverse_mercator_utm">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="utm_grid_zone"/>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="utm_1_metre_higher_order_easting"/>
                                        <xsd:element name="utm_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="utm_grid_zone"/>
                                        <xsd:element name="mgrs_utm_grid_latitude_band"/>
                                        <xsd:element name="mgrs_utm_100km_box"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="universal_polar_stereographic_ups">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="ups_1_metre_higher_order_x"/>
                                        <xsd:element name="ups_1_metre_higher_order_y"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                                        <xsd:element name="mgrs_ups_100km_square_column"/>
                                        <xsd:element name="mgrs_ups_100km_square_row"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                                  <xsd:element name="location_name" type="xsd:string"/>
                                  <xsd:element name="place_name" type="xsd:string"/>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="unbounded" minOccurs="0" name="peacetime_location">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="location_or_position_name" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="geographical_entity" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="latitude_degrees"/>
                                        <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="hyphen"/>
                                        <xsd:element name="longitude_degrees"/>
                                        <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="longitudinal_hemisphere"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="universal_transverse_mercator_utm">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="utm_grid_zone"/>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="utm_1_metre_higher_order_easting"/>
                                        <xsd:element name="utm_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="utm_grid_zone"/>
                                        <xsd:element name="mgrs_utm_grid_latitude_band"/>
                                        <xsd:element name="mgrs_utm_100km_box"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="universal_polar_stereographic_ups">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="ups_1_metre_higher_order_x"/>
                                        <xsd:element name="ups_1_metre_higher_order_y"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                                        <xsd:element name="mgrs_ups_100km_square_column"/>
                                        <xsd:element name="mgrs_ups_100km_square_row"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="unbounded" minOccurs="0">
                                  <xsd:element name="ship_name" type="xsd:string"/>
                                  <xsd:element name="unit_identification_code_uic">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="nationality"/>
                                        <xsd:element name="armed_service"/>
                                        <xsd:element name="file_sequential_location_number"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="unbounded" minOccurs="0" name="wartime_base_or_location">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="location_or_position_name" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="geographical_entity" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="latitude_degrees"/>
                                        <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="hyphen"/>
                                        <xsd:element name="longitude_degrees"/>
                                        <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                        <xsd:element name="longitudinal_hemisphere"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="universal_transverse_mercator_utm">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="utm_grid_zone"/>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="utm_1_metre_higher_order_easting"/>
                                        <xsd:element name="utm_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="utm_grid_zone"/>
                                        <xsd:element name="mgrs_utm_grid_latitude_band"/>
                                        <xsd:element name="mgrs_utm_100km_box"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="universal_polar_stereographic_ups">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="latitudinal_hemisphere"/>
                                        <xsd:element name="ups_1_metre_higher_order_x"/>
                                        <xsd:element name="ups_1_metre_higher_order_y"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                                        <xsd:element name="mgrs_ups_100km_square_column"/>
                                        <xsd:element name="mgrs_ups_100km_square_row"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                        <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="estimated_day_time_of_arrival">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="day"/>
                                        <xsd:element name="hour_time"/>
                                        <xsd:element name="minute_time"/>
                                        <xsd:element name="time_zone"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="day_code_to_arrival">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="day_code"/>
                                        <xsd:element name="plus_or_minus_indicator"/>
                                        <xsd:element name="duration_in_days"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="estimated_date_of_arrival_ddmmmyyyy">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="day"/>
                                        <xsd:element name="month_name_abbreviated"/>
                                        <xsd:element name="year"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:choice>
                                <xsd:choice maxOccurs="unbounded" minOccurs="0">
                                  <xsd:element name="ship_name" type="xsd:string"/>
                                  <xsd:element name="unit_identification_code_uic">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="nationality"/>
                                        <xsd:element name="armed_service"/>
                                        <xsd:element name="file_sequential_location_number"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="unbounded" minOccurs="0" name="major_equipment">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                  <xsd:element name="ship_name" type="xsd:string"/>
                                  <xsd:element name="unit_identification_code_uic">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="nationality"/>
                                        <xsd:element name="armed_service"/>
                                        <xsd:element name="file_sequential_location_number"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:choice>
                                <xsd:choice maxOccurs="unbounded" minOccurs="1">
                                  <xsd:element name="maritime_weapon_systems" type="xsd:string"/>
                                  <xsd:element name="weapon_type_generic" type="xsd:string"/>
                                  <xsd:element name="aircraft_by_type_model_or_code" type="xsd:string"/>
                                </xsd:choice>
                                <xsd:choice maxOccurs="unbounded" minOccurs="1">
                                  <xsd:element name="quantity_of_equipment" type="xsd:string"/>
                                </xsd:choice>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                              <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="remarks" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
