miliconvert/format-docs/trunk/bl13/schemas/place_intelligence_record.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13">
  <xsd:element name="place_intelligence_record">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="exercise_identification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="exercise_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="exercise_additional_identifier" type="xsd:string"/>
                <xsd:element name="exercise_additional_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="operation_codeword">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="operation_codeword" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="plan_originator_and_number">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="plan_originator"/>
                      <xsd:element name="blank_space_character"/>
                      <xsd:element name="plan_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="option_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="secondary_option_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="message_identifier">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="standard_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="version_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="month_name_abbreviated" type="xsd:string"/>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="serial_number_of_qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_policy" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_classification_extended" type="xsd:string"/>
                <xsd:element name="message_security_classification" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_security_category" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="reference">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="serial_letter" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
                <xsd:element name="communication_type" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="dtg_of_reference_4_digit_yr">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_yyyymmdd">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="month_year">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year_4_digit"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="reference_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="special_notation" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="sic" type="xsd:string"/>
                <xsd:element name="filing_number" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="geodetic_datum">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="geodetic_datum" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="place_identification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="place_key">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="world_area_number"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="record_originator"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="place_accession_number"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="suffix_place_key"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="place_name_extended" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="country" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="state_province_district" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="remarks" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="administration_data">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="record_originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="intelligence_security_classification_abbreviated" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="record_status" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="date_time_z_created_yyyymmddhhmmss">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="date_time_z_of_first_information_yyyymmddhhmmss">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="date_time_z_of_last_information_yyyymmddhhmmss">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="review_date_z_yyyymmdd">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="date_time_z_of_last_change_yyyymmddhhmmss">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="validity" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="place_function_segment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="place_function">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="functional_code" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="remarks" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="1" name="administration_data">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="record_originator" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="intelligence_security_classification_abbreviated" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="record_status" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="date_time_z_created_yyyymmddhhmmss">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="date_time_z_of_first_information_yyyymmddhhmmss">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="date_time_z_of_last_information_yyyymmddhhmmss">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="review_date_z_yyyymmdd">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="date_time_z_of_last_change_yyyymmddhhmmss">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="validity" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="place_alternate_identification_segment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="place_alternate_identification">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="alternate_name" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="comments" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="1" name="administration_data">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="record_originator" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="intelligence_security_classification_abbreviated" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="record_status" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="date_time_z_created_yyyymmddhhmmss">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="date_time_z_of_first_information_yyyymmddhhmmss">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="date_time_z_of_last_information_yyyymmddhhmmss">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="review_date_z_yyyymmdd">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="date_time_z_of_last_change_yyyymmddhhmmss">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="validity" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="place_location_segment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="place_location">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="heading_information" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="1" name="geographic_location_data">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitude_degrees"/>
                            <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="longitude_degrees"/>
                            <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="longitudinal_hemisphere"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_transverse_mercator_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="utm_1_metre_higher_order_easting"/>
                            <xsd:element name="utm_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="mgrs_utm_grid_latitude_band"/>
                            <xsd:element name="mgrs_utm_100km_box"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_polar_stereographic_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="ups_1_metre_higher_order_x"/>
                            <xsd:element name="ups_1_metre_higher_order_y"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                            <xsd:element name="mgrs_ups_100km_square_column"/>
                            <xsd:element name="mgrs_ups_100km_square_row"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="country" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="coordinates_datum" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="remarks" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="elevation_data">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="elevation" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="elevation_measurement_accuracy" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit_of_linear_measurement" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="elevation_confidence_level" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="map_datum" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="method_of_elevation_derivation" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="elevation_derivation_accuracy" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit_of_linear_measurement_1" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="elevation_msl" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="elevation_measurement_msl_accuracy" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit_of_linear_measurement_1" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="elevation_msl_confidence_level" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="method_elevation_msl_derivation" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="elevation_msl_derivation_accuracy" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit_of_linear_measurement_1" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="geoidal_msl_separation" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit_of_linear_measurement_1" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="remarks" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="1" name="address_data_extended">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="country" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="post_code" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="address_place_name" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="street_name" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="street_number" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="post_office_box_number" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="designation_of_telephone_number" type="xsd:string"/>
                      <xsd:element name="telephone_number_individual" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="fax_number" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="e_mail_address_30_characters_" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="start_date_time_z_yyyymmddhhmmss_of_a_duration_period">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="end_date_time_z_yyyymmddhhmmss_of_a_duration_period">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="remarks" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="1" name="administration_data">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="record_originator" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="intelligence_security_classification_abbreviated" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="record_status" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="date_time_z_created_yyyymmddhhmmss">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="date_time_z_of_first_information_yyyymmddhhmmss">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="date_time_z_of_last_information_yyyymmddhhmmss">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="review_date_z_yyyymmdd">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="date_time_z_of_last_change_yyyymmddhhmmss">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="validity" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="place_status">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="place_operational_status" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="place_activity" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="place_condition" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="place_condition_availability" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="allegiance" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="remarks" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="administration_data_1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="record_originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="intelligence_security_classification_abbreviated" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="record_status" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="date_time_z_created_yyyymmddhhmmss">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="date_time_z_of_first_information_yyyymmddhhmmss">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="date_time_z_of_last_information_yyyymmddhhmmss">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="review_date_z_yyyymmdd">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="date_time_z_of_last_change_yyyymmddhhmmss">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="validity" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="physical_characteristics_selection_3">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="area_validated">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="context_quantity_0_4_decimal_pt_permitted"/>
                      <xsd:element name="area_unit_of_measurement"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="validity"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="azimuth_data_validated">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="context_quantity_0_to_1_decimal_pt_permitted_5_char_max"/>
                      <xsd:element name="unit_of_angular_measurement_degrees"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="azimuth_reference"/>
                      <xsd:element name="validity"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="design_intelligence" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="diameter_validated">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="context_quantity_0_4_decimal_pt_permitted"/>
                      <xsd:element name="unit_of_linear_measurement"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="validity"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="entry_width_validated">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="context_quantity_0_4_decimal_pt_permitted"/>
                      <xsd:element name="unit_of_linear_measurement"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="validity"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="floor_space_validated">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="context_quantity_0_4_decimal_pt_permitted"/>
                      <xsd:element name="area_unit_of_measurement"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="validity"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="linear_dimensions_length_width_height">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="context_quantity_0_4_decimal_pt_permitted"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="context_quantity_0_4_decimal_pt_permitted"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="context_quantity_0_4_decimal_pt_permitted"/>
                      <xsd:element name="unit_of_lin__measurement_feet_yards_centimetres_or_metres"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="material_data_validated">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="material_general"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="material_depth"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="unit_of_linear_measurement_ft_in_cm_m"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="validity"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="placement" type="xsd:string"/>
                <xsd:element name="placement_of_transformers" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="quantity_of_floors_above_ground" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="quantity_of_floors_below_ground" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="radius_validated">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="context_quantity_0_4_decimal_pt_permitted"/>
                      <xsd:element name="unit_of_linear_measurement"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="validity"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="span_data_validated">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="span_quantity"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="span_length"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="unit_of_linear_measurement_m_ft_km_sm"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="validity"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="material_strength_data">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="material_strength"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="material_strength_estimated"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="material_strength_max"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="strength_unit_of_measurement"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="validity"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="structure_intelligence" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="surface_material" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="thickness_validated">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="context_quantity_0_4_decimal_pt_permitted"/>
                      <xsd:element name="unit_of_linear_measurement"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="validity"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="vertical_clearance_validated">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="context_quantity_0_4_decimal_pt_permitted"/>
                      <xsd:element name="unit_of_linear_measurement"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="validity"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="remarks" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="administration_data_2">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="record_originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="intelligence_security_classification_abbreviated" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="record_status" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="date_time_z_created_yyyymmddhhmmss">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="date_time_z_of_first_information_yyyymmddhhmmss">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="date_time_z_of_last_information_yyyymmddhhmmss">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="review_date_z_yyyymmdd">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="date_time_z_of_last_change_yyyymmddhhmmss">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="validity" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="place_area_coordinates">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="unbounded" minOccurs="1">
                <xsd:element name="coordinate_sequence" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="1">
                <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="latitude_degrees"/>
                      <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                      <xsd:element name="latitudinal_hemisphere"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="longitude_degrees"/>
                      <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                      <xsd:element name="longitudinal_hemisphere"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="universal_transverse_mercator_utm">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="utm_grid_zone"/>
                      <xsd:element name="latitudinal_hemisphere"/>
                      <xsd:element name="utm_1_metre_higher_order_easting"/>
                      <xsd:element name="utm_1_metre_higher_order_northing"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="utm_grid_zone"/>
                      <xsd:element name="mgrs_utm_grid_latitude_band"/>
                      <xsd:element name="mgrs_utm_100km_box"/>
                      <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                      <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="universal_polar_stereographic_ups">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="latitudinal_hemisphere"/>
                      <xsd:element name="ups_1_metre_higher_order_x"/>
                      <xsd:element name="ups_1_metre_higher_order_y"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                      <xsd:element name="mgrs_ups_100km_square_column"/>
                      <xsd:element name="mgrs_ups_100km_square_row"/>
                      <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                      <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="remarks" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="administration_data_3">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="record_originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="intelligence_security_classification_abbreviated" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="record_status" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="date_time_z_created_yyyymmddhhmmss">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="date_time_z_of_first_information_yyyymmddhhmmss">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="date_time_z_of_last_information_yyyymmddhhmmss">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="review_date_z_yyyymmdd">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="date_time_z_of_last_change_yyyymmddhhmmss">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="validity" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="industrial_data_segment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="industrial_data">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="storage_capacity" type="xsd:string"/>
                      <xsd:element name="production_capacity" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="capacity_date_time_z_yyyymmddhhmmss">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="validity" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="capacity_validity_date_time_z_yyyymmddhhmmss">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="capacity_maximum" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="capacity_unit_of_measurement" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="industrial_item" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="item_availability" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="item_country_code" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="item_percent_imported" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="item_percent_exported" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="item_type" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="facility_integration" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="line_quantity" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="critical_industry" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="percentage_of_foreign_technology" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="modernisation" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="open_storage_covered" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="open_storage_total" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="annual_industrial_output" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="output_date_ddmmyyyy">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="year"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="validity_1" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="output_validity_date_ddmmyyyy">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="year"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="maximum_annual_output" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="output_unit_of_measurement" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="production_scale" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="turn_around_time_dddhhmm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="time_period_in_days_1_through_999"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="0">
                      <xsd:element name="power_source" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="0">
                      <xsd:element name="industrial_role_level" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="0">
                      <xsd:element name="role_type_industrial_plant" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="0">
                      <xsd:element name="country_providing_foreign_technology" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="0">
                      <xsd:element name="remarks" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="1" name="administration_data">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="record_originator" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="intelligence_security_classification_abbreviated" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="record_status" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="date_time_z_created_yyyymmddhhmmss">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="date_time_z_of_first_information_yyyymmddhhmmss">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="date_time_z_of_last_information_yyyymmddhhmmss">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="review_date_z_yyyymmdd">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="date_time_z_of_last_change_yyyymmddhhmmss">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="year"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="second_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="validity" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="remarks" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
