miliconvert/format-docs/trunk/bl13/schemas/scramble_order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13">
  <xsd:element name="scramble_order">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="exercise_identification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="exercise_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="exercise_additional_identifier" type="xsd:string"/>
                <xsd:element name="exercise_additional_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="operation_codeword">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="operation_codeword" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="plan_originator_and_number">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="plan_originator"/>
                      <xsd:element name="blank_space_character"/>
                      <xsd:element name="plan_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="option_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="secondary_option_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="message_identifier">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="standard_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="version_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="month_name_abbreviated" type="xsd:string"/>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="serial_number_of_qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_policy" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_classification_extended" type="xsd:string"/>
                <xsd:element name="message_security_classification" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_security_category" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="reference">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="serial_letter" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
                <xsd:element name="communication_type" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="dtg_of_reference_4_digit_yr">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_yyyymmdd">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="month_year">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year_4_digit"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="reference_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="special_notation" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="sic" type="xsd:string"/>
                <xsd:element name="filing_number" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="scramble_order_information">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="order_identification" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="effective_dtg">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="unit_designator" type="xsd:string"/>
                <xsd:element name="unit_identification_code_uic2">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="nationality_2a"/>
                      <xsd:element name="armed_service"/>
                      <xsd:element name="file_sequential_location_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="unit_identification_code_uic3">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="nationality_3a"/>
                      <xsd:element name="armed_service"/>
                      <xsd:element name="file_sequential_location_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="latitude_degrees"/>
                      <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                      <xsd:element name="latitudinal_hemisphere"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="longitude_degrees"/>
                      <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                      <xsd:element name="longitudinal_hemisphere"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="universal_transverse_mercator_utm">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="utm_grid_zone"/>
                      <xsd:element name="latitudinal_hemisphere"/>
                      <xsd:element name="utm_1_metre_higher_order_easting"/>
                      <xsd:element name="utm_1_metre_higher_order_northing"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="utm_grid_zone"/>
                      <xsd:element name="mgrs_utm_grid_latitude_band"/>
                      <xsd:element name="mgrs_utm_100km_box"/>
                      <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                      <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="universal_polar_stereographic_ups">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="latitudinal_hemisphere"/>
                      <xsd:element name="ups_1_metre_higher_order_x"/>
                      <xsd:element name="ups_1_metre_higher_order_y"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                      <xsd:element name="mgrs_ups_100km_square_column"/>
                      <xsd:element name="mgrs_ups_100km_square_row"/>
                      <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                      <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                <xsd:element name="icao_base_code" type="xsd:string"/>
                <xsd:element name="location_name" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="number_of_aircraft_1_99" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="aircraft_by_type_model_or_code" type="xsd:string"/>
                <xsd:element name="aircraft_type_and_model_other" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="mission_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="scramble_order" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="initial_heading_in_degrees">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="context_quantity_000_359"/>
                      <xsd:element name="angular_measurement_reference"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="initial_altitude_in_hundreds_of_feet" type="xsd:string"/>
                <xsd:element name="flight_level">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="flight_level_data_qualifier"/>
                      <xsd:element name="flight_level_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="aircraft_engine_power_setting_code" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="air_defence_target_data">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="common_nato_track_number" type="xsd:string"/>
                <xsd:element name="common_nato_track_number_6_digit" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="number_of_aircraft_involved" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="enemy_heading_in_degrees">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="context_quantity_000_359"/>
                      <xsd:element name="angular_measurement_reference"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="enemy_aircraft_speed">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="context_quantity_0_3_decimal_pt_permitted"/>
                      <xsd:element name="unit_of_speed_velocity_measurement"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="enemy_altitude_in_hundreds_of_feet" type="xsd:string"/>
                <xsd:element name="flight_level">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="flight_level_data_qualifier"/>
                      <xsd:element name="flight_level_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="altitude_band">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="altitude_hundreds_of_feet"/>
                      <xsd:element name="hyphen"/>
                      <xsd:element name="altitude_hundreds_of_feet"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="contact_instructions_segment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="contact_instructions">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="type_of_aircraft_control_agency" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="contact_call_sign" type="xsd:string"/>
                      <xsd:element name="contact_name" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="mission_number" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="tacan_channel_with_modes">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="tacan_channel_number"/>
                            <xsd:element name="tacan_channel_mode_qualifier"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="day_time_available_from">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="day_time_available_to">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="primary_frequency_in_megahertz__0000001___99999999" type="xsd:string"/>
                      <xsd:element name="primary_frequency_designator" type="xsd:string"/>
                      <xsd:element name="have_quick_parameters_with_mickey_net_controller">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="net_in_use_identifier"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="set_in_use_identifier"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="day"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="year"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="mickey_net_controller"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="context_quantity_decimal_pt_permitted_11_char_max"/>
                            <xsd:element name="unit_of_electromagnetic_emission_measurement"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="have_quick_parameters_without_mickey_net_controller">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="net_in_use_identifier"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="set_in_use_identifier"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="day"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="year"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="secondary_frequency_in_megahertz__0000001___99999999" type="xsd:string"/>
                      <xsd:element name="secondary_frequency_designator" type="xsd:string"/>
                      <xsd:element name="have_quick_parameters_with_mickey_net_controller_1">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="net_in_use_identifier"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="set_in_use_identifier"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="day"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="year"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="mickey_net_controller"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="context_quantity_decimal_pt_permitted_11_char_max"/>
                            <xsd:element name="unit_of_electromagnetic_emission_measurement"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="have_quick_parameters_without_mickey_net_controller_1">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="net_in_use_identifier"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="set_in_use_identifier"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="day"/>
                            <xsd:element name="month_numeric"/>
                            <xsd:element name="year"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="link_16_abbreviated_call_sign" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="location_name" type="xsd:string"/>
                      <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitude_degrees"/>
                            <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="longitude_degrees"/>
                            <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="longitudinal_hemisphere"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_transverse_mercator_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="utm_1_metre_higher_order_easting"/>
                            <xsd:element name="utm_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="altitude_hundreds_of_feet" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="contact_instructions" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="codes_crypto_and_authentication">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="unbounded" minOccurs="1">
                      <xsd:element name="codes_crypto_in_use" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="1">
                      <xsd:element name="code_day_number" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="1">
                      <xsd:element name="authentication_system" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="air_defence_mission_objective">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="air_defence_mission_objective" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="1" name="air_defence_area_segment">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="air_defence_area">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="airspace_control_means_identifier" type="xsd:string"/>
                            <xsd:element name="airspace_control_means_name" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="air_defence_area_usage" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="0">
                            <xsd:element name="area_special_instructions" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="0">
                            <xsd:element name="broadcast_reference_point" type="xsd:string"/>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="geodetic_datum">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="geodetic_datum" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="0">
                            <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="airspace_shape_radarc">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitude_degrees"/>
                                  <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="hyphen"/>
                                  <xsd:element name="longitude_degrees"/>
                                  <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="longitudinal_hemisphere"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="beginning_radial_bearing_degrees_true">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="context_quantity_000_359"/>
                                  <xsd:element name="angular_measurement_reference_true"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="ending_radial_bearing_degrees_true">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="context_quantity_000_359"/>
                                  <xsd:element name="angular_measurement_reference_true"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="inner_radius_m_km_nm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="context_quantity_0_to_1_decimal_pt_permitted_5_char_max"/>
                                  <xsd:element name="unit_of_linear_measurement_m_km_nm"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="outer_radius_m_km_nm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="context_quantity_0_to_1_decimal_pt_permitted_5_char_max"/>
                                  <xsd:element name="unit_of_linear_measurement_m_km_nm"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="shape_polygon">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="unbounded" minOccurs="1">
                            <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitude_degrees"/>
                                  <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="hyphen"/>
                                  <xsd:element name="longitude_degrees"/>
                                  <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="longitudinal_hemisphere"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="shape_circle">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitude_degrees"/>
                                  <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="hyphen"/>
                                  <xsd:element name="longitude_degrees"/>
                                  <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="longitudinal_hemisphere"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="radius_m_km_nm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="context_quantity_0_to_1_decimal_pt_permitted_5_char_max"/>
                                  <xsd:element name="unit_of_linear_measurement_m_km_nm"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="airspace_shape_orbit">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitude_degrees"/>
                                  <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="hyphen"/>
                                  <xsd:element name="longitude_degrees"/>
                                  <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="longitudinal_hemisphere"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="universal_transverse_mercator_utm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="utm_grid_zone"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="utm_1_metre_higher_order_easting"/>
                                  <xsd:element name="utm_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="utm_grid_zone"/>
                                  <xsd:element name="mgrs_utm_grid_latitude_band"/>
                                  <xsd:element name="mgrs_utm_100km_box"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="universal_polar_stereographic_ups">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="ups_1_metre_higher_order_x"/>
                                  <xsd:element name="ups_1_metre_higher_order_y"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                                  <xsd:element name="mgrs_ups_100km_square_column"/>
                                  <xsd:element name="mgrs_ups_100km_square_row"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places_1">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitude_degrees"/>
                                  <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="hyphen"/>
                                  <xsd:element name="longitude_degrees"/>
                                  <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                                  <xsd:element name="longitudinal_hemisphere"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="universal_transverse_mercator_utm_1">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="utm_grid_zone"/>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="utm_1_metre_higher_order_easting"/>
                                  <xsd:element name="utm_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="military_grid_reference_system_utm_mgrs_utm_1">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="utm_grid_zone"/>
                                  <xsd:element name="mgrs_utm_grid_latitude_band"/>
                                  <xsd:element name="mgrs_utm_100km_box"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="universal_polar_stereographic_ups_1">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="latitudinal_hemisphere"/>
                                  <xsd:element name="ups_1_metre_higher_order_x"/>
                                  <xsd:element name="ups_1_metre_higher_order_y"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="military_grid_reference_system_ups_mgrs_ups_1">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                                  <xsd:element name="mgrs_ups_100km_square_column"/>
                                  <xsd:element name="mgrs_ups_100km_square_row"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                                  <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="national_grid_system_coordinates_1" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="width_m_km_nm">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="context_quantity_0_to_1_decimal_pt_permitted_5_char_max"/>
                                  <xsd:element name="unit_of_linear_measurement_m_km_nm"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="orbit_alignment" type="xsd:string"/>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="vertical_dimension_of_the_effective_level">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="vertical_dimension_base_ref_point_to_relative_altitude">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="altitude_base_reference_point_qualifier"/>
                                  <xsd:element name="hyphen"/>
                                  <xsd:element name="maximum_altitude_hundreds_of_feet"/>
                                  <xsd:element name="altitude_reference_qualifier"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="vertical_dimension_base_ref_point_to_flight_level">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="altitude_base_reference_point_qualifier"/>
                                  <xsd:element name="hyphen"/>
                                  <xsd:element name="flight_level_data_qualifier"/>
                                  <xsd:element name="maximum_altitude_hundreds_of_feet"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="vertical_dimension_relative_altitude_to_flight_level">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="minimum_altitude_hundreds_of_feet"/>
                                  <xsd:element name="altitude_reference_qualifier"/>
                                  <xsd:element name="hyphen"/>
                                  <xsd:element name="flight_level_data_qualifier"/>
                                  <xsd:element name="maximum_altitude_hundreds_of_feet"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="vertical_dimension_relative_altitude_to_relative_alt">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="minimum_altitude_hundreds_of_feet"/>
                                  <xsd:element name="altitude_reference_qualifier"/>
                                  <xsd:element name="hyphen"/>
                                  <xsd:element name="maximum_altitude_hundreds_of_feet"/>
                                  <xsd:element name="altitude_reference_qualifier"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="vertical_dimension_flight_level_to_flight_level">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="flight_level_data_qualifier"/>
                                  <xsd:element name="flight_level_number"/>
                                  <xsd:element name="hyphen"/>
                                  <xsd:element name="flight_level_data_qualifier"/>
                                  <xsd:element name="flight_level_number"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="airspace_time_period">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="airspace_time_mode" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="dtg_of_start">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="day"/>
                                  <xsd:element name="hour_time"/>
                                  <xsd:element name="minute_time"/>
                                  <xsd:element name="time_zone"/>
                                  <xsd:element name="month_name_abbreviated"/>
                                  <xsd:element name="year"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element name="dtg_of_stop">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="day"/>
                                  <xsd:element name="hour_time"/>
                                  <xsd:element name="minute_time"/>
                                  <xsd:element name="time_zone"/>
                                  <xsd:element name="month_name_abbreviated"/>
                                  <xsd:element name="year"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="stop_time_qualifier" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="0">
                            <xsd:element name="interval_frequency" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:choice maxOccurs="1" minOccurs="0">
                            <xsd:element name="interval_duration">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="context_quantity_1_999"/>
                                  <xsd:element name="unit_of_time_measurement_day_wk_biwk_mon_yr"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="time_qualifier_until_further_notice" type="xsd:string"/>
                            <xsd:element name="dtg_of_completion">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="day"/>
                                  <xsd:element name="hour_time"/>
                                  <xsd:element name="minute_time"/>
                                  <xsd:element name="time_zone"/>
                                  <xsd:element name="month_name_abbreviated"/>
                                  <xsd:element name="year"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                        <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="message_downgrading_or_declassification_data">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="derivative_source_for_classification" type="xsd:string"/>
                <xsd:element name="name_of_original_classification_authority" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="reason_for_classification" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="downgrading_or_declassification_instructions" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="downgrade_or_declassification_date_ddmmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="downgrading_or_declassification_exemption_code" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="remarks" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
