miliconvert/format-docs/trunk/bl13/schemas/underwater_object_notification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13">
  <xsd:element name="underwater_object_notification">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="exercise_identification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="exercise_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="exercise_additional_identifier" type="xsd:string"/>
                <xsd:element name="exercise_additional_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="operation_codeword">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="operation_codeword" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="plan_originator_and_number">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="plan_originator"/>
                      <xsd:element name="blank_space_character"/>
                      <xsd:element name="plan_number"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="option_nickname" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="secondary_option_nickname" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="message_identifier">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="standard_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="version_of_message_text_format" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="month_name_abbreviated" type="xsd:string"/>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="serial_number_of_qualifier" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_policy" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_security_classification_extended" type="xsd:string"/>
                <xsd:element name="message_security_classification" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="message_security_category" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="reference">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="serial_letter" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="message_text_format_identifier" type="xsd:string"/>
                <xsd:element name="communication_type" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="originator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="dtg_of_reference_4_digit_yr">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_reference">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="time_zone"/>
                      <xsd:element name="month_name_abbreviated"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmyyyy">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="day"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="year"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_yyyymmdd">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="month_year">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="month_name_abbreviated"/>
                      <xsd:element name="year_4_digit"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_time_iso">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="year_4_digit"/>
                      <xsd:element name="month_numeric"/>
                      <xsd:element name="day"/>
                      <xsd:element name="time_delimiter"/>
                      <xsd:element name="hour_time"/>
                      <xsd:element name="minute_time"/>
                      <xsd:element name="second_time"/>
                      <xsd:element name="time_zone_zulu"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="reference_serial_number" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="special_notation" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="sic" type="xsd:string"/>
                <xsd:element name="filing_number" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="geodetic_datum">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="geodetic_datum" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="friendly_naval_unit_designator_segment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="friendly_naval_unit_designator">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="flag" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="unit" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="pennant_number" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="1">
                      <xsd:element name="towed_equipment_designator" type="xsd:string"/>
                      <xsd:element name="maritime_equipment" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="area">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="area_name" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="0">
                      <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitude_degrees"/>
                            <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="longitude_degrees"/>
                            <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="longitudinal_hemisphere"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_transverse_mercator_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="utm_1_metre_higher_order_easting"/>
                            <xsd:element name="utm_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="mgrs_utm_grid_latitude_band"/>
                            <xsd:element name="mgrs_utm_100km_box"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_polar_stereographic_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="ups_1_metre_higher_order_x"/>
                            <xsd:element name="ups_1_metre_higher_order_y"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                            <xsd:element name="mgrs_ups_100km_square_column"/>
                            <xsd:element name="mgrs_ups_100km_square_row"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                      <xsd:element name="geographic_position_georef_centiminute">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="fifteen_degree_quadrilateral_georef"/>
                            <xsd:element name="one_degree_quadrilateral_georef"/>
                            <xsd:element name="minute_easting_georef"/>
                            <xsd:element name="centiminute_angular"/>
                            <xsd:element name="minute_northing_georef"/>
                            <xsd:element name="centiminute_angular"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="place_name" type="xsd:string"/>
                      <xsd:element name="true_bearing_and_distance_in_nm_from_reference_point">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="direction_in_degrees_true"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="reference_point_name"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="distance_in_nautical_miles"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="q_route_position">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="q_route_number"/>
                            <xsd:element name="q_route_point_designator"/>
                            <xsd:element name="distance_in_nautical_miles_from_a_q_route_point"/>
                            <xsd:element name="q_route_lateral_displacement_qualifier"/>
                            <xsd:element name="lateral_displacement_from_a_q_route_track_in_tens_of_yds"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places_verified">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitude_degrees"/>
                            <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="context_quantity_0_9"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="longitude_degrees"/>
                            <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="longitudinal_hemisphere"/>
                            <xsd:element name="context_quantity_0_9"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="sailing_intentions">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="date_time_month_of_departure_verified">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                            <xsd:element name="context_quantity_0_9"/>
                            <xsd:element name="month_name_abbreviated"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitude_degrees"/>
                            <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="longitude_degrees"/>
                            <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="longitudinal_hemisphere"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_transverse_mercator_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="utm_1_metre_higher_order_easting"/>
                            <xsd:element name="utm_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="mgrs_utm_grid_latitude_band"/>
                            <xsd:element name="mgrs_utm_100km_box"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_polar_stereographic_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="ups_1_metre_higher_order_x"/>
                            <xsd:element name="ups_1_metre_higher_order_y"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                            <xsd:element name="mgrs_ups_100km_square_column"/>
                            <xsd:element name="mgrs_ups_100km_square_row"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                      <xsd:element name="departure_place_name" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="date_time_month_of_arrival_verified">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                            <xsd:element name="context_quantity_0_9"/>
                            <xsd:element name="month_name_abbreviated"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places_1">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitude_degrees"/>
                            <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="longitude_degrees"/>
                            <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="longitudinal_hemisphere"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_transverse_mercator_utm_1">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="utm_1_metre_higher_order_easting"/>
                            <xsd:element name="utm_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_utm_mgrs_utm_1">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="mgrs_utm_grid_latitude_band"/>
                            <xsd:element name="mgrs_utm_100km_box"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_polar_stereographic_ups_1">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="ups_1_metre_higher_order_x"/>
                            <xsd:element name="ups_1_metre_higher_order_y"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_ups_mgrs_ups_1">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                            <xsd:element name="mgrs_ups_100km_square_column"/>
                            <xsd:element name="mgrs_ups_100km_square_row"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="national_grid_system_coordinates_1" type="xsd:string"/>
                      <xsd:element name="arrival_place_name" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="route">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="unbounded" minOccurs="1">
                      <xsd:element name="day_time_of_position">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="time_at_position_hour_minute">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="day_time_of_position_verified">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                            <xsd:element name="context_quantity_0_9"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="date_time_month_at_transit_point_verified">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                            <xsd:element name="context_quantity_0_9"/>
                            <xsd:element name="month_name_abbreviated"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="1">
                      <xsd:element name="latitude_and_longitude_minutes_0_4_decimal_places">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitude_degrees"/>
                            <xsd:element name="latitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="longitude_degrees"/>
                            <xsd:element name="longitude_minutes_0_4_decimal_places"/>
                            <xsd:element name="longitudinal_hemisphere"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_transverse_mercator_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="utm_1_metre_higher_order_easting"/>
                            <xsd:element name="utm_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_utm_mgrs_utm">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="utm_grid_zone"/>
                            <xsd:element name="mgrs_utm_grid_latitude_band"/>
                            <xsd:element name="mgrs_utm_100km_box"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="universal_polar_stereographic_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="latitudinal_hemisphere"/>
                            <xsd:element name="ups_1_metre_higher_order_x"/>
                            <xsd:element name="ups_1_metre_higher_order_y"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="military_grid_reference_system_ups_mgrs_ups">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="mgrs_ups_hemisphere_indicator"/>
                            <xsd:element name="mgrs_ups_100km_square_column"/>
                            <xsd:element name="mgrs_ups_100km_square_row"/>
                            <xsd:element name="mgrs_1_metre_higher_order_easting"/>
                            <xsd:element name="mgrs_1_metre_higher_order_northing"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="national_grid_system_coordinates" type="xsd:string"/>
                      <xsd:element name="geographic_position_georef_centiminute">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="fifteen_degree_quadrilateral_georef"/>
                            <xsd:element name="one_degree_quadrilateral_georef"/>
                            <xsd:element name="minute_easting_georef"/>
                            <xsd:element name="centiminute_angular"/>
                            <xsd:element name="minute_northing_georef"/>
                            <xsd:element name="centiminute_angular"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="position_or_point_name" type="xsd:string"/>
                      <xsd:element name="bearing_and_distance_from_reference_point">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="context_quantity_decimal_pt_for_tenth_perm_5_char_max"/>
                            <xsd:element name="angular_measurement_reference"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="reference_point_name"/>
                            <xsd:element name="hyphen"/>
                            <xsd:element name="context_quantity_0_4_decimal_pt_permitted"/>
                            <xsd:element name="unit_of_linear_measurement_ft_yd_nm_m_km_kyd"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="icao_base_code" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="unbounded" minOccurs="0">
                      <xsd:element name="track_route_type" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="1" name="underwater_object_moving_haven">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="day_time_of_start_verified">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                            <xsd:element name="context_quantity_0_9"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="day_time_of_stop_verified">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="day"/>
                            <xsd:element name="hour_time"/>
                            <xsd:element name="minute_time"/>
                            <xsd:element name="time_zone"/>
                            <xsd:element name="context_quantity_0_9"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="upper_depth_limit_verified">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="alphabetic_identifier_upper_limit"/>
                            <xsd:element name="context_quantity_1_9999"/>
                            <xsd:element name="unit_of_linear_measurement_feet_or_metres"/>
                            <xsd:element name="context_quantity_0_9"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="depth_description_surface" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="lower_depth_limit_verified">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="alphabetic_identifier_lower_limit"/>
                            <xsd:element name="context_quantity_1_9999"/>
                            <xsd:element name="unit_of_linear_measurement_feet_or_metres"/>
                            <xsd:element name="context_quantity_0_9"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                      <xsd:element name="rectangular_moving_haven_dimensions_nm_verified">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="context_quantity_0_999"/>
                            <xsd:element name="distance_delimiter"/>
                            <xsd:element name="context_quantity_0_999"/>
                            <xsd:element name="distance_delimiter"/>
                            <xsd:element name="context_quantity_0_99"/>
                            <xsd:element name="units_of_linear_measurement_nautical_miles"/>
                            <xsd:element name="context_quantity_0_9"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="circular_moving_haven_radius_nm_verified">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="context_quantity_0_1_to_99999_0_1_decimal_pt_permitted"/>
                            <xsd:element name="units_of_linear_measurement_nautical_miles"/>
                            <xsd:element name="context_quantity_0_9"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="non_discrete_indicator_as_required" type="xsd:string"/>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                      <xsd:element name="comments" type="xsd:string"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                  <xsd:attribute name="pos" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="special_information">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="text_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="free_text" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="acknowledge">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:choice maxOccurs="1" minOccurs="1">
                <xsd:element name="acknowledge_requirement_indicator" type="xsd:string"/>
              </xsd:choice>
              <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="instructions_for_acknowledging" type="xsd:string"/>
                <xsd:element name="force_or_unit_required_to_acknowledge" type="xsd:string"/>
              </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
            <xsd:attribute name="pos" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="remarks" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
