miliconvert/txt2xml/trunk/plugins/org.miliconvert.adatp3.tests/data/bl11/xsd/gaprep/messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="nato:adatp-3:bl11" xmlns:s="nato:adatp-3:bl11:sets" attributeFormDefault="unqualified" elementFormDefault="unqualified" version="bl11">
<xsd:import namespace="nato:adatp-3:bl11:sets" schemaLocation="sets.xsd"/>
<xsd:element name="gap_crossing_completion_report">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="exercise_identification">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:exercise.identification">
<xsd:attribute fixed="1" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="operation_codeword">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:operation.codeword">
<xsd:attribute fixed="2" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="message_identifier">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:message.identifier">
<xsd:attribute fixed="3" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="reference">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:reference">
<xsd:attribute fixed="4" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="date_time_group">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:date.time.group">
<xsd:attribute fixed="5" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="organization_designator_of_drafter_releaser">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:organization.designator.of.drafter.releaser">
<xsd:attribute fixed="6" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="map_data">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:map.data">
<xsd:attribute fixed="7" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="task_serial_number">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:task.serial.number">
<xsd:attribute fixed="8" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="crossing_site_task">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:crossing.site.task">
<xsd:attribute fixed="9" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="crossing_site_serial_number_and_folder_name">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:crossing.site.serial.number.and.folder.name">
<xsd:attribute fixed="10" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="crossing_type_and_assessment">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:crossing.type.and.assessment">
<xsd:attribute fixed="11" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="location_of_task">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:location.of.task">
<xsd:attribute fixed="12" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="near_by_feature">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:near.by.feature">
<xsd:attribute fixed="13" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="actual_completion_time">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:actual.completion.time">
<xsd:attribute fixed="14" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="opening_and_closing_times">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:opening.and.closing.times">
<xsd:attribute fixed="15" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="name_of_waterway_or_feature">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:name.of.waterway.or.feature">
<xsd:attribute fixed="16" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="rate_of_access">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:rate.of.access">
<xsd:attribute fixed="17" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="route_type">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:route.type">
<xsd:attribute fixed="18" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="type_of_access">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:type.of.access">
<xsd:attribute fixed="19" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="rate_of_traffic_crossing">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:rate.of.traffic.crossing">
<xsd:attribute fixed="20" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="highest_mlc">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:highest.mlc">
<xsd:attribute fixed="21" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="name_of_route_to_task_site_road_or_river_segment">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="name_of_route_to_task_site_road_or_river">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:name.of.route.to.task.site.road.or.river">
<xsd:attribute fixed="22" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="route_start_point">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:route.start.point">
<xsd:attribute fixed="23" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="route_intermediate_point">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:route.intermediate.point">
<xsd:attribute fixed="24" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="route_release_point">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:route.release.point">
<xsd:attribute fixed="25" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="manpower_data">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:manpower.data">
<xsd:attribute fixed="26" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="equipment_data">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:equipment.data">
<xsd:attribute fixed="27" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="materiel_data">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:materiel.data">
<xsd:attribute fixed="28" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="bridging_equipment_data">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:bridging.equipment.data">
<xsd:attribute fixed="29" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="organization_function_segment">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="organization_function">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:organization.function">
<xsd:attribute fixed="30" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="organization_designator">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:organization.designator">
<xsd:attribute fixed="31" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="acknowledge">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:acknowledge">
<xsd:attribute fixed="32" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="remarks" type="s:remarks"/>
</xsd:sequence>
<xsd:attribute fixed="GAPREP" name="mtfid" type="xsd:string"/>
</xsd:complexType>
</xsd:element>
</xsd:schema>
