miliconvert/txt2xml/trunk/plugins/org.miliconvert.adatp3.tests/data/bl11/xsd/intreq/sets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="nato:adatp-3:bl11:sets" xmlns:c="nato:adatp-3:bl11:composites" xmlns:f="nato:adatp-3:bl11:elementals" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="nato:adatp-3:bl11:sets" version="bl11">
<xsd:import namespace="nato:adatp-3:bl11:elementals" schemaLocation="fields.xsd"/>
<xsd:import namespace="nato:adatp-3:bl11:composites" schemaLocation="composites.xsd"/>
<xsd:complexType name="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="amplification"/>
<xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="narrative"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="exercise.identification">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="exercise_nickname" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:exercise.nickname.1021.1">
<xsd:attribute fixed="1021-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="exercise_additional_identifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:exercise.additional.identifier.1018.11">
<xsd:attribute fixed="1018-11" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="exer" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="operation.codeword">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="operation_codeword" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:operation.codeword.1020.1">
<xsd:attribute fixed="1020-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="plan_originator_and_number" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:plan.originator.and.number.2404.1">
<xsd:attribute fixed="2404-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="option_nickname" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:option.nickname.1232.1">
<xsd:attribute fixed="1232-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="secondary_option_nickname" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:secondary.option.nickname.1232.2">
<xsd:attribute fixed="1232-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="oper" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="message.identifier">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="message_text_format_identifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:message.text.format.identifier.1018.2">
<xsd:attribute fixed="1018-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="originator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:originator.1029.1">
<xsd:attribute fixed="1029-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="message_serial_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:message.serial.number.1012.7">
<xsd:attribute fixed="1012-7" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="month_name" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:month.name.1004.1">
<xsd:attribute fixed="1004-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="qualifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:qualifier.1130.3">
<xsd:attribute fixed="1130-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="serial_number_of_qualifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:serial.number.of.qualifier.1012.29">
<xsd:attribute fixed="1012-29" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="msgid" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="reference">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="serial_letter" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:serial.letter.1102.3">
<xsd:attribute fixed="1102-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="communication_type" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="message_text_format_identifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:message.text.format.identifier.1018.2">
<xsd:attribute fixed="1018-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="communication_type" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:communication.type.1153.1">
<xsd:attribute fixed="1153-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="originator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:originator.1029.1">
<xsd:attribute fixed="1029-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="date_and_time_of_reference" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="day_time_group_of_reference" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.group.of.reference.2197.2">
<xsd:attribute fixed="2197-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="day_time_of_reference" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.of.reference.2000.34">
<xsd:attribute fixed="2000-34" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="day_time_of_reference_verified" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.of.reference.verified.2013.33">
<xsd:attribute fixed="2013-33" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="day_time_and_month_of_reference" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.and.month.of.reference.2030.2">
<xsd:attribute fixed="2030-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="date_time_month_of_reference_verified" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:date.time.month.of.reference.verified.2032.2">
<xsd:attribute fixed="2032-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="dtg_of_reference_4_digit_yr" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:dtg.of.reference.4.digit.yr.2033.2">
<xsd:attribute fixed="2033-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="dtg_of_reference_verified_4_yr" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:dtg.of.reference.verified.4.yr.2034.2">
<xsd:attribute fixed="2034-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="date_of_reference_ddmmmyyyy" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:date.of.reference.ddmmmyyyy.2001.3">
<xsd:attribute fixed="2001-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="date_of_reference_ddmmyyyy" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:date.of.reference.ddmmyyyy.2052.2">
<xsd:attribute fixed="2052-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="date_of_reference_yyyymmdd" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:date.of.reference.yyyymmdd.2053.2">
<xsd:attribute fixed="2053-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="reference_serial_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:reference.serial.number.1012.66">
<xsd:attribute fixed="1012-66" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="special_notation" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:special.notation.1131.1">
<xsd:attribute fixed="1131-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="sic_or_file_number" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="sic" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:sic.1017.2">
<xsd:attribute fixed="1017-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="7" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="filing_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:filing.number.1012.49">
<xsd:attribute fixed="1012-49" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="7" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="ref" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="geodetic.datum">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="geodetic_datum" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:geodetic.datum.1195.1">
<xsd:attribute fixed="1195-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="geodatum" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="effective.date.time.month">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="date_time" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="day_time_effective" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.effective.2000.13">
<xsd:attribute fixed="2000-13" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="date_time_month_verified" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:date.time.month.verified.2032.1">
<xsd:attribute fixed="2032-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="effective_month" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:effective.month.1004.4">
<xsd:attribute fixed="1004-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="efdt" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="request.references">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="originators_control_reference_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:originators.control.reference.number.1012.72">
<xsd:attribute fixed="1012-72" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="request_priority" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:request.priority.1076.5">
<xsd:attribute fixed="1076-5" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="priority_ranking" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:priority.ranking.1012.71">
<xsd:attribute fixed="1012-71" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="reqref" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="request.details">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="subject_type" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="information_categories" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:information.categories.1343.2">
<xsd:attribute fixed="1343-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="other_alphabetic_categories" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:other.alphabetic.categories.1343.3">
<xsd:attribute fixed="1343-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="information_numeric_categories" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:information.numeric.categories.1343.4">
<xsd:attribute fixed="1343-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="other_numeric_categories" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:other.numeric.categories.1343.5">
<xsd:attribute fixed="1343-5" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="scope_of_information_code" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:scope.of.information.code.1345.2">
<xsd:attribute fixed="1345-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="basic_encyclopedia_number" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:basic.encyclopedia.number.2002.1">
<xsd:attribute fixed="2002-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="basic_encyclopedia_number_suffix" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:basic.encyclopedia.number.suffix.1012.102">
<xsd:attribute fixed="1012-102" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="site_name" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:site.name.1022.68">
<xsd:attribute fixed="1022-68" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="reqdet" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="general.text">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="text_indicator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:text.indicator.1009.1">
<xsd:attribute fixed="1009-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="free_text" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:free.text.1006.1">
<xsd:attribute fixed="1006-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="gentext" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="general.location">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="geographical_entity" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:geographical.entity.1026.1">
<xsd:attribute fixed="1026-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="area_name" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:area.name.1022.69">
<xsd:attribute fixed="1022-69" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="day_time_and_month" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.and.month.2030.1">
<xsd:attribute fixed="2030-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="genloc" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="request.location">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="request_location" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:request.location.1284.6">
<xsd:attribute fixed="1284-6" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="location" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="geographic_position_georef_centiminute" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:geographic.position.georef.centiminute.2018.1">
<xsd:attribute fixed="2018-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="activity_location_lat_long_seconds" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:activity.location.lat.long.seconds.2024.29">
<xsd:attribute fixed="2024-29" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="activity_location_utm_10_metre" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:activity.location.utm.10.metre.2086.41">
<xsd:attribute fixed="2086-41" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="activity_location_lat_long_minutes" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:activity.location.lat.long.minutes.2023.45">
<xsd:attribute fixed="2023-45" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="activity_location_utm_100_metre" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:activity.location.utm.100.metre.2087.47">
<xsd:attribute fixed="2087-47" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="activity_location_utm_1000_metre" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:activity.location.utm.1000.metre.2088.6">
<xsd:attribute fixed="2088-6" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="target" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="target_radius_ft_yd_sm_nm_m_km_hf" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:target.radius.ft.yd.sm.nm.m.km.hf.2178.2">
<xsd:attribute fixed="2178-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="target_width_ft_yd_sm_nm_m_km_hf" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:target.width.ft.yd.sm.nm.m.km.hf.2179.2">
<xsd:attribute fixed="2179-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="elliptical_target_area" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:elliptical.target.area.2180.2">
<xsd:attribute fixed="2180-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="elevation_in_metres" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:elevation.in.metres.1344.2">
<xsd:attribute fixed="1344-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="day_time_and_month" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.and.month.2030.1">
<xsd:attribute fixed="2030-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="additional_location" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="geographic_position_georef_centiminute_1" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:geographic.position.georef.centiminute.2018.1">
<xsd:attribute fixed="2018-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="activity_location_lat_long_seconds_1" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:activity.location.lat.long.seconds.2024.29">
<xsd:attribute fixed="2024-29" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="activity_location_utm_10_metre_1" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:activity.location.utm.10.metre.2086.41">
<xsd:attribute fixed="2086-41" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="activity_location_lat_long_minutes_1" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:activity.location.lat.long.minutes.2023.45">
<xsd:attribute fixed="2023-45" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="activity_location_utm_100_metre_1" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:activity.location.utm.100.metre.2087.47">
<xsd:attribute fixed="2087-47" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="activity_location_utm_1000_metre_1" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:activity.location.utm.1000.metre.2088.6">
<xsd:attribute fixed="2088-6" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="reqloc" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="request.position">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="request_location" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:request.location.1284.6">
<xsd:attribute fixed="1284-6" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="location" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="geographic_position_georef_centiminute" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:geographic.position.georef.centiminute.2018.1">
<xsd:attribute fixed="2018-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="activity_location_lat_long_seconds" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:activity.location.lat.long.seconds.2024.29">
<xsd:attribute fixed="2024-29" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="activity_location_utm_10_metre" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:activity.location.utm.10.metre.2086.41">
<xsd:attribute fixed="2086-41" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="activity_location_lat_long_minutes" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:activity.location.lat.long.minutes.2023.45">
<xsd:attribute fixed="2023-45" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="activity_location_utm_100_metre" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:activity.location.utm.100.metre.2087.47">
<xsd:attribute fixed="2087-47" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="activity_location_utm_1000_metre" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:activity.location.utm.1000.metre.2088.6">
<xsd:attribute fixed="2088-6" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="target" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="target_radius_ft_yd_sm_nm_m_km_hf" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:target.radius.ft.yd.sm.nm.m.km.hf.2178.2">
<xsd:attribute fixed="2178-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="target_width_ft_yd_sm_nm_m_km_hf" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:target.width.ft.yd.sm.nm.m.km.hf.2179.2">
<xsd:attribute fixed="2179-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="elliptical_target_area" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:elliptical.target.area.2180.2">
<xsd:attribute fixed="2180-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="elevation_in_metres" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:elevation.in.metres.1344.2">
<xsd:attribute fixed="1344-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="day_time_and_month" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.and.month.2030.1">
<xsd:attribute fixed="2030-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="course_or_direction_of_movement" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="target_course_in_degrees" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:target.course.in.degrees.2065.14">
<xsd:attribute fixed="2065-14" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="direction_of_movement_in_mils" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:direction.of.movement.in.mils.1048.5">
<xsd:attribute fixed="1048-5" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="direction_of_movement_in_degrees" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:direction.of.movement.in.degrees.1043.9">
<xsd:attribute fixed="1043-9" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="direction_of_movement_compass_point" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:direction.of.movement.compass.point.1161.1">
<xsd:attribute fixed="1161-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="target_speed" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="target_speed" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:target.speed.2063.2">
<xsd:attribute fixed="2063-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="7" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="approximate_speed" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:approximate.speed.1113.5">
<xsd:attribute fixed="1113-5" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="7" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="additional_location" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="geographic_position_georef_centiminute_1" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:geographic.position.georef.centiminute.2018.1">
<xsd:attribute fixed="2018-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="8" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="activity_location_lat_long_seconds_1" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:activity.location.lat.long.seconds.2024.29">
<xsd:attribute fixed="2024-29" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="8" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="activity_location_utm_10_metre_1" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:activity.location.utm.10.metre.2086.41">
<xsd:attribute fixed="2086-41" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="8" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="activity_location_lat_long_minutes_1" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:activity.location.lat.long.minutes.2023.45">
<xsd:attribute fixed="2023-45" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="8" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="activity_location_utm_100_metre_1" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:activity.location.utm.100.metre.2087.47">
<xsd:attribute fixed="2087-47" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="8" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="activity_location_utm_1000_metre_1" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:activity.location.utm.1000.metre.2088.6">
<xsd:attribute fixed="2088-6" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="8" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="reqpos" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="map.data.without.geodetic.datum">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="map_or_chart_series_designator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:map.or.chart.series.designator.1075.1">
<xsd:attribute fixed="1075-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="map_or_chart_suffix_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:map.or.chart.suffix.number.1012.4">
<xsd:attribute fixed="1012-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="group_of_fields">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="map_or_chart_sheet_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:map.or.chart.sheet.number.1012.3">
<xsd:attribute fixed="1012-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="map_or_chart_edition_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:map.or.chart.edition.number.1012.2">
<xsd:attribute fixed="1012-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="mapnogd" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="request.time.specifications">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="day_time_and_month_of_latest_delivery" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.and.month.of.latest.delivery.2030.11">
<xsd:attribute fixed="2030-11" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="latest_day_time_and_month_of_intelligence_value" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:latest.day.time.and.month.of.intelligence.value.2030.12">
<xsd:attribute fixed="2030-12" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="day_time_and_month_of_earliest_coverage" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.and.month.of.earliest.coverage.2030.13">
<xsd:attribute fixed="2030-13" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="report_frequency" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:report.frequency.1346.2">
<xsd:attribute fixed="1346-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="specific_coverage" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="day_time_and_month_of_spot_coverage" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.and.month.of.spot.coverage.2030.14">
<xsd:attribute fixed="2030-14" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="day_time_and_month_of_start" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.and.month.of.start.2030.3">
<xsd:attribute fixed="2030-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="day_time_and_month_of_stop" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.and.month.of.stop.2030.4">
<xsd:attribute fixed="2030-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="reqtime" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="report.materials.required">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="type_of_report_or_material_requested" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:type.of.report.or.material.requested.1340.1">
<xsd:attribute fixed="1340-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="number_of_copies_01_99" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:number.of.copies.01.99.1044.90">
<xsd:attribute fixed="1044-90" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="security_classification_abbreviated" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:security.classification.abbreviated.1288.1">
<xsd:attribute fixed="1288-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="reqrepr" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="requested.report.dissemination">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="delivery_address" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:delivery.address.1437.1">
<xsd:attribute fixed="1437-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_means" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:delivery.means.1436.1">
<xsd:attribute fixed="1436-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="reqrepd" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="point.of.contact">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="rank_or_position" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:rank.or.position.1046.2">
<xsd:attribute fixed="1046-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="contact_name" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:contact.name.1022.7">
<xsd:attribute fixed="1022-7" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_identifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.identifier.1028.1">
<xsd:attribute fixed="1028-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="designation_of_telephone_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:designation.of.telephone.number.1361.1">
<xsd:attribute fixed="1361-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="pocdata" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="amplification">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="free_text" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:free.text.1006.1">
<xsd:attribute fixed="1006-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="ampn" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="narrative">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="free_text" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:free.text.1006.1">
<xsd:attribute fixed="1006-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="narr" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="remarks">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="free_text" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:free.text.1006.1">
<xsd:attribute fixed="1006-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="rmks" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:schema>
