miliconvert/xsmt-docs/trunk/testing/v0/test_data/arithmetiqueIn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Depense">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="encore">
          <xs:complexType>
            <xs:attribute name="value" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="processeur">
          <xs:complexType>
            <xs:attribute name="value" type="xs:integer" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="ram">
          <xs:complexType>
            <xs:attribute name="value" type="xs:integer" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="qte">
          <xs:complexType>
            <xs:attribute name="value" type="xs:integer" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
