miliconvert/format-docs/trunk/own_sit_rep/xsd_adatp3_12.2/composites.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- Copyright Systematic Software Engineering Ltd. 2002          -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="nato:adatp-3:b12.2:composites" xml:lang="en-GB" version="12.2"
 xmlns="nato:adatp-3:b12.2:composites"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:f="nato:adatp-3:b12.2:elementals"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="nato:adatp-3:b12.2:elementals" schemaLocation="fields.xsd"/>

  <xsd:complexType name="day.time.2000">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="hour_time" type="f:hour.time.1001.1"/>
      <xsd:element name="minute_time" type="f:minute.time.1002.1"/>
      <xsd:element name="time_zone" type="f:time.zone.1003.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.ddmmmyyyy.2001">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="month_name_abbreviated" type="f:month.name.abbreviated.1004.1"/>
      <xsd:element name="year" type="f:year.1005.7"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.lat.long.degrees.2022">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.1039.1"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.1030.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.1040.1"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.1030.3"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.lat.long.minutes.2023">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.1039.1"/>
      <xsd:element name="latitude_minute_angular" type="f:latitude.minute.angular.1041.2"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.1030.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.1040.1"/>
      <xsd:element name="longitude_minute_angular" type="f:longitude.minute.angular.1041.3"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.1030.3"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.lat.long.seconds.2024">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.1039.1"/>
      <xsd:element name="latitude_minute_angular" type="f:latitude.minute.angular.1041.2"/>
      <xsd:element name="latitude_second_angular" type="f:latitude.second.angular.1042.2"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.1030.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.1040.1"/>
      <xsd:element name="longitude_minute_angular" type="f:longitude.minute.angular.1041.3"/>
      <xsd:element name="longitude_second_angular" type="f:longitude.second.angular.1042.3"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.1030.3"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="day.time.and.month.2030">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="hour_time" type="f:hour.time.1001.1"/>
      <xsd:element name="minute_time" type="f:minute.time.1002.1"/>
      <xsd:element name="time_zone" type="f:time.zone.1003.1"/>
      <xsd:element name="month_name_abbreviated" type="f:month.name.abbreviated.1004.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="dtg.2033">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="hour_time" type="f:hour.time.1001.1"/>
      <xsd:element name="minute_time" type="f:minute.time.1002.1"/>
      <xsd:element name="time_zone" type="f:time.zone.1003.1"/>
      <xsd:element name="month_name_abbreviated" type="f:month.name.abbreviated.1004.1"/>
      <xsd:element name="year" type="f:year.1005.7"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.ddmmyyyy.2052">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="month_numeric" type="f:month.numeric.1004.2"/>
      <xsd:element name="year" type="f:year.1005.7"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.yyyymmdd.2053">
    <xsd:sequence>
      <xsd:element name="year" type="f:year.1005.7"/>
      <xsd:element name="month_numeric" type="f:month.numeric.1004.2"/>
      <xsd:element name="day" type="f:day.1000.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="adjusted.reference.time.2055">
    <xsd:sequence>
      <xsd:element name="reference_time_indicator" type="f:reference.time.indicator.1258.1"/>
      <xsd:element name="arithmetic_change" type="f:arithmetic.change.1276.1"/>
      <xsd:element name="context_quantity_1_999" type="f:context.quantity.1.999.1023.3"/>
      <xsd:element name="unit_of_time_measurement" type="f:unit.of.time.measurement.1008.3"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="speed.2063">
    <xsd:sequence>
      <xsd:element name="context_quantity_0_3_decimal_pt_permitted" type="f:context.quantity.0.3.decimal.pt.permitted.1023.18"/>
      <xsd:element name="unit_of_speed_velocity_measurement" type="f:unit.of.speed.velocity.measurement.1008.5"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="day.month.name.2067">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="month_name_abbreviated" type="f:month.name.abbreviated.1004.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="verified.armed.service.2071">
    <xsd:sequence>
      <xsd:element name="armed_service" type="f:armed.service.1107.1"/>
      <xsd:element name="verification_indicator" type="f:verification.indicator.1233.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="verified.nationality.2082">
    <xsd:sequence>
      <xsd:element name="geographical_entity" type="f:geographical.entity.1026.1"/>
      <xsd:element name="verification_indicator" type="f:verification.indicator.1233.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.utm.10.metre.2086">
    <xsd:sequence>
      <xsd:element name="utm_grid_zone_column" type="f:utm.grid.zone.column.1096.1"/>
      <xsd:element name="utm_grid_zone_row" type="f:utm.grid.zone.row.1097.1"/>
      <xsd:element name="utm_100_000_metre_square_column" type="f:utm.100.000.metre.square.column.1098.1"/>
      <xsd:element name="utm_100_000_metre_square_row" type="f:utm.100.000.metre.square.row.1099.1"/>
      <xsd:element name="utm_10_metre_easting" type="f:utm.10.metre.easting.1234.1"/>
      <xsd:element name="utm_10_metre_northing" type="f:utm.10.metre.northing.1238.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.utm.100.metre.2087">
    <xsd:sequence>
      <xsd:element name="utm_grid_zone_column" type="f:utm.grid.zone.column.1096.1"/>
      <xsd:element name="utm_grid_zone_row" type="f:utm.grid.zone.row.1097.1"/>
      <xsd:element name="utm_100_000_metre_square_column" type="f:utm.100.000.metre.square.column.1098.1"/>
      <xsd:element name="utm_100_000_metre_square_row" type="f:utm.100.000.metre.square.row.1099.1"/>
      <xsd:element name="utm_100_metre_easting" type="f:utm.100.metre.easting.1239.1"/>
      <xsd:element name="utm_100_metre_northing" type="f:utm.100.metre.northing.1240.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.utm.1.000.metre.2088">
    <xsd:sequence>
      <xsd:element name="utm_grid_zone_column" type="f:utm.grid.zone.column.1096.1"/>
      <xsd:element name="utm_grid_zone_row" type="f:utm.grid.zone.row.1097.1"/>
      <xsd:element name="utm_100_000_metre_square_column" type="f:utm.100.000.metre.square.column.1098.1"/>
      <xsd:element name="utm_100_000_metre_square_row" type="f:utm.100.000.metre.square.row.1099.1"/>
      <xsd:element name="utm_1_000_metre_easting" type="f:utm.1.000.metre.easting.1241.1"/>
      <xsd:element name="utm_1_000_metre_northing" type="f:utm.1.000.metre.northing.1242.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.utm.1.metre.2089">
    <xsd:sequence>
      <xsd:element name="utm_grid_zone_column" type="f:utm.grid.zone.column.1096.1"/>
      <xsd:element name="utm_grid_zone_row" type="f:utm.grid.zone.row.1097.1"/>
      <xsd:element name="utm_100_000_metre_square_column" type="f:utm.100.000.metre.square.column.1098.1"/>
      <xsd:element name="utm_100_000_metre_square_row" type="f:utm.100.000.metre.square.row.1099.1"/>
      <xsd:element name="utm_1_metre_easting" type="f:utm.1.metre.easting.1057.1"/>
      <xsd:element name="utm_1_metre_northing" type="f:utm.1.metre.northing.1059.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="verified.equipment.category.2107">
    <xsd:sequence>
      <xsd:element name="equipment_category" type="f:equipment.category.1135.28"/>
      <xsd:element name="verification_indicator" type="f:verification.indicator.1233.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="verified.equipment.designator.2109">
    <xsd:sequence>
      <xsd:element name="equipment_designator" type="f:equipment.designator.1135.3"/>
      <xsd:element name="verification_indicator" type="f:verification.indicator.1233.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="verified.quantity.of.equipment.weapons.2110">
    <xsd:sequence>
      <xsd:element name="quantity_of_equipment_weapons" type="f:quantity.of.equipment.weapons.1044.124"/>
      <xsd:element name="verification_indicator" type="f:verification.indicator.1233.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="unit.identification.code.2141">
    <xsd:sequence>
      <xsd:element name="nationality" type="f:nationality.1026.2"/>
      <xsd:element name="armed_service" type="f:armed.service.1107.1"/>
      <xsd:element name="file_sequential_location_number" type="f:file.sequential.location.number.1012.103"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="unidentified.enemy.unit.addressing.number.2150">
    <xsd:sequence>
      <xsd:element name="unidentified_addressing_number_prefix" type="f:unidentified.addressing.number.prefix.1422.2"/>
      <xsd:element name="unidentified_addressing_number" type="f:unidentified.addressing.number.1012.105"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="unknown.enemy.unit.addressing.number.2151">
    <xsd:sequence>
      <xsd:element name="unknown_addressing_number_prefix" type="f:unknown.addressing.number.prefix.1422.3"/>
      <xsd:element name="unknown_addressing_number" type="f:unknown.addressing.number.1012.106"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="direction.in.degrees.2321">
    <xsd:sequence>
      <xsd:element name="context_quantity_000_360" type="f:context.quantity.000.360.1023.43"/>
      <xsd:element name="unit_of_measurement_direction_in_degrees" type="f:unit.of.measurement.direction.in.degrees.1008.9"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="direction.in.mils.2322">
    <xsd:sequence>
      <xsd:element name="context_quantity_0000_6400" type="f:context.quantity.0000.6400.1023.6"/>
      <xsd:element name="unit_of_measurement_direction_in_mils" type="f:unit.of.measurement.direction.in.mils.1008.10"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="dtg.zulu.2323">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="hour_time" type="f:hour.time.1001.1"/>
      <xsd:element name="minute_time" type="f:minute.time.1002.1"/>
      <xsd:element name="time_zone_zulu" type="f:time.zone.zulu.1003.2"/>
      <xsd:element name="month_name_abbreviated" type="f:month.name.abbreviated.1004.1"/>
      <xsd:element name="year" type="f:year.1005.7"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="verified.unit.size.indicator.2392">
    <xsd:sequence>
      <xsd:element name="unit_size_indicator" type="f:unit.size.indicator.1045.4"/>
      <xsd:element name="verification_indicator" type="f:verification.indicator.1233.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="verified.unit.role.indicator.code.a.2393">
    <xsd:sequence>
      <xsd:element name="unit_role_indicator_code_a" type="f:unit.role.indicator.code.a.1311.2"/>
      <xsd:element name="verification_indicator" type="f:verification.indicator.1233.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="verified.unit.role.indicator.code.b.2394">
    <xsd:sequence>
      <xsd:element name="unit_role_indicator_code_b" type="f:unit.role.indicator.code.b.1311.3"/>
      <xsd:element name="verification_indicator" type="f:verification.indicator.1233.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="verified.unit.role.indicator.code.c.2395">
    <xsd:sequence>
      <xsd:element name="unit_role_indicator_code_c" type="f:unit.role.indicator.code.c.1311.4"/>
      <xsd:element name="verification_indicator" type="f:verification.indicator.1233.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="verified.unit.role.indicator.code.d.2396">
    <xsd:sequence>
      <xsd:element name="unit_role_indicator_code_d" type="f:unit.role.indicator.code.d.1311.5"/>
      <xsd:element name="verification_indicator" type="f:verification.indicator.1233.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="verified.higher.formation.name.2397">
    <xsd:sequence>
      <xsd:element name="higher_formation_name" type="f:higher.formation.name.1022.40"/>
      <xsd:element name="verification_indicator" type="f:verification.indicator.1233.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="verified.number.of.enemy.units.2400">
    <xsd:sequence>
      <xsd:element name="number_of_enemy_units" type="f:number.of.enemy.units.1044.187"/>
      <xsd:element name="verification_indicator" type="f:verification.indicator.1233.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="plan.originator.and.number.2404">
    <xsd:sequence>
      <xsd:element name="plan_originator" type="f:plan.originator.1029.2"/>
      <xsd:element name="blank_space_character" type="f:blank.space.character.1025.4"/>
      <xsd:element name="plan_number" type="f:plan.number.1012.146"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="month.year.2472">
    <xsd:sequence>
      <xsd:element name="month_name_abbreviated" type="f:month.name.abbreviated.1004.1"/>
      <xsd:element name="year_4_digit" type="f:year.4.digit.1005.1"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
