miliconvert/format-docs/trunk/own_sit_rep/xsd_adatp3_12.2/messages.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- Copyright Systematic Software Engineering Ltd. 2002          -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="nato:adatp-3:b12.2" xml:lang="en-GB" version="12.2"
 xmlns="nato:adatp-3:b12.2"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:s="nato:adatp-3:b12.2:sets"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="nato:adatp-3:b12.2:sets" schemaLocation="sets.xsd"/>

  <xsd:element name="own_land_forces_situation_report">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="exercise_identification" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:exercise.identification">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="1"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="operation_codeword" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:operation.codeword">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="2"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="message_identifier" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:message.identifier">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="3"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="reference" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:reference">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="4"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="geodetic_datum" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:geodetic.datum">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="5"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="date_time_group" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:date.time.group">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="6"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="organization_designator_of_drafter_releaser" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:organization.designator.of.drafter.releaser">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="7"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="map_data_without_geodetic_datum" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:map.data.without.geodetic.datum">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="8"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="message_part_and_title_1_segment" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="message_part_and_title_1" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:message.part.and.title">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="9"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="organization_designator_1_segment" minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="organization_designator_1" minOccurs="1" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:complexContent>
                          <xsd:extension base="s:organization.designator">
                            <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="10"/>
                          </xsd:extension>
                        </xsd:complexContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="command_relationship_type_1" minOccurs="0" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:complexContent>
                          <xsd:extension base="s:command.relationship.type">
                            <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="11"/>
                          </xsd:extension>
                        </xsd:complexContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="organization_designator_of_subordinate_unit_segment" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="organization_designator_of_subordinate_unit" minOccurs="1" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:organization.designator.of.subordinate.unit">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="12"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="command_relationship_type_2" minOccurs="1" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:command.relationship.type">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="13"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="time_1" minOccurs="1" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:time">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="14"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="12"/>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="10"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="9"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_1" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="15"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="message_part_and_title_2_segment" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="message_part_and_title_2" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:message.part.and.title">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="16"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="organization_designator_2_segment" minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="organization_designator_2" minOccurs="1" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:complexContent>
                          <xsd:extension base="s:organization.designator">
                            <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="17"/>
                          </xsd:extension>
                        </xsd:complexContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="time_period_covered_1" minOccurs="0" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:complexContent>
                          <xsd:extension base="s:time.period.covered">
                            <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="18"/>
                          </xsd:extension>
                        </xsd:complexContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="location_nearest_feature_and_confirmation_status_segment" minOccurs="1" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="location_nearest_feature_and_confirmation_status" minOccurs="1" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:location.nearest.feature.and.confirmation.status">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="19"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="time_period_covered_2_segment" minOccurs="1" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="time_period_covered_2" minOccurs="1" maxOccurs="1">
                                  <xsd:complexType>
                                    <xsd:complexContent>
                                      <xsd:extension base="s:time.period.covered">
                                        <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="20"/>
                                      </xsd:extension>
                                    </xsd:complexContent>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="activity_1" minOccurs="0" maxOccurs="1">
                                  <xsd:complexType>
                                    <xsd:complexContent>
                                      <xsd:extension base="s:activity">
                                        <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="21"/>
                                      </xsd:extension>
                                    </xsd:complexContent>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="operational_movement" minOccurs="0" maxOccurs="1">
                                  <xsd:complexType>
                                    <xsd:complexContent>
                                      <xsd:extension base="s:operational.movement">
                                        <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="22"/>
                                      </xsd:extension>
                                    </xsd:complexContent>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="20"/>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="19"/>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="17"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="16"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_2" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="23"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="message_part_and_title_3_segment" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="message_part_and_title_3" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:message.part.and.title">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="24"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="organization_designator_3_segment" minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="organization_designator_3" minOccurs="1" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:complexContent>
                          <xsd:extension base="s:organization.designator">
                            <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="25"/>
                          </xsd:extension>
                        </xsd:complexContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="combat_effectiveness" minOccurs="1" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:complexContent>
                          <xsd:extension base="s:combat.effectiveness">
                            <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="26"/>
                          </xsd:extension>
                        </xsd:complexContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="main_equipment_of_own_units" minOccurs="0" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:complexContent>
                          <xsd:extension base="s:main.equipment.of.own.units">
                            <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="27"/>
                          </xsd:extension>
                        </xsd:complexContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="link_status" minOccurs="0" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:complexContent>
                          <xsd:extension base="s:link.status">
                            <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="28"/>
                          </xsd:extension>
                        </xsd:complexContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="enemy_organization_designator_segment" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="enemy_organization_designator" minOccurs="1" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:enemy.organization.designator">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="29"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="enemy_strength" minOccurs="1" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:enemy.strength">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="30"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="enemy_materiel" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:enemy.materiel">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="31"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="geographic_location" minOccurs="1" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:geographic.location">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="32"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="location_amplification" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:location.amplification">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="33"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="time_2" minOccurs="1" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:time">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="34"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="activity_2" minOccurs="1" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:activity">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="35"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="general_text_3" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:general.text">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="36"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="29"/>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="25"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="24"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_4" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="37"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="message_part_and_title_4_segment" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="message_part_and_title_4" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:message.part.and.title">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="38"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="organization_designator_4_segment" minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="organization_designator_4" minOccurs="1" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:complexContent>
                          <xsd:extension base="s:organization.designator">
                            <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="39"/>
                          </xsd:extension>
                        </xsd:complexContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="control_or_coordination_line_type_segment" minOccurs="1" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="control_or_coordination_line_type" minOccurs="1" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:control.or.coordination.line.type">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="40"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="location_and_nearest_feature" minOccurs="1" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:location.and.nearest.feature">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="41"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="organization_boundary" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:organization.boundary">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="42"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="time_period_covered_3" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:time.period.covered">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="43"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="qualified_start_time" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:qualified.start.time">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="44"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="40"/>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="39"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="38"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_5" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="45"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="remarks" type="s:remarks" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    <xsd:attribute name="mtfid" type="xsd:string" fixed="OWNSITREP"/>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
