miliconvert/format-docs/trunk/own_sit_rep/xsd_adatp3_12.2/sets.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- Copyright Systematic Software Engineering Ltd. 2002          -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="nato:adatp-3:b12.2:sets" xml:lang="en-GB" version="12.2"
 xmlns="nato:adatp-3:b12.2:sets"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:c="nato:adatp-3:b12.2:composites"
 xmlns:f="nato:adatp-3:b12.2:elementals"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="nato:adatp-3:b12.2:composites" schemaLocation="composites.xsd"/>
  <xsd:import namespace="nato:adatp-3:b12.2:elementals" schemaLocation="fields.xsd"/>

  <xsd:complexType name="set.base.type">
    <xsd:sequence>
      <xsd:element name="amplification" type="amplification" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="narrative" type="narrative" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="link.status">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="stage_of_confirmation" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:stage.of.confirmation.1268.1">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="communications_link_type" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:communications.link.type.1275.1">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="quantity_of_equipment" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:quantity.of.equipment.1044.179">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="communication_traffic_type" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:communication.traffic.type.1275.3">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="link_status" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:link.status.1138.5">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="nato_security_classification_abbreviated" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:nato.security.classification.abbreviated.1288.2">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="special_handling_markings" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:special.handling.markings.1101.2">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="frequency_spectrum_designator" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:frequency.spectrum.designator.1175.1">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="8"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="1LNKSTAT"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="activity">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="stage_of_confirmation" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:stage.of.confirmation.1268.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="activity_type" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:activity.type.1299.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="activity_qualifier" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:activity.qualifier.1291.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="activity_codeword_designator" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:activity.codeword.designator.1020.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="ACTIVITY"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="amplification">
    <xsd:sequence>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="AMPN"/>
  </xsd:complexType>

  <xsd:complexType name="combat.effectiveness">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="combat_effectiveness" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:combat.effectiveness.1298.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="personnel_strength_rating" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:personnel.strength.rating.1298.6">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="manpower_fatigue_rating" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:manpower.fatigue.rating.1298.5">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="major_equipments_available_rating" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:major.equipments.available.rating.1298.7">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ammunition_holdings_rating" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:ammunition.holdings.rating.1298.8">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="fuel_holdings_rating" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:fuel.holdings.rating.1298.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="CEFT"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="command.relationship.type">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="command_relationship_qualifier" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:command.relationship.qualifier.1130.34">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="command_relationship_type" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:command.relationship.type.1660.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="CMDREL"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="date.time.group">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="dtg" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:dtg.2033">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="DTG"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="enemy.materiel">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="verified_quantity_of_equipment_weapons" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:verified.quantity.of.equipment.weapons.2110">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="verified_equipment_category" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:verified.equipment.category.2107">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="verified_equipment_designator" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:verified.equipment.designator.2109">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="EMAT"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="enemy.organization.designator">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="unit_designation_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.designation.name.1022.39">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="verified_unit_size_indicator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:verified.unit.size.indicator.2392">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="verified_nationality" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:verified.nationality.2082">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="verified_unit_role_indicator_code_a" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:verified.unit.role.indicator.code.a.2393">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="verified_unit_role_indicator_code_b" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:verified.unit.role.indicator.code.b.2394">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="verified_unit_role_indicator_code_c" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:verified.unit.role.indicator.code.c.2395">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="verified_unit_role_indicator_code_d" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:verified.unit.role.indicator.code.d.2396">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="verified_higher_formation_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:verified.higher.formation.name.2397">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="8"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="verified_armed_service" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:verified.armed.service.2071">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="9"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unidentified_or_unknown_enemy_units" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="unidentified_enemy_unit_addressing_number">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:unidentified.enemy.unit.addressing.number.2150">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2150-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="unknown_enemy_unit_addressing_number">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:unknown.enemy.unit.addressing.number.2151">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2151-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="10"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="EORGID"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="main.equipment.of.own.units">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="stage_of_confirmation" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:stage.of.confirmation.1268.1">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="equipment_category" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:equipment.category.1135.28">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="equipment_designator" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:equipment.designator.1135.3">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="context_quantity_0_99999" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:context.quantity.0.99999.1023.4">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="EQUIP"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="enemy.strength">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="verified_number_of_enemy_units" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:verified.number.of.enemy.units.2400">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="verified_unit_size_indicator" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:verified.unit.size.indicator.2392">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="verified_nationality" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:verified.nationality.2082">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="verified_unit_role_indicator_code_a" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:verified.unit.role.indicator.code.a.2393">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="ESTRENTH"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="exercise.identification">
    <xsd:sequence>
      <xsd:element name="amplification" type="amplification" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="exercise_nickname" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:exercise.nickname.1021.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exercise_identifier" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="exercise_additional_identifier">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:exercise.additional.identifier.1018.11">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1018-11"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="exercise_additional_nickname">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:exercise.additional.nickname.1018.16">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1018-16"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="EXER"/>
  </xsd:complexType>

  <xsd:complexType name="general.text">
    <xsd:sequence>
      <xsd:element name="narrative" type="narrative" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="text_indicator" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:text.indicator.1009.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="GENTEXT"/>
  </xsd:complexType>

  <xsd:complexType name="geodetic.datum">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="geodetic_datum" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:geodetic.datum.1195.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="GEODATUM"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="control.or.coordination.line.type">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="stage_of_confirmation" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:stage.of.confirmation.1268.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="control_or_coordination_line_type" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:control.or.coordination.line.type.1284.9">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="line_identifier" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="line_name">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:line.name.1022.214">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1022-214"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="line_designator">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:line.designator.1515.4">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1515-4"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="LINETYPE"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="location.amplification">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="location_type" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:location.type.1284.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="location_name" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:location.name.1022.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="geographic_place_name" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:geographic.place.name.1022.90">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="geographical_entity" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:geographical.entity.1026.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="LOCAMPN"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="geographic.location">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="stage_of_confirmation" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:stage.of.confirmation.1268.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="type_of_graphic_shape" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:type.of.graphic.shape.1237.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="grid_reference_location_coordinate" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="location_utm_1_metre">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.utm.1.metre.2089">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2089-20"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="location_utm_10_metre">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.utm.10.metre.2086">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2086-20"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="location_utm_100_metre">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.utm.100.metre.2087">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2087-20"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="location_utm_1_000_metre">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.utm.1.000.metre.2088">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2088-20"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="geographic_position_lat_long_degrees">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.lat.long.degrees.2022">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2022-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="geographic_position_lat_long_minutes">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.lat.long.minutes.2023">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2023-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="geographic_position_lat_long_seconds">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.lat.long.seconds.2024">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2024-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="LOCATION"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="location.and.nearest.feature">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="geographic_place_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:geographic.place.name.1022.90">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="utm_grid_reference" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="location_utm_1_metre">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.utm.1.metre.2089">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2089-20"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="location_utm_10_metre">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.utm.10.metre.2086">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2086-20"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="location_utm_100_metre">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.utm.100.metre.2087">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2087-20"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="location_utm_1_000_metre">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.utm.1.000.metre.2088">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2088-20"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="LOCNF"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="location.nearest.feature.and.confirmation.status">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="status_of_confirmation" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:status.of.confirmation.1268.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="geographic_place_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:geographic.place.name.1022.90">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="utm_grid_reference" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="location_utm_1_metre">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.utm.1.metre.2089">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2089-20"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="location_utm_10_metre">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.utm.10.metre.2086">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2086-20"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="location_utm_100_metre">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.utm.100.metre.2087">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2087-20"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="location_utm_1_000_metre">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.utm.1.000.metre.2088">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2088-20"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="LOCNFSTS"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="map.data.without.geodetic.datum">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="map_or_chart_series_designator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:map.or.chart.series.designator.1075.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="map_or_chart_suffix_number" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:map.or.chart.suffix.number.1012.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="map_or_chart_sheet_number" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:map.or.chart.sheet.number.1012.3">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="map_or_chart_edition_number" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:map.or.chart.edition.number.1012.2">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="MAPNOGD"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="message.identifier">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="message_text_format_identifier" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:message.text.format.identifier.1018.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="originator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:originator.1029.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="message_serial_number" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:message.serial.number.1012.7">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="month_name_abbreviated" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:month.name.abbreviated.1004.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="qualifier" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:qualifier.1130.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="serial_number_of_qualifier" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:serial.number.of.qualifier.1012.29">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="MSGID"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="narrative">
    <xsd:sequence>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="NARR"/>
  </xsd:complexType>

  <xsd:complexType name="operation.codeword">
    <xsd:sequence>
      <xsd:element name="amplification" type="amplification" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="operation_codeword" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:operation.codeword.1020.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="plan_originator_and_number" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="c:plan.originator.and.number.2404">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="option_nickname" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:option.nickname.1232.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="secondary_option_nickname" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:secondary.option.nickname.1232.2">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="OPER"/>
  </xsd:complexType>

  <xsd:complexType name="operational.movement">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="movement_direction" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="direction_of_movement">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:direction.of.movement.1161.3">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1161-3"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="direction_in_degrees">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:direction.in.degrees.2321">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2321-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="direction_in_mils">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:direction.in.mils.2322">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2322-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="speed" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:speed.2063">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="OPMOVEMT"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="organization.designator">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="unit_designation_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.designation.name.1022.39">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_size_indicator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.size.indicator.1045.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="geographical_entity" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:geographical.entity.1026.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_a" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.a.1311.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_b" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.b.1311.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_c" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.c.1311.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_d" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.d.1311.5">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="higher_formation_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:higher.formation.name.1022.40">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="8"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="armed_service_or_civilian_agency_code" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="armed_service">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:armed.service.1107.1">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1107-1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="civilian_agency_code">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:civilian.agency.code.1507.1">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1507-1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="9"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_identification_code_uic" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:unit.identification.code.2141">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="10"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="ORGID"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="organization.boundary">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="unit_designation_name_1" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.designation.name.1022.39">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_size_indicator_1" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.size.indicator.1045.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="geographical_entity_1" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:geographical.entity.1026.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_a_1" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.a.1311.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="boundary_unit_level_indicator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:boundary.unit.level.indicator.1045.7">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_designation_name_2" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.designation.name.1022.39">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_size_indicator_2" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.size.indicator.1045.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="geographical_entity_2" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:geographical.entity.1026.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="8"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_a_2" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.a.1311.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="9"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="ORGIDBDY"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="organization.designator.of.drafter.releaser">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="unit_designation_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.designation.name.1022.39">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_size_indicator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.size.indicator.1045.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="geographical_entity" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:geographical.entity.1026.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_a" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.a.1311.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_b" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.b.1311.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_c" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.c.1311.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_d" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.d.1311.5">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="higher_formation_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:higher.formation.name.1022.40">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="8"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="armed_service_or_civilian_agency_code" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="armed_service">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:armed.service.1107.1">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1107-1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="civilian_agency_code">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:civilian.agency.code.1507.1">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1507-1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="9"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_identification_code_uic" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:unit.identification.code.2141">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="10"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="ORGIDDFT"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="organization.designator.of.subordinate.unit">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="unit_designation_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.designation.name.1022.39">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_size_indicator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.size.indicator.1045.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="geographical_entity" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:geographical.entity.1026.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_a" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.a.1311.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_b" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.b.1311.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_c" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.c.1311.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_d" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.d.1311.5">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="higher_formation_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:higher.formation.name.1022.40">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="8"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="armed_service_or_civilian_agency_code" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="armed_service">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:armed.service.1107.1">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1107-1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="civilian_agency_code">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:civilian.agency.code.1507.1">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1507-1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="9"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_identification_code_uic" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:unit.identification.code.2141">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="10"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="ORGIDSUB"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="message.part.and.title">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="message_part_identifier" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:message.part.identifier.1102.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="part_title" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:part.title.1356.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="security_classification_abbreviated" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:security.classification.abbreviated.1288.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="special_handling_designator" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:special.handling.designator.1101.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="PARTTITL"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="qualified.start.time">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="start_time_qualifier" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:start.time.qualifier.1220.15">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="dtg" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:dtg.2033">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="QSTRTIME"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="reference">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="serial_letter" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:serial.letter.1102.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="communication_type" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="message_text_format_identifier">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:message.text.format.identifier.1018.2">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1018-2"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="communication_type">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:communication.type.1153.1">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1153-1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="originator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:originator.1029.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="date_and_or_time_of_reference" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="dtg_of_reference_4_digit_yr">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:dtg.2033">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2033-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_of_reference">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.2000">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2000-34"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_reference">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.and.month.2030">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2030-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmmyyyy">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.ddmmmyyyy.2001">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2001-3"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmyyyy">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.ddmmyyyy.2052">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2052-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_yyyymmdd">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.yyyymmdd.2053">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2053-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="month_year">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:month.year.2472">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2472-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="reference_serial_number" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:reference.serial.number.1012.66">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="special_notation" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:special.notation.1131.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="sic_or_file_number" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="sic">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:sic.1017.2">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1017-2"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="filing_number">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:filing.number.1012.49">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1012-49"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="REF"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="remarks">
    <xsd:sequence>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="RMKS"/>
  </xsd:complexType>

  <xsd:complexType name="time">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="time_qualifier" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:time.qualifier.1220.1">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_time_indicator" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="dtg_zulu">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:dtg.zulu.2323">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2323-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="day_time_and_month">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:day.time.and.month.2030">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2030-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="day_month_name">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:day.month.name.2067">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2067-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="reference_time_indicator">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:reference.time.indicator.1258.1">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1258-1"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="adjusted_reference_time">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:adjusted.reference.time.2055">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2055-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="TIME"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="time.period.covered">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="date_time_group_from" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:dtg.zulu.2323">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="date_time_group_to" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:dtg.zulu.2323">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="TPERID"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

</xsd:schema>
