miliconvert/xsmt-docs/branches/xsmt-docs-1.0.0/testing/v0/test_data/boolOut.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Booleen">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="resultat">
          <xs:complexType>
            <xs:attribute name="value" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
