miliconvert/format-docs/trunk/own_sit_rep/xsd_b11/ownsitrep.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" version="11">
  <xsd:element name="own_land_force_situation_report">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="exercise_identification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="exercise_nickname" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="exercise_additional_identifier" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="operation_codeword">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="operation_codeword" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="plan_originator_and_number">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="plan_originator"/>
                    <xsd:element name="blank_space_character"/>
                    <xsd:element name="plan_number"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="option_nickname" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="secondary_option_nickname" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="message_identifier">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="message_text_format_identifier" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="originator" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="message_serial_number" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="month_name" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="qualifier" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="serial_number_of_qualifier" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="reference">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="serial_letter" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="message_text_format_identifier" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="originator" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="day_time_group_of_reference">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="day"/>
                    <xsd:element name="hour_time"/>
                    <xsd:element name="minute_time"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="reference_serial_number" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="special_notation" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="sic" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="geodetic_datum">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="geodetic_datum" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="date_time_group">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="dtg">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="day"/>
                    <xsd:element name="hour_time"/>
                    <xsd:element name="minute_time"/>
                    <xsd:element name="time_zone"/>
                    <xsd:element name="month_name"/>
                    <xsd:element name="year"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="organization_designator_of_drafter_releaser">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="unit_designation_name" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="unit_size_indicator" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="geographical_entity" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_a" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_b" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_c" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_d" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="higher_formation_name" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="armed_service" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="map_data_without_geodetic_datum">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="map_or_chart_series_designator" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="map_or_chart_suffix_number" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="map_or_chart_sheet_number" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="map_or_chart_edition_number" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="message_part_and_title_segment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="message_part_and_title">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="message_part_identifier" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="part_title" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="security_classification_abbreviated" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="special_handling_designator" type="xsd:string"/>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="1" name="organization_designator_segment">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="organization_designator">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_designation_name" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_size_indicator" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="geographical_entity" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_a" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_b" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_c" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_d" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="higher_formation_name" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="armed_service" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="command_relationship_type">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="command_relationship_qualifier" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="command_relationship_type" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="organization_designator_of_subordinate_unit_segment">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="organization_designator_of_subordinate_unit">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="unit_designation_name" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="unit_size_indicator" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="geographical_entity" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_a" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_b" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_c" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_d" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="higher_formation_name" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="armed_service" type="xsd:string"/>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="1" name="command_relationship_type">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="command_relationship_qualifier" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="command_relationship_type" type="xsd:string"/>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="1" name="time">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:element maxOccurs="unbounded" minOccurs="1" name="time_qualifier" type="xsd:string"/>
                                <xsd:element maxOccurs="unbounded" minOccurs="1" name="dtg_zulu">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="day"/>
                                      <xsd:element name="hour_time"/>
                                      <xsd:element name="minute_time"/>
                                      <xsd:element name="time_zone_zulu"/>
                                      <xsd:element name="month_name"/>
                                      <xsd:element name="year"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="general_text">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="text_indicator" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="free_text" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="message_part_and_title_segment_2">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="message_part_and_title">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="message_part_identifier" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="part_title" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="security_classification_abbreviated" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="special_handling_designator" type="xsd:string"/>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="1" name="organization_designator_segment">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="organization_designator">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_designation_name" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_size_indicator" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="geographical_entity" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_a" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_b" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_c" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_d" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="higher_formation_name" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="armed_service" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="time_period_covered">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="dtg_from_zulu">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="day"/>
                                <xsd:element name="hour_time"/>
                                <xsd:element name="minute_time"/>
                                <xsd:element name="time_zone_zulu"/>
                                <xsd:element name="month_name"/>
                                <xsd:element name="year"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="1" name="dtg_to_zulu">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="day"/>
                                <xsd:element name="hour_time"/>
                                <xsd:element name="minute_time"/>
                                <xsd:element name="time_zone_zulu"/>
                                <xsd:element name="month_name"/>
                                <xsd:element name="year"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="location_nearest_feature_and_confirmation_status_segment">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="location_nearest_feature_and_confirmation_status">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="status_of_confirmation" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="geographic_place_name" type="xsd:string"/>
                                <xsd:element maxOccurs="unbounded" minOccurs="1" name="location_utm_1_metre">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="utm_grid_zone_column"/>
                                      <xsd:element name="utm_grid_zone_row"/>
                                      <xsd:element name="utm_100000_metre_square_column"/>
                                      <xsd:element name="utm_100000_metre_square_row"/>
                                      <xsd:element name="utm_1_metre_easting"/>
                                      <xsd:element name="utm_1_metre_northing"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="1" name="time_period_covered_segment">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="time_period_covered">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="1" name="dtg_from_zulu">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="day"/>
                                            <xsd:element name="hour_time"/>
                                            <xsd:element name="minute_time"/>
                                            <xsd:element name="time_zone_zulu"/>
                                            <xsd:element name="month_name"/>
                                            <xsd:element name="year"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element maxOccurs="1" minOccurs="1" name="dtg_to_zulu">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="day"/>
                                            <xsd:element name="hour_time"/>
                                            <xsd:element name="minute_time"/>
                                            <xsd:element name="time_zone_zulu"/>
                                            <xsd:element name="month_name"/>
                                            <xsd:element name="year"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="1" minOccurs="0" name="activity">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="1" name="stage_of_confirmation" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="1" name="activity_type" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="activity_qualifier" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="activity_codeword_designator" type="xsd:string"/>
                                    </xsd:sequence>
                                    <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="1" minOccurs="0" name="operational_movement">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="1" name="direction_of_movement" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="1" name="speed">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="context_quantity_decimal_pt_permitted_4_char_max"/>
                                            <xsd:element name="unit_of_speed_velocity_measurement"/>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="general_text_2">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="text_indicator" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="free_text" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="message_part_and_title_segment_3">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="message_part_and_title">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="message_part_identifier" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="part_title" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="security_classification_abbreviated" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="special_handling_designator" type="xsd:string"/>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="1" name="organization_designator_segment">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="organization_designator">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_designation_name" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_size_indicator" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="geographical_entity" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_a" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_b" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_c" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_d" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="higher_formation_name" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="armed_service" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="combat_effectiveness">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="combat_effectiveness" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="personnel_strength_rating" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="manpower_fatigue_rating" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="major_equipments_available_rating" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="ammunition_holdings_rating" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="fuel_holdings_rating" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="main_equipment_of_own_units">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:element maxOccurs="unbounded" minOccurs="1" name="stage_of_confirmation" type="xsd:string"/>
                          <xsd:element maxOccurs="unbounded" minOccurs="1" name="equipment_category" type="xsd:string"/>
                          <xsd:element maxOccurs="unbounded" minOccurs="1" name="equipment_designator" type="xsd:string"/>
                          <xsd:element maxOccurs="unbounded" minOccurs="1" name="context_quantity_0_99999" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="link_status">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="stage_of_confirmation" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="communications_link_type" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="quantity_of_equipment" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="communication_traffic_type" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="link_status" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="nato_security_classification_abbreviated" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="special_handling_markings" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="frequency_spectrum_designator" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="enemy_organization_designator_segment">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="enemy_organization_designator">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="unit_designation_name" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="verified_unit_size_indicator">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="unit_size_indicator"/>
                                      <xsd:element name="verification_indicator"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="1" minOccurs="1" name="verified_nationality">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="geographical_entity"/>
                                      <xsd:element name="verification_indicator"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="1" minOccurs="1" name="verified_unit_role_indicator_code_a">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="unit_role_indicator_code_a"/>
                                      <xsd:element name="verification_indicator"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="1" minOccurs="1" name="verified_unit_role_indicator_code_b">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="unit_role_indicator_code_b"/>
                                      <xsd:element name="verification_indicator"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="1" minOccurs="1" name="verified_unit_role_indicator_code_c">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="unit_role_indicator_code_c"/>
                                      <xsd:element name="verification_indicator"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="1" minOccurs="1" name="verified_unit_role_indicator_code_d">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="unit_role_indicator_code_d"/>
                                      <xsd:element name="verification_indicator"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="1" minOccurs="1" name="verified_higher_formation_name">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="higher_formation_name"/>
                                      <xsd:element name="verification_indicator"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="1" minOccurs="1" name="verified_armed_service">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="armed_service"/>
                                      <xsd:element name="verification_indicator"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="1" name="enemy_strength">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:element maxOccurs="unbounded" minOccurs="1" name="verified_number_of_enemy_units">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="number_of_enemy_units"/>
                                      <xsd:element name="verification_indicator"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="unbounded" minOccurs="1" name="verified_unit_size_indicator">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="unit_size_indicator"/>
                                      <xsd:element name="verification_indicator"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="unbounded" minOccurs="1" name="verified_nationality">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="geographical_entity"/>
                                      <xsd:element name="verification_indicator"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="unbounded" minOccurs="1" name="verified_unit_role_indicator_code_a">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="unit_role_indicator_code_a"/>
                                      <xsd:element name="verification_indicator"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="0" name="enemy_materiel">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:element maxOccurs="unbounded" minOccurs="1" name="verified_quantity_of_equipment_weapons">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="quantity_of_equipment_weapons"/>
                                      <xsd:element name="verification_indicator"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="unbounded" minOccurs="1" name="verified_equipment_category">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="equipment_category"/>
                                      <xsd:element name="verification_indicator"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="verified_equipment_designator">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="equipment_designator"/>
                                      <xsd:element name="verification_indicator"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="1" name="geographic_location">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="stage_of_confirmation" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="type_of_graphic_shape" type="xsd:string"/>
                                <xsd:element maxOccurs="unbounded" minOccurs="1" name="location_utm_1_metre">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="utm_grid_zone_column"/>
                                      <xsd:element name="utm_grid_zone_row"/>
                                      <xsd:element name="utm_100000_metre_square_column"/>
                                      <xsd:element name="utm_100000_metre_square_row"/>
                                      <xsd:element name="utm_1_metre_easting"/>
                                      <xsd:element name="utm_1_metre_northing"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="0" name="location_amplification">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="location_type" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="location_name" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="geographic_place_name" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="geographical_entity" type="xsd:string"/>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="1" name="time">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:element maxOccurs="unbounded" minOccurs="1" name="time_qualifier" type="xsd:string"/>
                                <xsd:element maxOccurs="unbounded" minOccurs="1" name="dtg_zulu">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="day"/>
                                      <xsd:element name="hour_time"/>
                                      <xsd:element name="minute_time"/>
                                      <xsd:element name="time_zone_zulu"/>
                                      <xsd:element name="month_name"/>
                                      <xsd:element name="year"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="1" name="activity">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="stage_of_confirmation" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="activity_type" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="activity_qualifier" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="activity_codeword_designator" type="xsd:string"/>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="0" name="general_text">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="text_indicator" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="free_text" type="xsd:string"/>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="general_text_3">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="text_indicator" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="free_text" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="message_part_and_title_segment_4">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="message_part_and_title">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="message_part_identifier" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="part_title" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="security_classification_abbreviated" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="special_handling_designator" type="xsd:string"/>
                  </xsd:sequence>
                  <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="1" name="organization_designator_segment">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="organization_designator">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_designation_name" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_size_indicator" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="geographical_entity" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_a" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_b" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_c" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_d" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="higher_formation_name" type="xsd:string"/>
                          <xsd:element maxOccurs="1" minOccurs="1" name="armed_service" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="control_or_coordination_line_type_segment">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="control_or_coordination_line_type">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="stage_of_confirmation" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="control_or_coordination_line_type" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="line_name" type="xsd:string"/>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="1" name="location_and_nearest_feature">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="geographic_place_name" type="xsd:string"/>
                                <xsd:element maxOccurs="unbounded" minOccurs="1" name="location_utm_1_metre">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="utm_grid_zone_column"/>
                                      <xsd:element name="utm_grid_zone_row"/>
                                      <xsd:element name="utm_100000_metre_square_column"/>
                                      <xsd:element name="utm_100000_metre_square_row"/>
                                      <xsd:element name="utm_1_metre_easting"/>
                                      <xsd:element name="utm_1_metre_northing"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="0" name="organization_boundary">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="unit_designation_name" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="unit_size_indicator" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="geographical_entity" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_a" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="boundary_unit_level_indicator" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="unit_designation_name_1" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="unit_size_indicator_1" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="geographical_entity_1" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_a_1" type="xsd:string"/>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="0" name="time_period_covered">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="dtg_from_zulu">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="day"/>
                                      <xsd:element name="hour_time"/>
                                      <xsd:element name="minute_time"/>
                                      <xsd:element name="time_zone_zulu"/>
                                      <xsd:element name="month_name"/>
                                      <xsd:element name="year"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="1" minOccurs="1" name="dtg_to_zulu">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="day"/>
                                      <xsd:element name="hour_time"/>
                                      <xsd:element name="minute_time"/>
                                      <xsd:element name="time_zone_zulu"/>
                                      <xsd:element name="month_name"/>
                                      <xsd:element name="year"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="0" name="qualified_start_time">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="start_time_qualifier" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="dtg">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="day"/>
                                      <xsd:element name="hour_time"/>
                                      <xsd:element name="minute_time"/>
                                      <xsd:element name="time_zone"/>
                                      <xsd:element name="month_name"/>
                                      <xsd:element name="year"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                              <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="general_text_4">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="text_indicator" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="free_text" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="set-seq" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="remarks" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
