miliconvert/xsmt-docs/trunk/testing/xsd/bl12/nuc2/sets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="nato:adatp-3:bl12:sets" xmlns:c="nato:adatp-3:bl12:composites" xmlns:f="nato:adatp-3:bl12:elementals" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="nato:adatp-3:bl12:sets" version="bl12">
<xsd:import namespace="nato:adatp-3:bl12:elementals" schemaLocation="fields.xsd"/>
<xsd:import namespace="nato:adatp-3:bl12:composites" schemaLocation="composites.xsd"/>
<xsd:complexType name="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="amplification"/>
<xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="narrative"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="exercise.identification">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="exercise_nickname" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:exercise.nickname.1021.1">
<xsd:attribute fixed="1021-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="exercise_identifier" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="exercise_additional_identifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:exercise.additional.identifier.1018.11">
<xsd:attribute fixed="1018-11" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="exercise_additional_nickname" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:exercise.additional.nickname.1018.16">
<xsd:attribute fixed="1018-16" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="exer" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="operation.codeword">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="operation_codeword" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:operation.codeword.1020.1">
<xsd:attribute fixed="1020-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="plan_originator_and_number" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:plan.originator.and.number.2404.1">
<xsd:attribute fixed="2404-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="option_nickname" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:option.nickname.1232.1">
<xsd:attribute fixed="1232-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="secondary_option_nickname" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:secondary.option.nickname.1232.2">
<xsd:attribute fixed="1232-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="oper" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="message.identifier">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="message_text_format_identifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:message.text.format.identifier.1018.2">
<xsd:attribute fixed="1018-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="originator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:originator.1029.1">
<xsd:attribute fixed="1029-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="message_serial_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:message.serial.number.1012.7">
<xsd:attribute fixed="1012-7" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="month_name_abbreviated" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:month.name.abbreviated.1004.1">
<xsd:attribute fixed="1004-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="qualifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:qualifier.1130.3">
<xsd:attribute fixed="1130-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="serial_number_of_qualifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:serial.number.of.qualifier.1012.29">
<xsd:attribute fixed="1012-29" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="msgid" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="reference">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="serial_letter" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="serial_letter" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:serial.letter.1102.3">
<xsd:attribute fixed="1102-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="communication_type" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="message_text_format_identifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:message.text.format.identifier.1018.2">
<xsd:attribute fixed="1018-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="communication_type" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:communication.type.1153.1">
<xsd:attribute fixed="1153-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="originator" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="originator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:originator.1029.1">
<xsd:attribute fixed="1029-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="date_and_or_time_of_reference" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="dtg_of_reference_4_digit_yr" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:dtg.of.reference.4.digit.yr.2033.2">
<xsd:attribute fixed="2033-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="day_time_of_reference" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.of.reference.2000.34">
<xsd:attribute fixed="2000-34" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="day_time_and_month_of_reference" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.and.month.of.reference.2030.2">
<xsd:attribute fixed="2030-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="date_of_reference_ddmmmyyyy" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:date.of.reference.ddmmmyyyy.2001.3">
<xsd:attribute fixed="2001-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="date_of_reference_ddmmyyyy" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:date.of.reference.ddmmyyyy.2052.2">
<xsd:attribute fixed="2052-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="date_of_reference_yyyymmdd" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:date.of.reference.yyyymmdd.2053.2">
<xsd:attribute fixed="2053-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="month_year" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:month.year.2472.1">
<xsd:attribute fixed="2472-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="reference_serial_number" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="reference_serial_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:reference.serial.number.1012.66">
<xsd:attribute fixed="1012-66" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="special_notation" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="special_notation" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:special.notation.1131.1">
<xsd:attribute fixed="1131-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="sic_or_file_number" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="sic" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:sic.1017.2">
<xsd:attribute fixed="1017-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="7" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="filing_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:filing.number.1012.49">
<xsd:attribute fixed="1012-49" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="7" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="ref" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="geodetic.datum">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="geodetic_datum" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:geodetic.datum.1195.1">
<xsd:attribute fixed="1195-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="geodatum" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="date.time.group">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="dtg" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:dtg.2033.1">
<xsd:attribute fixed="2033-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="dtg" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="organization.designator.of.drafter.releaser">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_designation_name" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.designation.name.1022.39">
<xsd:attribute fixed="1022-39" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_size_indicator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.size.indicator.1045.4">
<xsd:attribute fixed="1045-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="geographical_entity" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:geographical.entity.1026.1">
<xsd:attribute fixed="1026-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_a" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.role.indicator.code.a.1311.2">
<xsd:attribute fixed="1311-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_b" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.role.indicator.code.b.1311.3">
<xsd:attribute fixed="1311-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_c" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.role.indicator.code.c.1311.4">
<xsd:attribute fixed="1311-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_d" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.role.indicator.code.d.1311.5">
<xsd:attribute fixed="1311-5" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="7" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="higher_formation_name" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:higher.formation.name.1022.40">
<xsd:attribute fixed="1022-40" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="8" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="armed_service_or_civilian_agency_code" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="armed_service" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:armed.service.1107.1">
<xsd:attribute fixed="1107-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="9" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="civilian_agency_code" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:civilian.agency.code.1507.1">
<xsd:attribute fixed="1507-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="9" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="unit_identification_code_uic" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:unit.identification.code.uic.2141.1">
<xsd:attribute fixed="2141-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="10" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="orgiddft" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="type.of.nbc.report">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="nbc__report" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="type_of_nbc_report" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:type.of.nbc.report.1018.8">
<xsd:attribute fixed="1018-8" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="type_of_nbc_weather_report" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:type.of.nbc.weather.report.1018.3">
<xsd:attribute fixed="1018-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="validation_code" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:validation.code.1742.1">
<xsd:attribute fixed="1742-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="nbcevent" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="strike.serial.number">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="geographic_location" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="nationality" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:nationality.1026.2">
<xsd:attribute fixed="1026-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="area_control_centre_code" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:area.control.centre.code.1080.2">
<xsd:attribute fixed="1080-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="code_for_originator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:code.for.originator.1029.3">
<xsd:attribute fixed="1029-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="sequence_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:sequence.number.1012.57">
<xsd:attribute fixed="1012-57" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="type_of_incident" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:type.of.incident.1211.10">
<xsd:attribute fixed="1211-10" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="grading_of_message_report" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:grading.of.message.report.1202.4">
<xsd:attribute fixed="1202-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="alfa" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="date.time.group.of.attack.or.detonation.and.attack.end">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="date_time_group_of_attack_or_detonation" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="dtg_of_attack_zulu" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:dtg.of.attack.zulu.2323.7">
<xsd:attribute fixed="2323-7" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="dtg_of_detonation_zulu" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:dtg.of.detonation.zulu.2323.8">
<xsd:attribute fixed="2323-8" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="dtg_of_attack_end_zulu" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:dtg.of.attack.end.zulu.2323.15">
<xsd:attribute fixed="2323-15" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="delta" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="location.of.attack.or.event">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="group_of_fields">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="attack_or_event_location" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="geographic_place_name" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:geographic.place.name.1022.90">
<xsd:attribute fixed="1022-90" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="geographic_position_lat_long_seconds" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:geographic.position.lat.long.seconds.2024.1">
<xsd:attribute fixed="2024-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="geographic_position_utm_10_metre" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:geographic.position.utm.10.metre.2086.1">
<xsd:attribute fixed="2086-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="geographic_position_lat_long_minutes" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:geographic.position.lat.long.minutes.2023.1">
<xsd:attribute fixed="2023-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="geographic_position_utm_100_metre" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:geographic.position.utm.100.metre.2087.1">
<xsd:attribute fixed="2087-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="location_qualifier" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="location_qualifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:location.qualifier.1118.1">
<xsd:attribute fixed="1118-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="unknown_location_qualifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unknown.location.qualifier.1118.6">
<xsd:attribute fixed="1118-6" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="foxtrot" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="delivery.and.quantity.information">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="suspected_observed_event" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:suspected.observed.event.1312.1">
<xsd:attribute fixed="1312-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="type_of_delivery" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:type.of.delivery.1737.1">
<xsd:attribute fixed="1737-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="number_of_delivery_systems" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:number.of.delivery.systems.1044.355">
<xsd:attribute fixed="1044-355" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="type_of_agent_container" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:type.of.agent.container.1190.3">
<xsd:attribute fixed="1190-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="agent_container_or_release" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="number_of_agent_containers" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:number.of.agent.containers.1044.364">
<xsd:attribute fixed="1044-364" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="size_of_release_rota" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:size.of.release.rota.1743.1">
<xsd:attribute fixed="1743-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="golf" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="type.of.nuclear.burst">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="type_of_nuclear_burst" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:type.of.nuclear.burst.1735.2">
<xsd:attribute fixed="1735-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="hotel" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="estimated.nuclear.yield.in.kilotons">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="estimated_nuclear_yield_in_kilotons" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:estimated.nuclear.yield.in.kilotons.1104.2">
<xsd:attribute fixed="1104-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="november" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="representative.downwind.direction.and.downwind.speed">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="representative_downwind_direction" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="representative_downwind_direction_in_degrees" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:representative.downwind.direction.in.degrees.2321.4">
<xsd:attribute fixed="2321-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="representative_downwind_direction_in_mils" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:representative.downwind.direction.in.mils.2322.4">
<xsd:attribute fixed="2322-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="representative_downwind_speed_and_unit_of_measurement" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:representative.downwind.speed.and.unit.of.measurement.2455.1">
<xsd:attribute fixed="2455-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="yankee" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="actual.weather.conditions">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="detailed_simplified_air_stability_category" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="detailed_air_stability_category" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:detailed.air.stability.category.1313.1">
<xsd:attribute fixed="1313-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="simplified_air_stability_category" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:simplified.air.stability.category.1126.1">
<xsd:attribute fixed="1126-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="surface_air_temperature_and_unit_of_measurement" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:surface.air.temperature.and.unit.of.measurement.2319.1">
<xsd:attribute fixed="2319-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="relative_humidity_range" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:relative.humidity.range.1315.1">
<xsd:attribute fixed="1315-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="significant_weather_phenomena" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:significant.weather.phenomena.1386.6">
<xsd:attribute fixed="1386-6" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="cloud_coverage" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:cloud.coverage.1328.1">
<xsd:attribute fixed="1328-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="zulu" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="general.text">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="text_indicator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:text.indicator.1009.1">
<xsd:attribute fixed="1009-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="free_text" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:free.text.1006.1">
<xsd:attribute fixed="1006-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="gentext" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="amplification">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="free_text" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:free.text.1006.1">
<xsd:attribute fixed="1006-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="ampn" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="narrative">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="free_text" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:free.text.1006.1">
<xsd:attribute fixed="1006-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="narr" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="remarks">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="free_text" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:free.text.1006.1">
<xsd:attribute fixed="1006-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="rmks" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:schema>
