miliconvert/format-docs/trunk/intelligence_summary/xsd_adatp3_12.2/composites.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- Copyright Systematic Software Engineering Ltd. 2002          -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="nato:adatp-3:b12.2:composites" xml:lang="en-GB" version="12.2"
 xmlns="nato:adatp-3:b12.2:composites"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:f="nato:adatp-3:b12.2:elementals"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="nato:adatp-3:b12.2:elementals" schemaLocation="fields.xsd"/>

  <xsd:complexType name="day.time.2000">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="hour_time" type="f:hour.time.1001.1"/>
      <xsd:element name="minute_time" type="f:minute.time.1002.1"/>
      <xsd:element name="time_zone" type="f:time.zone.1003.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.ddmmmyyyy.2001">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="month_name_abbreviated" type="f:month.name.abbreviated.1004.1"/>
      <xsd:element name="year" type="f:year.1005.7"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="day.time.and.month.2030">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="hour_time" type="f:hour.time.1001.1"/>
      <xsd:element name="minute_time" type="f:minute.time.1002.1"/>
      <xsd:element name="time_zone" type="f:time.zone.1003.1"/>
      <xsd:element name="month_name_abbreviated" type="f:month.name.abbreviated.1004.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="dtg.2033">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="hour_time" type="f:hour.time.1001.1"/>
      <xsd:element name="minute_time" type="f:minute.time.1002.1"/>
      <xsd:element name="time_zone" type="f:time.zone.1003.1"/>
      <xsd:element name="month_name_abbreviated" type="f:month.name.abbreviated.1004.1"/>
      <xsd:element name="year" type="f:year.1005.7"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.ddmmyyyy.2052">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="month_numeric" type="f:month.numeric.1004.2"/>
      <xsd:element name="year" type="f:year.1005.7"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.yyyymmdd.2053">
    <xsd:sequence>
      <xsd:element name="year" type="f:year.1005.7"/>
      <xsd:element name="month_numeric" type="f:month.numeric.1004.2"/>
      <xsd:element name="day" type="f:day.1000.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="unit.identification.code.2141">
    <xsd:sequence>
      <xsd:element name="nationality" type="f:nationality.1026.2"/>
      <xsd:element name="armed_service" type="f:armed.service.1107.1"/>
      <xsd:element name="file_sequential_location_number" type="f:file.sequential.location.number.1012.103"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="plan.originator.and.number.2404">
    <xsd:sequence>
      <xsd:element name="plan_originator" type="f:plan.originator.1029.2"/>
      <xsd:element name="blank_space_character" type="f:blank.space.character.1025.4"/>
      <xsd:element name="plan_number" type="f:plan.number.1012.146"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="month.year.2472">
    <xsd:sequence>
      <xsd:element name="month_name_abbreviated" type="f:month.name.abbreviated.1004.1"/>
      <xsd:element name="year_4_digit" type="f:year.4.digit.1005.1"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
