miliconvert/format-docs/trunk/intelligence_summary/xsd_adatp3_12.2/messages.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- Copyright Systematic Software Engineering Ltd. 2002          -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="nato:adatp-3:b12.2" xml:lang="en-GB" version="12.2"
 xmlns="nato:adatp-3:b12.2"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:s="nato:adatp-3:b12.2:sets"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="nato:adatp-3:b12.2:sets" schemaLocation="sets.xsd"/>

  <xsd:element name="intelligence_summary">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="exercise_identification" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:exercise.identification">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="1"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="operation_codeword" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:operation.codeword">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="2"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="message_identifier" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:message.identifier">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="3"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="reference" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:reference">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="4"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="date_time_group" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:date.time.group">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="5"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="organization_designator_of_drafter_releaser" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:organization.designator.of.drafter.releaser">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="6"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="period_of_time" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:period.of.time">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="7"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_1" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="8"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_2_segment" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="general_text_2" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:general.text">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="9"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="general_text_3" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:general.text">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="10"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="general_text_4" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:general.text">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="11"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="general_text_5" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:general.text">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="12"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="general_text_6" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:general.text">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="13"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="general_text_7" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:general.text">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="14"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="general_text_8" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:general.text">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="15"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="general_text_9" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:general.text">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="16"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="general_text_10" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:general.text">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="17"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="general_text_11" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:general.text">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="18"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="9"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_12" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="19"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="remarks" type="s:remarks" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    <xsd:attribute name="mtfid" type="xsd:string" fixed="INTSUM"/>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
