miliconvert/format-docs/trunk/intelligence_summary/xsd_adatp3_12.2/sets.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- Copyright Systematic Software Engineering Ltd. 2002          -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="nato:adatp-3:b12.2:sets" xml:lang="en-GB" version="12.2"
 xmlns="nato:adatp-3:b12.2:sets"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:c="nato:adatp-3:b12.2:composites"
 xmlns:f="nato:adatp-3:b12.2:elementals"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="nato:adatp-3:b12.2:composites" schemaLocation="composites.xsd"/>
  <xsd:import namespace="nato:adatp-3:b12.2:elementals" schemaLocation="fields.xsd"/>

  <xsd:complexType name="set.base.type">
    <xsd:sequence>
      <xsd:element name="amplification" type="amplification" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="narrative" type="narrative" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="amplification">
    <xsd:sequence>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="AMPN"/>
  </xsd:complexType>

  <xsd:complexType name="date.time.group">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="dtg" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:dtg.2033">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="DTG"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="exercise.identification">
    <xsd:sequence>
      <xsd:element name="amplification" type="amplification" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="exercise_nickname" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:exercise.nickname.1021.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exercise_identifier" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="exercise_additional_identifier">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:exercise.additional.identifier.1018.11">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1018-11"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="exercise_additional_nickname">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:exercise.additional.nickname.1018.16">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1018-16"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="EXER"/>
  </xsd:complexType>

  <xsd:complexType name="general.text">
    <xsd:sequence>
      <xsd:element name="narrative" type="narrative" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="text_indicator" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:text.indicator.1009.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="GENTEXT"/>
  </xsd:complexType>

  <xsd:complexType name="message.identifier">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="message_text_format_identifier" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:message.text.format.identifier.1018.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="originator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:originator.1029.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="message_serial_number" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:message.serial.number.1012.7">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="month_name_abbreviated" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:month.name.abbreviated.1004.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="qualifier" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:qualifier.1130.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="serial_number_of_qualifier" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:serial.number.of.qualifier.1012.29">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="MSGID"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="narrative">
    <xsd:sequence>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="NARR"/>
  </xsd:complexType>

  <xsd:complexType name="operation.codeword">
    <xsd:sequence>
      <xsd:element name="amplification" type="amplification" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="operation_codeword" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:operation.codeword.1020.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="plan_originator_and_number" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="c:plan.originator.and.number.2404">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="option_nickname" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:option.nickname.1232.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="secondary_option_nickname" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:secondary.option.nickname.1232.2">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="OPER"/>
  </xsd:complexType>

  <xsd:complexType name="organization.designator.of.drafter.releaser">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="unit_designation_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.designation.name.1022.39">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_size_indicator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.size.indicator.1045.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="geographical_entity" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:geographical.entity.1026.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_a" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.a.1311.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_b" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.b.1311.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_c" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.c.1311.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_d" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.d.1311.5">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="higher_formation_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:higher.formation.name.1022.40">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="8"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="armed_service_or_civilian_agency_code" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="armed_service">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:armed.service.1107.1">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1107-1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="civilian_agency_code">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:civilian.agency.code.1507.1">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1507-1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="9"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_identification_code_uic" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:unit.identification.code.2141">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="10"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="ORGIDDFT"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="period.of.time">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="start_day_time" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="day_time_start">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.2000">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2000-14"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_start">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.and.month.2030">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2030-3"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="dtg_of_start">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:dtg.2033">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2033-29"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="stop_day_time" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="day_time_stop">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.2000">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2000-15"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_stop">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.and.month.2030">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2030-4"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="stop_time_qualifier">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:stop.time.qualifier.1220.8">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1220-8"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="dtg_of_stop">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:dtg.2033">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2033-30"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="qualified_stop_time" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="day_time">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.2000">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2000-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.and.month.2030">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2030-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="dtg">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:dtg.2033">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2033-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="PERIOD"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="reference">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="serial_letter" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:serial.letter.1102.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="communication_type" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="message_text_format_identifier">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:message.text.format.identifier.1018.2">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1018-2"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="communication_type">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:communication.type.1153.1">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1153-1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="originator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:originator.1029.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="date_and_or_time_of_reference" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="dtg_of_reference_4_digit_yr">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:dtg.2033">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2033-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_of_reference">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.2000">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2000-34"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_reference">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.and.month.2030">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2030-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmmyyyy">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.ddmmmyyyy.2001">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2001-3"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmyyyy">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.ddmmyyyy.2052">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2052-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_yyyymmdd">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.yyyymmdd.2053">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2053-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="month_year">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:month.year.2472">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2472-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="reference_serial_number" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:reference.serial.number.1012.66">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="special_notation" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:special.notation.1131.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="sic_or_file_number" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="sic">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:sic.1017.2">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1017-2"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="filing_number">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:filing.number.1012.49">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1012-49"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="REF"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="remarks">
    <xsd:sequence>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="RMKS"/>
  </xsd:complexType>

</xsd:schema>
