miliconvert/format-docs/trunk/air_tasking_order/xsd_adatp3/composites.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- Copyright Systematic Software Engineering Ltd. 2002          -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="nato:adatp-3:b12.2:composites" xml:lang="en-GB" version="12.2"
 xmlns="nato:adatp-3:b12.2:composites"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:f="nato:adatp-3:b12.2:elementals"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="nato:adatp-3:b12.2:elementals" schemaLocation="fields.xsd"/>

  <xsd:complexType name="day.time.2000">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="hour_time" type="f:hour.time.1001.1"/>
      <xsd:element name="minute_time" type="f:minute.time.1002.1"/>
      <xsd:element name="time_zone" type="f:time.zone.1003.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.ddmmmyyyy.2001">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="month_name_abbreviated" type="f:month.name.abbreviated.1004.1"/>
      <xsd:element name="year" type="f:year.1005.7"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="day.time.verified.2013">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="hour_time" type="f:hour.time.1001.1"/>
      <xsd:element name="minute_time" type="f:minute.time.1002.1"/>
      <xsd:element name="time_zone" type="f:time.zone.1003.1"/>
      <xsd:element name="context_quantity_0_9" type="f:context.quantity.0.9.1023.13"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="time.hour.minute.2014">
    <xsd:sequence>
      <xsd:element name="hour_time" type="f:hour.time.1001.1"/>
      <xsd:element name="minute_time" type="f:minute.time.1002.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.georef.minute.2017">
    <xsd:sequence>
      <xsd:element name="fifteen_degree_quadrilateral_georef" type="f:fifteen.degree.quadrilateral.georef.1031.1"/>
      <xsd:element name="one_degree_quadrilateral_georef" type="f:one.degree.quadrilateral.georef.1032.1"/>
      <xsd:element name="minute_easting_georef" type="f:minute.easting.georef.1033.1"/>
      <xsd:element name="minute_northing_georef" type="f:minute.northing.georef.1034.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.georef.centiminute.2018">
    <xsd:sequence>
      <xsd:element name="fifteen_degree_quadrilateral_georef" type="f:fifteen.degree.quadrilateral.georef.1031.1"/>
      <xsd:element name="one_degree_quadrilateral_georef" type="f:one.degree.quadrilateral.georef.1032.1"/>
      <xsd:element name="minute_easting_georef" type="f:minute.easting.georef.1033.1"/>
      <xsd:element name="centiminute_angular_1" type="f:centiminute.angular.1035.1"/>
      <xsd:element name="minute_northing_georef" type="f:minute.northing.georef.1034.1"/>
      <xsd:element name="centiminute_angular_2" type="f:centiminute.angular.1035.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.georef.abbreviated.minute.2019">
    <xsd:sequence>
      <xsd:element name="one_degree_quadrilateral_georef" type="f:one.degree.quadrilateral.georef.1032.1"/>
      <xsd:element name="minute_easting_georef" type="f:minute.easting.georef.1033.1"/>
      <xsd:element name="minute_northing_georef" type="f:minute.northing.georef.1034.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.georef.abbreviated.centiminute.2020">
    <xsd:sequence>
      <xsd:element name="one_degree_quadrilateral_georef" type="f:one.degree.quadrilateral.georef.1032.1"/>
      <xsd:element name="minute_easting_georef" type="f:minute.easting.georef.1033.1"/>
      <xsd:element name="centiminute_angular_1" type="f:centiminute.angular.1035.1"/>
      <xsd:element name="minute_northing_georef" type="f:minute.northing.georef.1034.1"/>
      <xsd:element name="centiminute_angular_2" type="f:centiminute.angular.1035.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.lat.long.degrees.2022">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.1039.1"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.1030.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.1040.1"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.1030.3"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.lat.long.minutes.2023">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.1039.1"/>
      <xsd:element name="latitude_minute_angular" type="f:latitude.minute.angular.1041.2"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.1030.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.1040.1"/>
      <xsd:element name="longitude_minute_angular" type="f:longitude.minute.angular.1041.3"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.1030.3"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.lat.long.seconds.2024">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.1039.1"/>
      <xsd:element name="latitude_minute_angular" type="f:latitude.minute.angular.1041.2"/>
      <xsd:element name="latitude_second_angular" type="f:latitude.second.angular.1042.2"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.1030.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.1040.1"/>
      <xsd:element name="longitude_minute_angular" type="f:longitude.minute.angular.1041.3"/>
      <xsd:element name="longitude_second_angular" type="f:longitude.second.angular.1042.3"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.1030.3"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="day.time.and.month.2030">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="hour_time" type="f:hour.time.1001.1"/>
      <xsd:element name="minute_time" type="f:minute.time.1002.1"/>
      <xsd:element name="time_zone" type="f:time.zone.1003.1"/>
      <xsd:element name="month_name_abbreviated" type="f:month.name.abbreviated.1004.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.time.month.verified.2032">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="hour_time" type="f:hour.time.1001.1"/>
      <xsd:element name="minute_time" type="f:minute.time.1002.1"/>
      <xsd:element name="time_zone" type="f:time.zone.1003.1"/>
      <xsd:element name="context_quantity_0_9" type="f:context.quantity.0.9.1023.13"/>
      <xsd:element name="month_name_abbreviated" type="f:month.name.abbreviated.1004.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="dtg.2033">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="hour_time" type="f:hour.time.1001.1"/>
      <xsd:element name="minute_time" type="f:minute.time.1002.1"/>
      <xsd:element name="time_zone" type="f:time.zone.1003.1"/>
      <xsd:element name="month_name_abbreviated" type="f:month.name.abbreviated.1004.1"/>
      <xsd:element name="year" type="f:year.1005.7"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="course.true.and.speed.kts.2037">
    <xsd:sequence>
      <xsd:element name="context_quantity_000_359" type="f:context.quantity.000.359.1023.2"/>
      <xsd:element name="angular_measurement_reference_true" type="f:angular.measurement.reference.true.1024.2"/>
      <xsd:element name="context_quantity_decimal_pt_permitted_3_char_max" type="f:context.quantity.decimal.pt.permitted.3.char.max.1023.20"/>
      <xsd:element name="unit_of_speed_measurement_knots" type="f:unit.of.speed.measurement.knots.1008.81"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.lat.long.degrees.verified.2042">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.1039.1"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.1030.2"/>
      <xsd:element name="context_quantity_0_9_1" type="f:context.quantity.0.9.1023.13"/>
      <xsd:element name="hyphen" type="f:hyphen.1025.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.1040.1"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.1030.3"/>
      <xsd:element name="context_quantity_0_9_2" type="f:context.quantity.0.9.1023.13"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.lat.long.minutes.verified.2043">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.1039.1"/>
      <xsd:element name="latitude_minute_angular" type="f:latitude.minute.angular.1041.2"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.1030.2"/>
      <xsd:element name="context_quantity_0_9_1" type="f:context.quantity.0.9.1023.13"/>
      <xsd:element name="hyphen" type="f:hyphen.1025.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.1040.1"/>
      <xsd:element name="longitude_minute_angular" type="f:longitude.minute.angular.1041.3"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.1030.3"/>
      <xsd:element name="context_quantity_0_9_2" type="f:context.quantity.0.9.1023.13"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.lat.long.seconds.verified.2044">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.1039.1"/>
      <xsd:element name="latitude_minute_angular" type="f:latitude.minute.angular.1041.2"/>
      <xsd:element name="latitude_second_angular" type="f:latitude.second.angular.1042.2"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.1030.2"/>
      <xsd:element name="context_quantity_0_9_1" type="f:context.quantity.0.9.1023.13"/>
      <xsd:element name="hyphen" type="f:hyphen.1025.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.1040.1"/>
      <xsd:element name="longitude_minute_angular" type="f:longitude.minute.angular.1041.3"/>
      <xsd:element name="longitude_second_angular" type="f:longitude.second.angular.1042.3"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.1030.3"/>
      <xsd:element name="context_quantity_0_9_2" type="f:context.quantity.0.9.1023.13"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="true.bearing.and.distance.from.ref.point.2047">
    <xsd:sequence>
      <xsd:element name="context_quantity_decimal_pt_for_tenth_perm_5_char_max" type="f:context.quantity.decimal.pt.for.tenth.perm.5.char.max.1023.32"/>
      <xsd:element name="angular_measurement_reference_true" type="f:angular.measurement.reference.true.1024.2"/>
      <xsd:element name="hyphen_1" type="f:hyphen.1025.2"/>
      <xsd:element name="bearing_distance_reference_point_name" type="f:bearing.distance.reference.point.name.1022.180"/>
      <xsd:element name="hyphen_2" type="f:hyphen.1025.2"/>
      <xsd:element name="context_quantity_0_1_decimal_pt_permitted" type="f:context.quantity.0.1.decimal.pt.permitted.1023.81"/>
      <xsd:element name="unit_of_linear_measurement_yd_m_or_nautical_miles" type="f:unit.of.linear.measurement.yd.m.or.nautical.miles.1008.80"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.ddmmyyyy.2052">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="month_numeric" type="f:month.numeric.1004.2"/>
      <xsd:element name="year" type="f:year.1005.7"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.yyyymmdd.2053">
    <xsd:sequence>
      <xsd:element name="year" type="f:year.1005.7"/>
      <xsd:element name="month_numeric" type="f:month.numeric.1004.2"/>
      <xsd:element name="day" type="f:day.1000.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="radio.frequency.2064">
    <xsd:sequence>
      <xsd:element name="context_quantity_decimal_pt_permitted_11_char_max" type="f:context.quantity.decimal.pt.permitted.11.char.max.1023.22"/>
      <xsd:element name="unit_of_electromagnetic_emission_measurement" type="f:unit.of.electromagnetic.emission.measurement.1008.2"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="iff.sif.mode.and.code.2083">
    <xsd:sequence>
      <xsd:element name="actual_iff_sif_modes_that_have_iff_sif_codes" type="f:actual.iff.sif.modes.that.have.iff.sif.codes.1302.6"/>
      <xsd:element name="hyphen" type="f:hyphen.1025.2"/>
      <xsd:element name="iff_sif_code" type="f:iff.sif.code.1303.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="iff.sif.mode.and.condition.2084">
    <xsd:sequence>
      <xsd:element name="iff_sif_mode" type="f:iff.sif.mode.1302.1"/>
      <xsd:element name="hyphen" type="f:hyphen.1025.2"/>
      <xsd:element name="iff_sif_mode_on_or_off_indicator" type="f:iff.sif.mode.on.or.off.indicator.1304.2"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.utm.10.metre.2086">
    <xsd:sequence>
      <xsd:element name="utm_grid_zone_column" type="f:utm.grid.zone.column.1096.1"/>
      <xsd:element name="utm_grid_zone_row" type="f:utm.grid.zone.row.1097.1"/>
      <xsd:element name="utm_100_000_metre_square_column" type="f:utm.100.000.metre.square.column.1098.1"/>
      <xsd:element name="utm_100_000_metre_square_row" type="f:utm.100.000.metre.square.row.1099.1"/>
      <xsd:element name="utm_10_metre_easting" type="f:utm.10.metre.easting.1234.1"/>
      <xsd:element name="utm_10_metre_northing" type="f:utm.10.metre.northing.1238.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.utm.100.metre.2087">
    <xsd:sequence>
      <xsd:element name="utm_grid_zone_column" type="f:utm.grid.zone.column.1096.1"/>
      <xsd:element name="utm_grid_zone_row" type="f:utm.grid.zone.row.1097.1"/>
      <xsd:element name="utm_100_000_metre_square_column" type="f:utm.100.000.metre.square.column.1098.1"/>
      <xsd:element name="utm_100_000_metre_square_row" type="f:utm.100.000.metre.square.row.1099.1"/>
      <xsd:element name="utm_100_metre_easting" type="f:utm.100.metre.easting.1239.1"/>
      <xsd:element name="utm_100_metre_northing" type="f:utm.100.metre.northing.1240.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.utm.1.000.metre.2088">
    <xsd:sequence>
      <xsd:element name="utm_grid_zone_column" type="f:utm.grid.zone.column.1096.1"/>
      <xsd:element name="utm_grid_zone_row" type="f:utm.grid.zone.row.1097.1"/>
      <xsd:element name="utm_100_000_metre_square_column" type="f:utm.100.000.metre.square.column.1098.1"/>
      <xsd:element name="utm_100_000_metre_square_row" type="f:utm.100.000.metre.square.row.1099.1"/>
      <xsd:element name="utm_1_000_metre_easting" type="f:utm.1.000.metre.easting.1241.1"/>
      <xsd:element name="utm_1_000_metre_northing" type="f:utm.1.000.metre.northing.1242.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.utm.1.metre.2089">
    <xsd:sequence>
      <xsd:element name="utm_grid_zone_column" type="f:utm.grid.zone.column.1096.1"/>
      <xsd:element name="utm_grid_zone_row" type="f:utm.grid.zone.row.1097.1"/>
      <xsd:element name="utm_100_000_metre_square_column" type="f:utm.100.000.metre.square.column.1098.1"/>
      <xsd:element name="utm_100_000_metre_square_row" type="f:utm.100.000.metre.square.row.1099.1"/>
      <xsd:element name="utm_1_metre_easting" type="f:utm.1.metre.easting.1057.1"/>
      <xsd:element name="utm_1_metre_northing" type="f:utm.1.metre.northing.1059.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="bearing.and.distance.2111">
    <xsd:sequence>
      <xsd:element name="context_quantity_decimal_pt_for_tenth_perm_5_char_max" type="f:context.quantity.decimal.pt.for.tenth.perm.5.char.max.1023.32"/>
      <xsd:element name="angular_measurement_reference_true" type="f:angular.measurement.reference.true.1024.2"/>
      <xsd:element name="hyphen" type="f:hyphen.1025.2"/>
      <xsd:element name="context_quantity_0_1_decimal_pt_permitted" type="f:context.quantity.0.1.decimal.pt.permitted.1023.81"/>
      <xsd:element name="unit_of_linear_measurement_yd_m_or_nautical_miles" type="f:unit.of.linear.measurement.yd.m.or.nautical.miles.1008.80"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.utm.abbreviated.100.metre.2126">
    <xsd:sequence>
      <xsd:element name="utm_100_000_metre_square_column" type="f:utm.100.000.metre.square.column.1098.1"/>
      <xsd:element name="utm_100_000_metre_square_row" type="f:utm.100.000.metre.square.row.1099.1"/>
      <xsd:element name="utm_100_metre_easting" type="f:utm.100.metre.easting.1239.1"/>
      <xsd:element name="utm_100_metre_northing" type="f:utm.100.metre.northing.1240.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.utm.abbreviated.10.metre.2128">
    <xsd:sequence>
      <xsd:element name="utm_100_000_metre_square_column" type="f:utm.100.000.metre.square.column.1098.1"/>
      <xsd:element name="utm_100_000_metre_square_row" type="f:utm.100.000.metre.square.row.1099.1"/>
      <xsd:element name="utm_10_metre_easting" type="f:utm.10.metre.easting.1234.1"/>
      <xsd:element name="utm_10_metre_northing" type="f:utm.10.metre.northing.1238.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="unit.identification.code.2141">
    <xsd:sequence>
      <xsd:element name="nationality" type="f:nationality.1026.2"/>
      <xsd:element name="armed_service" type="f:armed.service.1107.1"/>
      <xsd:element name="file_sequential_location_number" type="f:file.sequential.location.number.1012.103"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="naval.organization.designator.2143">
    <xsd:sequence>
      <xsd:element name="naval_level_of_echelon" type="f:naval.level.of.echelon.1045.3"/>
      <xsd:element name="naval_organization_numeric_designator" type="f:naval.organization.numeric.designator.1012.104"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="bearing.and.distance.from.reference.point.2157">
    <xsd:sequence>
      <xsd:element name="context_quantity_decimal_pt_for_tenth_perm_5_char_max" type="f:context.quantity.decimal.pt.for.tenth.perm.5.char.max.1023.32"/>
      <xsd:element name="angular_measurement_reference" type="f:angular.measurement.reference.1024.1"/>
      <xsd:element name="hyphen_1" type="f:hyphen.1025.2"/>
      <xsd:element name="reference_point_name" type="f:reference.point.name.1022.2"/>
      <xsd:element name="hyphen_2" type="f:hyphen.1025.2"/>
      <xsd:element name="context_quantity_0_4_decimal_pt_permitted" type="f:context.quantity.0.4.decimal.pt.permitted.1023.19"/>
      <xsd:element name="unit_of_linear_measurement_ft_yd_nm_m_km_kyd" type="f:unit.of.linear.measurement.ft.yd.nm.m.km.kyd.1008.14"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="location.deciseconds.2187">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.1039.1"/>
      <xsd:element name="latitude_minute_angular" type="f:latitude.minute.angular.1041.2"/>
      <xsd:element name="latitude_second_angular" type="f:latitude.second.angular.1042.2"/>
      <xsd:element name="latitude_decisecond_angular" type="f:latitude.decisecond.angular.1364.2"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.1030.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.1040.1"/>
      <xsd:element name="longitude_minute_angular" type="f:longitude.minute.angular.1041.3"/>
      <xsd:element name="longitude_second_angular" type="f:longitude.second.angular.1042.3"/>
      <xsd:element name="longitude_decisecond_angular" type="f:longitude.decisecond.angular.1364.3"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.1030.3"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="q.route.position.2203">
    <xsd:sequence>
      <xsd:element name="q_route_number" type="f:q.route.number.1012.184"/>
      <xsd:element name="q_route_point_designator" type="f:q.route.point.designator.1053.10"/>
      <xsd:element name="distance_in_nautical_miles_from_a_q_route_point" type="f:distance.in.nautical.miles.from.a.q.route.point.1089.5"/>
      <xsd:element name="q_route_lateral_displacement_qualifier" type="f:q.route.lateral.displacement.qualifier.1130.10"/>
      <xsd:element name="lateral_displacement_from_a_q_route_track_in_tens_of_yds" type="f:lateral.displacement.from.a.q.route.track.in.tens.of.yds.1217.2"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="course.and.approximate.speed.2270">
    <xsd:sequence>
      <xsd:element name="context_quantity_000_359" type="f:context.quantity.000.359.1023.2"/>
      <xsd:element name="angular_measurement_reference_true" type="f:angular.measurement.reference.true.1024.2"/>
      <xsd:element name="speed_approximate" type="f:speed.approximate.1379.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="radius.nautical.miles.2276">
    <xsd:sequence>
      <xsd:element name="context_quantity_1_9999" type="f:context.quantity.1.9999.1023.12"/>
      <xsd:element name="units_of_linear_measurement_nautical_miles" type="f:units.of.linear.measurement.nautical.miles.1008.82"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="position.true.bearing.and.range.in.nm.2281">
    <xsd:sequence>
      <xsd:element name="direction_in_degrees_true" type="f:direction.in.degrees.true.1439.1"/>
      <xsd:element name="hyphen_1" type="f:hyphen.1025.2"/>
      <xsd:element name="bearing_distance_reference_point_name" type="f:bearing.distance.reference.point.name.1022.180"/>
      <xsd:element name="hyphen_2" type="f:hyphen.1025.2"/>
      <xsd:element name="distance_in_nautical_miles_0_999" type="f:distance.in.nautical.miles.0.999.1089.6"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.lat.long.centiminutes.2338">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.1039.1"/>
      <xsd:element name="latitude_minute_angular" type="f:latitude.minute.angular.1041.2"/>
      <xsd:element name="decimal_point_1" type="f:decimal.point.1025.3"/>
      <xsd:element name="centiminute_angular_1" type="f:centiminute.angular.1035.1"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.1030.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.1040.1"/>
      <xsd:element name="longitude_minute_angular" type="f:longitude.minute.angular.1041.3"/>
      <xsd:element name="decimal_point_2" type="f:decimal.point.1025.3"/>
      <xsd:element name="centiminute_angular_2" type="f:centiminute.angular.1035.1"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.1030.3"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.lat.long.1.10.second.2355">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.1039.1"/>
      <xsd:element name="latitude_minute_angular" type="f:latitude.minute.angular.1041.2"/>
      <xsd:element name="latitude_second_angular" type="f:latitude.second.angular.1042.2"/>
      <xsd:element name="decimal_point_1" type="f:decimal.point.1025.3"/>
      <xsd:element name="tenth_of_second_of_latitude" type="f:tenth.of.second.of.latitude.1215.2"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.1030.2"/>
      <xsd:element name="hyphen" type="f:hyphen.1025.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.1040.1"/>
      <xsd:element name="longitude_minute_angular" type="f:longitude.minute.angular.1041.3"/>
      <xsd:element name="longitude_second_angular" type="f:longitude.second.angular.1042.3"/>
      <xsd:element name="decimal_point_2" type="f:decimal.point.1025.3"/>
      <xsd:element name="tenth_of_second_of_longitude" type="f:tenth.of.second.of.longitude.1215.3"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.1030.3"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="angle.in.degrees.true.magnetic.or.relative.2368">
    <xsd:sequence>
      <xsd:element name="context_quantity_000_359" type="f:context.quantity.000.359.1023.2"/>
      <xsd:element name="angular_measurement_reference_true_magnetic_or_relative" type="f:angular.measurement.reference.true.magnetic.or.relative.1024.6"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="radio.frequency.context.quantity.0.99999999.2383">
    <xsd:sequence>
      <xsd:element name="context_quantity_decimal_pt_permitted_8_char_max" type="f:context.quantity.decimal.pt.permitted.8.char.max.1023.21"/>
      <xsd:element name="unit_of_electromagnetic_emission_measurement" type="f:unit.of.electromagnetic.emission.measurement.1008.2"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="plan.originator.and.number.2404">
    <xsd:sequence>
      <xsd:element name="plan_originator" type="f:plan.originator.1029.2"/>
      <xsd:element name="blank_space_character" type="f:blank.space.character.1025.4"/>
      <xsd:element name="plan_number" type="f:plan.number.1012.146"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="true.bearing.distance.in.nm.from.reference.pt.abbreviated.2431">
    <xsd:sequence>
      <xsd:element name="direction_in_degrees_true" type="f:direction.in.degrees.true.1439.1"/>
      <xsd:element name="reference_point_name_12_characters" type="f:reference.point.name.12.characters.1022.8"/>
      <xsd:element name="distance_in_nautical_miles" type="f:distance.in.nautical.miles.1089.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="cell.sequence.numbers.2436">
    <xsd:sequence>
      <xsd:element name="cell_sequence_number_1" type="f:cell.sequence.number.1012.253"/>
      <xsd:element name="punctuation_mark_comma" type="f:punctuation.mark.comma.1025.8"/>
      <xsd:element name="cell_sequence_number_2" type="f:cell.sequence.number.1012.253"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="month.year.2472">
    <xsd:sequence>
      <xsd:element name="month_name_abbreviated" type="f:month.name.abbreviated.1004.1"/>
      <xsd:element name="year_4_digit" type="f:year.4.digit.1005.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="speed.of.movement.in.mph.kps.kph.or.mps.2481">
    <xsd:sequence>
      <xsd:element name="context_quantity_0_4_decimal_pt_permitted" type="f:context.quantity.0.4.decimal.pt.permitted.1023.19"/>
      <xsd:element name="unit_of_measurement_mph_kts_kph_mps" type="f:unit.of.measurement.mph.kts.kph.mps.1008.52"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="relative.time.in.hours.and.minutes.2482">
    <xsd:sequence>
      <xsd:element name="relative_time_indicator" type="f:relative.time.indicator.1258.5"/>
      <xsd:element name="positive_or_negative_indicator" type="f:positive.or.negative.indicator.1801.1"/>
      <xsd:element name="hour_time" type="f:hour.time.1001.1"/>
      <xsd:element name="minute_time" type="f:minute.time.1002.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="military.day.time.to.the.second.zulu.2483">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="hour_time" type="f:hour.time.1001.1"/>
      <xsd:element name="minute_time" type="f:minute.time.1002.1"/>
      <xsd:element name="second_time" type="f:second.time.1683.1"/>
      <xsd:element name="time_zone_zulu" type="f:time.zone.zulu.1003.2"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="julian.day.time.2484">
    <xsd:sequence>
      <xsd:element name="julian_day" type="f:julian.day.1792.1"/>
      <xsd:element name="hour_time" type="f:hour.time.1001.1"/>
      <xsd:element name="minute_time" type="f:minute.time.1002.1"/>
      <xsd:element name="time_zone" type="f:time.zone.1003.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="military.time.2485">
    <xsd:sequence>
      <xsd:element name="hour_time" type="f:hour.time.1001.1"/>
      <xsd:element name="minute_time" type="f:minute.time.1002.1"/>
      <xsd:element name="time_zone" type="f:time.zone.1003.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tacan.channel.receiver.and.tanker.2486">
    <xsd:sequence>
      <xsd:element name="receiver_tacan_channel" type="f:receiver.tacan.channel.1012.255"/>
      <xsd:element name="hyphen" type="f:hyphen.1025.2"/>
      <xsd:element name="tanker_tacan_channel" type="f:tanker.tacan.channel.1012.256"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="cargo.weight.decimal.point.prohibited.2487">
    <xsd:sequence>
      <xsd:element name="context_quantity_k_permitted_4_characters_max" type="f:context.quantity.k.permitted.4.characters.max.1390.3"/>
      <xsd:element name="unit_of_weight_mass_measurement" type="f:unit.of.weight.mass.measurement.1008.53"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.location.lat.long.centiseconds.2488">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.1039.1"/>
      <xsd:element name="latitude_minute_angular" type="f:latitude.minute.angular.1041.2"/>
      <xsd:element name="latitude_second_angular" type="f:latitude.second.angular.1042.2"/>
      <xsd:element name="latitude_centisecond_angular" type="f:latitude.centisecond.angular.1793.2"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.1030.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.1040.1"/>
      <xsd:element name="longitude_minute_angular" type="f:longitude.minute.angular.1041.3"/>
      <xsd:element name="longitude_second_angular" type="f:longitude.second.angular.1042.3"/>
      <xsd:element name="longitude_centisecond_angular" type="f:longitude.centisecond.angular.1793.3"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.1030.3"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.lat.long.ten.thousandths.of.minute.2489">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.1039.1"/>
      <xsd:element name="latitude_minute_angular" type="f:latitude.minute.angular.1041.2"/>
      <xsd:element name="decimal_point_1" type="f:decimal.point.1025.3"/>
      <xsd:element name="ten_thousandths_of_minute_of_latitude" type="f:ten.thousandths.of.minute.of.latitude.1794.2"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.1030.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.1040.1"/>
      <xsd:element name="longitude_minute_angular" type="f:longitude.minute.angular.1041.3"/>
      <xsd:element name="decimal_point_2" type="f:decimal.point.1025.3"/>
      <xsd:element name="ten_thousandths_of_minute_of_longitude" type="f:ten.thousandths.of.minute.of.longitude.1794.3"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.1030.3"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="radius.in.ft.yd.kf.sm.nm.mm.cm.m.km.hm.2490">
    <xsd:sequence>
      <xsd:element name="context_quantity_k_permitted_4_characters_max" type="f:context.quantity.k.permitted.4.characters.max.1390.3"/>
      <xsd:element name="unit_of_linear_measurement" type="f:unit.of.linear.measurement.1008.4"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="width.in.ft.yd.kf.sm.nm.mm.cm.m.km.hm.2491">
    <xsd:sequence>
      <xsd:element name="context_quantity_0_4_decimal_pt_permitted" type="f:context.quantity.0.4.decimal.pt.permitted.1023.19"/>
      <xsd:element name="unit_of_linear_measurement" type="f:unit.of.linear.measurement.1008.4"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="elevation.in.feet.or.metres.decimal.permitted.2492">
    <xsd:sequence>
      <xsd:element name="context_quantity_1_dec_and_or_minus_permitted_5_char_max" type="f:context.quantity.1.dec.and.or.minus.permitted.5.char.max.1023.27"/>
      <xsd:element name="unit_of_linear_measurement_feet_or_metres" type="f:unit.of.linear.measurement.feet.or.metres.1008.13"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="frequency.of.emission.2493">
    <xsd:sequence>
      <xsd:element name="context_quantity_decimal_pt_permitted_8_char_max" type="f:context.quantity.decimal.pt.permitted.8.char.max.1023.21"/>
      <xsd:element name="electromagnetic_pulse_unit_of_measurement" type="f:electromagnetic.pulse.unit.of.measurement.1008.54"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="elliptical.area.2494">
    <xsd:sequence>
      <xsd:element name="context_quantity_0_4_decimal_pt_permitted_1" type="f:context.quantity.0.4.decimal.pt.permitted.1023.19"/>
      <xsd:element name="unit_of_linear_measurement_1" type="f:unit.of.linear.measurement.1008.4"/>
      <xsd:element name="hyphen_1" type="f:hyphen.1025.2"/>
      <xsd:element name="context_quantity_0_4_decimal_pt_permitted_2" type="f:context.quantity.0.4.decimal.pt.permitted.1023.19"/>
      <xsd:element name="unit_of_linear_measurement_2" type="f:unit.of.linear.measurement.1008.4"/>
      <xsd:element name="hyphen_2" type="f:hyphen.1025.2"/>
      <xsd:element name="semi_major_axis_orientation_in_tenths_of_degrees_true" type="f:semi.major.axis.orientation.in.tenths.of.degrees.true.1439.7"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="bearing.true.and.distance.nm.from.reference.point.2495">
    <xsd:sequence>
      <xsd:element name="context_quantity_decimal_pt_for_tenth_perm_5_char_max" type="f:context.quantity.decimal.pt.for.tenth.perm.5.char.max.1023.32"/>
      <xsd:element name="angular_measurement_reference_true" type="f:angular.measurement.reference.true.1024.2"/>
      <xsd:element name="hyphen_1" type="f:hyphen.1025.2"/>
      <xsd:element name="reference_point_name_abbreviated" type="f:reference.point.name.abbreviated.1022.226"/>
      <xsd:element name="hyphen_2" type="f:hyphen.1025.2"/>
      <xsd:element name="context_quantity_0_4_decimal_pt_permitted" type="f:context.quantity.0.4.decimal.pt.permitted.1023.19"/>
      <xsd:element name="units_of_linear_measurement_nautical_miles" type="f:units.of.linear.measurement.nautical.miles.1008.82"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.lat.long.thousandths.of.minute.2496">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.1039.1"/>
      <xsd:element name="latitude_minute_angular" type="f:latitude.minute.angular.1041.2"/>
      <xsd:element name="decimal_point_1" type="f:decimal.point.1025.3"/>
      <xsd:element name="thousandth_of_minute_of_latitude" type="f:thousandth.of.minute.of.latitude.1216.2"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.1030.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.1040.1"/>
      <xsd:element name="longitude_minute_angular" type="f:longitude.minute.angular.1041.3"/>
      <xsd:element name="decimal_point_2" type="f:decimal.point.1025.3"/>
      <xsd:element name="thousandth_of_minute_of_longitude" type="f:thousandth.of.minute.of.longitude.1216.3"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.1030.3"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="beacon.2497">
    <xsd:sequence>
      <xsd:element name="context_quantity_0_6_1" type="f:context.quantity.0.6.1023.86"/>
      <xsd:element name="hyphen_1" type="f:hyphen.1025.2"/>
      <xsd:element name="context_quantity_0_6_2" type="f:context.quantity.0.6.1023.86"/>
      <xsd:element name="hyphen_2" type="f:hyphen.1025.2"/>
      <xsd:element name="context_quantity_0_6_3" type="f:context.quantity.0.6.1023.86"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="frequency.mode.and.numeric.2498">
    <xsd:sequence>
      <xsd:element name="frequency_mode" type="f:frequency.mode.1175.2"/>
      <xsd:element name="context_quantity_decimal_pt_permitted_7_characters_max" type="f:context.quantity.decimal.pt.permitted.7.characters.max.1023.87"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="airlift.activity.purpose.2499">
    <xsd:sequence>
      <xsd:element name="reason_for_stop" type="f:reason.for.stop.1805.2"/>
      <xsd:element name="alternate_purpose_for_airlift_activity" type="f:alternate.purpose.for.airlift.activity.1805.3"/>
      <xsd:element name="deviation_reason" type="f:deviation.reason.1805.4"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="iff.sif.mode.and.code.non.hyphenated.2500">
    <xsd:sequence>
      <xsd:element name="iff_sif_modes_that_have_iff_sif_codes" type="f:iff.sif.modes.that.have.iff.sif.codes.1302.5"/>
      <xsd:element name="iff_sif_code" type="f:iff.sif.code.1303.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="sector.geometry.with.outer.range.2526">
    <xsd:sequence>
      <xsd:element name="sector_limit_start" type="f:sector.limit.start.1043.14"/>
      <xsd:element name="sector_limit_end" type="f:sector.limit.end.1043.15"/>
      <xsd:element name="angular_measurement_reference" type="f:angular.measurement.reference.1024.1"/>
      <xsd:element name="context_quantity_k_permitted_4_characters_max" type="f:context.quantity.k.permitted.4.characters.max.1390.3"/>
      <xsd:element name="unit_of_measurement_km_m_nm_yd_hf" type="f:unit.of.measurement.km.m.nm.yd.hf.1008.110"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="sector.geometry.with.inner.and.outer.range.2527">
    <xsd:sequence>
      <xsd:element name="sector_limit_start" type="f:sector.limit.start.1043.14"/>
      <xsd:element name="sector_limit_end" type="f:sector.limit.end.1043.15"/>
      <xsd:element name="angular_measurement_reference" type="f:angular.measurement.reference.1024.1"/>
      <xsd:element name="context_quantity_k_permitted_4_characters_max_1" type="f:context.quantity.k.permitted.4.characters.max.1390.3"/>
      <xsd:element name="hyphen" type="f:hyphen.1025.2"/>
      <xsd:element name="context_quantity_k_permitted_4_characters_max_2" type="f:context.quantity.k.permitted.4.characters.max.1390.3"/>
      <xsd:element name="unit_of_measurement_km_m_nm_yd_hf" type="f:unit.of.measurement.km.m.nm.yd.hf.1008.110"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="link.16.address.block.2606">
    <xsd:sequence>
      <xsd:element name="jtids_unit_ju_address_block_lower_limit" type="f:jtids.unit.ju.address.block.lower.limit.1625.34"/>
      <xsd:element name="hyphen" type="f:hyphen.1025.2"/>
      <xsd:element name="jtids_unit_ju_address_block_upper_limit" type="f:jtids.unit.ju.address.block.upper.limit.1625.35"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
