miliconvert/format-docs/trunk/air_tasking_order/xsd_adatp3/messages.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- Copyright Systematic Software Engineering Ltd. 2002          -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="nato:adatp-3:b12.2" xml:lang="en-GB" version="12.2"
 xmlns="nato:adatp-3:b12.2"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:s="nato:adatp-3:b12.2:sets"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="nato:adatp-3:b12.2:sets" schemaLocation="sets.xsd"/>

  <xsd:element name="air_tasking_order">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="exercise_identification" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:exercise.identification">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="1"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="operation_codeword" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:operation.codeword">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="2"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="message_identifier" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:message.identifier">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="3"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="reference" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:reference">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="4"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="acknowledge" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:acknowledge">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="5"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="message_cancellation_with_new_information_provided" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:message.cancellation.with.new.information.provided">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="6"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="effective_date_time_frame" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:effective.date.time.frame">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="7"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_1" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="8"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="theater_resource_assets" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:theater.resource.assets">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="9"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="force_allotment_data" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:force.allotment.data">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="10"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="cancelled_mission" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:cancelled.mission">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="11"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="tasked_country_segment" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="tasked_country" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:tasked.country">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="12"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="service_tasked_segment" minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="service_tasked" minOccurs="1" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:complexContent>
                          <xsd:extension base="s:service.tasked">
                            <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="13"/>
                          </xsd:extension>
                        </xsd:complexContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="tasked_unit_and_location_segment" minOccurs="1" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="tasked_unit_and_location" minOccurs="1" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:tasked.unit.and.location">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="14"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="point_of_contact_information" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:point.of.contact.information">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="15"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="missile_target_location_1_segment" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="missile_target_location_1" minOccurs="1" maxOccurs="1">
                                  <xsd:complexType>
                                    <xsd:complexContent>
                                      <xsd:extension base="s:missile.target.location">
                                        <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="16"/>
                                      </xsd:extension>
                                    </xsd:complexContent>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="request_number_1" minOccurs="0" maxOccurs="1">
                                  <xsd:complexType>
                                    <xsd:complexContent>
                                      <xsd:extension base="s:request.number">
                                        <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="17"/>
                                      </xsd:extension>
                                    </xsd:complexContent>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="16"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="air_defence_artillery_ada_tasking_segment" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="air_defence_artillery_ada_tasking" minOccurs="1" maxOccurs="1">
                                  <xsd:complexType>
                                    <xsd:complexContent>
                                      <xsd:extension base="s:air.defence.artillery.ada.tasking">
                                        <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="18"/>
                                      </xsd:extension>
                                    </xsd:complexContent>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="air_defence_artillery_ada_defence" minOccurs="1" maxOccurs="1">
                                  <xsd:complexType>
                                    <xsd:complexContent>
                                      <xsd:extension base="s:air.defence.artillery.ada.defence">
                                        <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="19"/>
                                      </xsd:extension>
                                    </xsd:complexContent>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="emission_control_plan" minOccurs="0" maxOccurs="1">
                                  <xsd:complexType>
                                    <xsd:complexContent>
                                      <xsd:extension base="s:emission.control.plan">
                                        <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="20"/>
                                      </xsd:extension>
                                    </xsd:complexContent>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="control_of_air_assets_1" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:complexContent>
                                      <xsd:extension base="s:control.of.air.assets">
                                        <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="21"/>
                                      </xsd:extension>
                                    </xsd:complexContent>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="18"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="air_surveillance_and_control_data_1" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:air.surveillance.and.control.data">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="22"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="control_information_1" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:control.information">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="23"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="aircraft_mission_data_segment" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="aircraft_mission_data" minOccurs="1" maxOccurs="1">
                                  <xsd:complexType>
                                    <xsd:complexContent>
                                      <xsd:extension base="s:aircraft.mission.data">
                                        <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="24"/>
                                      </xsd:extension>
                                    </xsd:complexContent>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="individual_aircraft_mission_data_segment" minOccurs="1" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="individual_aircraft_mission_data" minOccurs="1" maxOccurs="1">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:individual.aircraft.mission.data">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="25"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="aerial_refuelling_information" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:aerial.refuelling.information">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="26"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="25"/>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="unit_remarks_reference" minOccurs="0" maxOccurs="1">
                                  <xsd:complexType>
                                    <xsd:complexContent>
                                      <xsd:extension base="s:unit.remarks.reference">
                                        <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="27"/>
                                      </xsd:extension>
                                    </xsd:complexContent>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="route" minOccurs="0" maxOccurs="1">
                                  <xsd:complexType>
                                    <xsd:complexContent>
                                      <xsd:extension base="s:route">
                                        <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="28"/>
                                      </xsd:extension>
                                    </xsd:complexContent>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="mission_routing" minOccurs="0" maxOccurs="1">
                                  <xsd:complexType>
                                    <xsd:complexContent>
                                      <xsd:extension base="s:mission.routing">
                                        <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="29"/>
                                      </xsd:extension>
                                    </xsd:complexContent>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="package_data" minOccurs="0" maxOccurs="1">
                                  <xsd:complexType>
                                    <xsd:complexContent>
                                      <xsd:extension base="s:package.data">
                                        <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="30"/>
                                      </xsd:extension>
                                    </xsd:complexContent>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="package_commander" minOccurs="0" maxOccurs="1">
                                  <xsd:complexType>
                                    <xsd:complexContent>
                                      <xsd:extension base="s:package.commander">
                                        <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="31"/>
                                      </xsd:extension>
                                    </xsd:complexContent>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="aircraft_mission_location_segment" minOccurs="1" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="aircraft_mission_location" minOccurs="0" maxOccurs="1">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:aircraft.mission.location">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="32"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="ground_target_location" minOccurs="0" maxOccurs="1">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:ground.target.location">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="33"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="ship_target_data" minOccurs="0" maxOccurs="1">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:ship.target.data">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="34"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="air_movement" minOccurs="0" maxOccurs="1">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:air.movement">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="35"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="escort_data" minOccurs="0" maxOccurs="1">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:escort.data">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="36"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="reconnaissance_mission_data" minOccurs="0" maxOccurs="1">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:reconnaissance.mission.data">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="37"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="position_trace_plot_segment" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="position_trace_plot" minOccurs="1" maxOccurs="1">
                                              <xsd:complexType>
                                                <xsd:complexContent>
                                                  <xsd:extension base="s:position.trace.plot">
                                                    <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="38"/>
                                                  </xsd:extension>
                                                </xsd:complexContent>
                                              </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element name="intelligence_product" minOccurs="0" maxOccurs="unbounded">
                                              <xsd:complexType>
                                                <xsd:complexContent>
                                                  <xsd:extension base="s:intelligence.product">
                                                    <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="39"/>
                                                  </xsd:extension>
                                                </xsd:complexContent>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="38"/>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="imagery_data_link_control_information" minOccurs="0" maxOccurs="1">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:imagery.data.link.control.information">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="40"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="request_number_2" minOccurs="0" maxOccurs="1">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:request.number">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="41"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="missile_target_location_2" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:missile.target.location">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="42"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="refuelling_tasking" minOccurs="0" maxOccurs="1">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:refuelling.tasking">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="43"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="aerial_refuelling" minOccurs="0" maxOccurs="1">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:aerial.refuelling">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="44"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="control_of_air_assets_2" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:control.of.air.assets">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="45"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="air_support_for" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:air.support.for">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="46"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="air_supported_by" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:air.supported.by">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="47"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="forward_air_controller_information_data" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:forward.air.controller.information.data">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="48"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="forward_air_controller_schedule" minOccurs="0" maxOccurs="1">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:forward.air.controller.schedule">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="49"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="electronic_warfare_data" minOccurs="0" maxOccurs="1">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:electronic.warfare.data">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="50"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="aircraft_route_information" minOccurs="0" maxOccurs="1">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:aircraft.route.information">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="51"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="aircraft_rendezvous_breakup_mission_data" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:aircraft.rendezvous.breakup.mission.data">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="52"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="chaff_mission_data" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:chaff.mission.data">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="53"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="landing_site_information" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:landing.site.information">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="54"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="ground_location_of_friendly_troops" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:ground.location.of.friendly.troops">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="55"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="precision_guided_munitions_information" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:precision.guided.munitions.information">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="56"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="drop_zone" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:drop.zone">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="57"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="allocated_transportation_requirements" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:allocated.transportation.requirements">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="58"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="air_surveillance_and_control_data_2" minOccurs="0" maxOccurs="1">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:air.surveillance.and.control.data">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="59"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="control_information_2" minOccurs="0" maxOccurs="1">
                                        <xsd:complexType>
                                          <xsd:complexContent>
                                            <xsd:extension base="s:control.information">
                                              <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="60"/>
                                            </xsd:extension>
                                          </xsd:complexContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="32"/>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="24"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="general_text_2" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:general.text">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="61"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="14"/>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="13"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="12"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="naval_flight_operations_times" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:naval.flight.operations.times">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="62"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="friendly_forces_segment" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="friendly_forces" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:friendly.forces">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="63"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="anti_air_warfare_axis_information" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:anti.air.warfare.axis.information">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="64"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="friendly_forces_location_segment" minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="friendly_forces_location" minOccurs="1" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:complexContent>
                          <xsd:extension base="s:friendly.forces.location">
                            <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="65"/>
                          </xsd:extension>
                        </xsd:complexContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="codes_crypto_and_authentication" minOccurs="0" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:complexContent>
                          <xsd:extension base="s:codes.crypto.and.authentication">
                            <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="66"/>
                          </xsd:extension>
                        </xsd:complexContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="iff_or_sif_setting" minOccurs="0" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:complexContent>
                          <xsd:extension base="s:iff.or.sif.setting">
                            <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="67"/>
                          </xsd:extension>
                        </xsd:complexContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="65"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="63"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="air_operations_timing_reference_point_segment" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="air_operations_timing_reference_point" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:air.operations.timing.reference.point">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="68"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="air_operations_timing_reference_point_trp_flow_data" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:air.operations.timing.reference.point.trp.flow.data">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="69"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="68"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_3" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="70"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_4" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="71"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_5" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="72"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_6" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="73"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_7" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="74"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_8" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="75"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_9" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="76"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_10" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="77"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_11" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="78"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_12" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="79"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_13" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="80"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_14" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="81"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_15" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="82"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_16" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="83"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_17" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="84"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="message_downgrading_or_declassification_data" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:message.downgrading.or.declassification.data">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="85"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="remarks" type="s:remarks" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    <xsd:attribute name="mtfid" type="xsd:string" fixed="ATO"/>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
