miliconvert/xsmt-docs/trunk/testing/xsd/bl11/engrdatarep/sets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="nato:adatp-3:bl11:sets" xmlns:c="nato:adatp-3:bl11:composites" xmlns:f="nato:adatp-3:bl11:elementals" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="nato:adatp-3:bl11:sets" version="bl11">
<xsd:import namespace="nato:adatp-3:bl11:elementals" schemaLocation="fields.xsd"/>
<xsd:import namespace="nato:adatp-3:bl11:composites" schemaLocation="composites.xsd"/>
<xsd:complexType name="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="amplification" type="amplification"/>
<xsd:element maxOccurs="1" minOccurs="0" name="narrative" type="narrative"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="exercise.identification">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="exercise_nickname" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:exercise.nickname.1021.1">
<xsd:attribute fixed="1021-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="exercise_additional_identifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:exercise.additional.identifier.1018.11">
<xsd:attribute fixed="1018-11" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="exer" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="operation.codeword">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="operation_codeword" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:operation.codeword.1020.1">
<xsd:attribute fixed="1020-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="plan_originator_and_number" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:plan.originator.and.number.2404.1">
<xsd:attribute fixed="2404-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="option_nickname" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:option.nickname.1232.1">
<xsd:attribute fixed="1232-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="secondary_option_nickname" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:secondary.option.nickname.1232.2">
<xsd:attribute fixed="1232-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="oper" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="message.identifier">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="message_text_format_identifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:message.text.format.identifier.1018.2">
<xsd:attribute fixed="1018-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="originator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:originator.1029.1">
<xsd:attribute fixed="1029-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="message_serial_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:message.serial.number.1012.7">
<xsd:attribute fixed="1012-7" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="month_name" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:month.name.1004.1">
<xsd:attribute fixed="1004-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="qualifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:qualifier.1130.3">
<xsd:attribute fixed="1130-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="serial_number_of_qualifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:serial.number.of.qualifier.1012.29">
<xsd:attribute fixed="1012-29" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="msgid" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="reference">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="serial_letter" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:serial.letter.1102.3">
<xsd:attribute fixed="1102-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="communication_type" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="message_text_format_identifier" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:message.text.format.identifier.1018.2">
<xsd:attribute fixed="1018-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="communication_type" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:communication.type.1153.1">
<xsd:attribute fixed="1153-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="originator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:originator.1029.1">
<xsd:attribute fixed="1029-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="date_and_time_of_reference" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="day_time_group_of_reference" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.group.of.reference.2197.2">
<xsd:attribute fixed="2197-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="day_time_of_reference" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.of.reference.2000.34">
<xsd:attribute fixed="2000-34" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="day_time_of_reference_verified" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.of.reference.verified.2013.33">
<xsd:attribute fixed="2013-33" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="day_time_and_month_of_reference" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:day.time.and.month.of.reference.2030.2">
<xsd:attribute fixed="2030-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="date_time_month_of_reference_verified" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:date.time.month.of.reference.verified.2032.2">
<xsd:attribute fixed="2032-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="dtg_of_reference_4_digit_yr" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:dtg.of.reference.4.digit.yr.2033.2">
<xsd:attribute fixed="2033-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="dtg_of_reference_verified_4_yr" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:dtg.of.reference.verified.4.yr.2034.2">
<xsd:attribute fixed="2034-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="date_of_reference_ddmmmyyyy" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:date.of.reference.ddmmmyyyy.2001.3">
<xsd:attribute fixed="2001-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="date_of_reference_ddmmyyyy" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:date.of.reference.ddmmyyyy.2052.2">
<xsd:attribute fixed="2052-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="date_of_reference_yyyymmdd" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:date.of.reference.yyyymmdd.2053.2">
<xsd:attribute fixed="2053-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="reference_serial_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:reference.serial.number.1012.66">
<xsd:attribute fixed="1012-66" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="special_notation" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:special.notation.1131.1">
<xsd:attribute fixed="1131-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="sic_or_file_number" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="sic" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:sic.1017.2">
<xsd:attribute fixed="1017-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="7" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="filing_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:filing.number.1012.49">
<xsd:attribute fixed="1012-49" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="7" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="ref" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="date.time.group">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="dtg_4_digit_year" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:dtg.4.digit.year.2033.1">
<xsd:attribute fixed="2033-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="dtg" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="organization.designator.of.drafter.releaser">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_designation_name" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.designation.name.1022.39">
<xsd:attribute fixed="1022-39" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_size_indicator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.size.indicator.1045.4">
<xsd:attribute fixed="1045-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="geographical_entity" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:geographical.entity.1026.1">
<xsd:attribute fixed="1026-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_a" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.role.indicator.code.a.1311.2">
<xsd:attribute fixed="1311-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_b" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.role.indicator.code.b.1311.3">
<xsd:attribute fixed="1311-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_c" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.role.indicator.code.c.1311.4">
<xsd:attribute fixed="1311-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_d" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.role.indicator.code.d.1311.5">
<xsd:attribute fixed="1311-5" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="7" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="higher_formation_name" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:higher.formation.name.1022.40">
<xsd:attribute fixed="1022-40" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="8" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="armed_service_or_civilian_agency_code" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="armed_service" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:armed.service.1107.1">
<xsd:attribute fixed="1107-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="9" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="civilian_agency_code" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:civilian.agency.code.1507.1">
<xsd:attribute fixed="1507-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="9" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="unit_identification_code_uic" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:unit.identification.code.uic.2141.1">
<xsd:attribute fixed="2141-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="10" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="orgiddft" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="organization.designator">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_designation_name" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.designation.name.1022.39">
<xsd:attribute fixed="1022-39" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_size_indicator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.size.indicator.1045.4">
<xsd:attribute fixed="1045-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="geographical_entity" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:geographical.entity.1026.1">
<xsd:attribute fixed="1026-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_a" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.role.indicator.code.a.1311.2">
<xsd:attribute fixed="1311-2" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_b" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.role.indicator.code.b.1311.3">
<xsd:attribute fixed="1311-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_c" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.role.indicator.code.c.1311.4">
<xsd:attribute fixed="1311-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="unit_role_indicator_code_d" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.role.indicator.code.d.1311.5">
<xsd:attribute fixed="1311-5" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="7" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="higher_formation_name" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:higher.formation.name.1022.40">
<xsd:attribute fixed="1022-40" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="8" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="armed_service_or_civilian_agency_code" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="armed_service" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:armed.service.1107.1">
<xsd:attribute fixed="1107-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="9" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="civilian_agency_code" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:civilian.agency.code.1507.1">
<xsd:attribute fixed="1507-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="9" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="unit_identification_code_uic" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:unit.identification.code.uic.2141.1">
<xsd:attribute fixed="2141-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="10" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="orgid" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="combat.effectiveness">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="combat_effectiveness" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:combat.effectiveness.1298.1">
<xsd:attribute fixed="1298-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="personnel_strength_rating" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:personnel.strength.rating.1298.6">
<xsd:attribute fixed="1298-6" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="manpower_fatigue_rating" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:manpower.fatigue.rating.1298.5">
<xsd:attribute fixed="1298-5" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="major_equipments_available_rating" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:major.equipments.available.rating.1298.7">
<xsd:attribute fixed="1298-7" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="ammunition_holdings_rating" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:ammunition.holdings.rating.1298.8">
<xsd:attribute fixed="1298-8" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="fuel_holdings_rating" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:fuel.holdings.rating.1298.4">
<xsd:attribute fixed="1298-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="6" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="ceft" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="sub.unit.type.and.quantity">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="subunit_type" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:subunit.type.1311.7">
<xsd:attribute fixed="1311-7" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="number_1_99" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:number.1.99.1044.293">
<xsd:attribute fixed="1044-293" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="subunit" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="land.mines">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="land_mine_type_anti_personnel_anti_tank" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:land.mine.type.anti.personnel.anti.tank.1210.3">
<xsd:attribute fixed="1210-3" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="name_of_assets" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:name.of.assets.1022.108">
<xsd:attribute fixed="1022-108" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="group_of_fields">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="number_of_assets_1_9999999" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:number.of.assets.1.9999999.1044.287">
<xsd:attribute fixed="1044-287" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="commitment_status" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:commitment.status.1236.16">
<xsd:attribute fixed="1236-16" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="landmine" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="explosives.available">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="name_of_assets" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:name.of.assets.1022.108">
<xsd:attribute fixed="1022-108" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="group_of_fields">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="explosives_quantity_and_unit_of_measure" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:explosives.quantity.and.unit.of.measure.2075.1">
<xsd:attribute fixed="2075-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="commitment_status" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:commitment.status.1236.16">
<xsd:attribute fixed="1236-16" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="explsavl" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="land.mine.laying.assets">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="name_of_assets" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:name.of.assets.1022.108">
<xsd:attribute fixed="1022-108" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="group_of_fields">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="number_1_99" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:number.1.99.1044.293">
<xsd:attribute fixed="1044-293" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="commitment_status" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:commitment.status.1236.16">
<xsd:attribute fixed="1236-16" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="lminelay" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="minefield.breaching.assets">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="name_of_assets" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:name.of.assets.1022.108">
<xsd:attribute fixed="1022-108" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="group_of_fields">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="number_1_99" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:number.1.99.1044.293">
<xsd:attribute fixed="1044-293" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="commitment_status" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:commitment.status.1236.16">
<xsd:attribute fixed="1236-16" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="minebrch" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="combat.engineer.vehicles">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="name_of_assets" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:name.of.assets.1022.108">
<xsd:attribute fixed="1022-108" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="group_of_fields">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="number_1_99" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:number.1.99.1044.293">
<xsd:attribute fixed="1044-293" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="commitment_status" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:commitment.status.1236.16">
<xsd:attribute fixed="1236-16" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="ctengveh" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="general.engineer.equipment">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="name_of_assets" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:name.of.assets.1022.108">
<xsd:attribute fixed="1022-108" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="group_of_fields">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="number_1_99" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:number.1.99.1044.293">
<xsd:attribute fixed="1044-293" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="commitment_status" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:commitment.status.1236.16">
<xsd:attribute fixed="1236-16" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="genengeq" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="survivability.material">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="name_of_assets" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:name.of.assets.1022.108">
<xsd:attribute fixed="1022-108" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="group_of_fields">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="number_of_assets_1_99999" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:number.of.assets.1.99999.1044.288">
<xsd:attribute fixed="1044-288" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="commitment_status" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:commitment.status.1236.16">
<xsd:attribute fixed="1236-16" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="survmat" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="item.list">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="item_data" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="national_stores_list_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:national.stores.list.number.1012.142">
<xsd:attribute fixed="1012-142" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="nato_stock_number" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:nato.stock.number.1012.61">
<xsd:attribute fixed="1012-61" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="item_description" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:item.description.1363.10">
<xsd:attribute fixed="1363-10" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="quantity_required_and_unit_of_measurement" nillable="true">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="c:quantity.required.and.unit.of.measurement.2074.1">
<xsd:attribute fixed="2074-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="itemlist" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="grounded.material">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="stores_number" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="grounded_material_weight_in_metric_tons" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:grounded.material.weight.in.metric.tons.1050.4">
<xsd:attribute fixed="1050-4" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="grounded_material_volume_in_cubic_metres" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:grounded.material.volume.in.cubic.metres.1063.5">
<xsd:attribute fixed="1063-5" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="weight_of_the_largest_item_in_metric_tons" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:weight.of.the.largest.item.in.metric.tons.1050.5">
<xsd:attribute fixed="1050-5" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="grdmat" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="bridging.equipment">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="bridging_equipment_designator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:bridging.equipment.designator.1135.14">
<xsd:attribute fixed="1135-14" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="name_of_assets" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:name.of.assets.1022.108">
<xsd:attribute fixed="1022-108" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="military_load_classification" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:military.load.classification.1253.1">
<xsd:attribute fixed="1253-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="3" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="group_of_fields">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="bridging_assets" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="length_of_bridge_in_metres" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:length.of.bridge.in.metres.1052.7">
<xsd:attribute fixed="1052-7" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="number_1_99" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:number.1.99.1044.293">
<xsd:attribute fixed="1044-293" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="4" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="commitment_status" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:commitment.status.1236.16">
<xsd:attribute fixed="1236-16" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="5" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="bridgeqp" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="acknowledge">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="acknowledge_requirement_indicator" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:acknowledge.requirement.indicator.1027.5">
<xsd:attribute fixed="1027-5" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="instructions_for_or_force_or_unit_required_to_acknowledge" nillable="true">
<xsd:complexType>
<xsd:choice>
<xsd:element name="instructions_for_acknowledging" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:instructions.for.acknowledging.1357.7">
<xsd:attribute fixed="1357-7" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="force_or_unit_required_to_acknowledge" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:force.or.unit.required.to.acknowledge.1022.98">
<xsd:attribute fixed="1022-98" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="2" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="aknldg" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="amplification">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="free_text" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:free.text.1006.1">
<xsd:attribute fixed="1006-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="ampn" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="narrative">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="free_text" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:free.text.1006.1">
<xsd:attribute fixed="1006-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="narr" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="remarks">
<xsd:complexContent>
<xsd:extension base="set.base.type">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="free_text" nillable="true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:free.text.1006.1">
<xsd:attribute fixed="1006-1" name="ffirn-fudn" type="xsd:string"/>
<xsd:attribute fixed="1" name="ff-seq" type="xsd:unsignedShort"/>
<xsd:attribute name="header" use="optional"/>
<xsd:attribute name="descriptor" use="optional"/>
<xsd:attribute name="alt" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute fixed="rmks" name="set-id" type="xsd:string"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:schema>
