miliconvert/format-docs/trunk/air_control_order/xsd_adatp3/composites.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- Copyright Systematic Software Engineering Ltd. 2002          -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="nato:adatp-3:b11:composites" xml:lang="en-GB" version="11"
 xmlns="nato:adatp-3:b11:composites"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:f="nato:adatp-3:b11:elementals"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="nato:adatp-3:b11:elementals" schemaLocation="fields.xsd"/>

  <xsd:complexType name="day.time.2000">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="hour_time" type="f:hour.time.1001.1"/>
      <xsd:element name="minute_time" type="f:minute.time.1002.1"/>
      <xsd:element name="time_zone" type="f:time.zone.1003.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.ddmmmyyyy.2001">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="month_name" type="f:month.name.abbreviated.1004.1"/>
      <xsd:element name="year" type="f:year.1005.7"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.lat.long.minutes.2023">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.1039.1"/>
      <xsd:element name="latitude_minute_angular" type="f:latitude.minute.angular.1041.2"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.1030.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.1040.1"/>
      <xsd:element name="longitude_minute_angular" type="f:longitude.minute.angular.1041.3"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.1030.3"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.position.lat.long.seconds.2024">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.1039.1"/>
      <xsd:element name="latitude_minute_angular" type="f:latitude.minute.angular.1041.2"/>
      <xsd:element name="latitude_second_angular" type="f:latitude.second.angular.1042.2"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.1030.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.1040.1"/>
      <xsd:element name="longitude_minute_angular" type="f:longitude.minute.angular.1041.3"/>
      <xsd:element name="longitude_second_angular" type="f:longitude.second.angular.1042.3"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.1030.3"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="day.time.and.month.2030">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="hour_time" type="f:hour.time.1001.1"/>
      <xsd:element name="minute_time" type="f:minute.time.1002.1"/>
      <xsd:element name="time_zone" type="f:time.zone.1003.1"/>
      <xsd:element name="month_name" type="f:month.name.abbreviated.1004.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="dtg.2033">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="hour_time" type="f:hour.time.1001.1"/>
      <xsd:element name="minute_time" type="f:minute.time.1002.1"/>
      <xsd:element name="time_zone" type="f:time.zone.1003.1"/>
      <xsd:element name="month_name" type="f:month.name.abbreviated.1004.1"/>
      <xsd:element name="year" type="f:year.1005.7"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.ddmmyyyy.2052">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.1000.1"/>
      <xsd:element name="month_numeric" type="f:month.numeric.1004.2"/>
      <xsd:element name="year" type="f:year.1005.7"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.yyyymmdd.2053">
    <xsd:sequence>
      <xsd:element name="year" type="f:year.1005.7"/>
      <xsd:element name="month_numeric" type="f:month.numeric.1004.2"/>
      <xsd:element name="day" type="f:day.1000.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="radio.frequency.2064">
    <xsd:sequence>
      <xsd:element name="context_quantity_decimal_pt_permitted_11_char_max" type="f:context.quantity.decimal.pt.permitted.11.char.max.1023.22"/>
      <xsd:element name="unit_of_electromagnetic_emission_measurement" type="f:unit.of.electromagnetic.emission.measurement.1008.2"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="flight.level.band.2099">
    <xsd:sequence>
      <xsd:element name="flight_level_data_qualifier_1" type="f:flight.level.data.qualifier.1130.4"/>
      <xsd:element name="flight_level_number_1" type="f:flight.level.number.1012.42"/>
      <xsd:element name="hyphen" type="f:hyphen.1025.2"/>
      <xsd:element name="flight_level_data_qualifier_2" type="f:flight.level.data.qualifier.1130.4"/>
      <xsd:element name="flight_level_number_2" type="f:flight.level.number.1012.42"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="radius.m.km.nm.2118">
    <xsd:sequence>
      <xsd:element name="context_quantity_0_to_1_decimal_pt_permitted_5_char_max" type="f:context.quantity.0.to.1.decimal.pt.permitted.5.char.max.1023.49"/>
      <xsd:element name="unit_of_linear_measurement_m_km_nm" type="f:unit.of.linear.measurement.m.km.nm.1008.20"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="width.m.km.nm.2123">
    <xsd:sequence>
      <xsd:element name="context_quantity_0_to_1_decimal_pt_permitted_5_char_max" type="f:context.quantity.0.to.1.decimal.pt.permitted.5.char.max.1023.49"/>
      <xsd:element name="unit_of_linear_measurement_m_km_nm" type="f:unit.of.linear.measurement.m.km.nm.1008.20"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="airspace.control.means.designator.range.2165">
    <xsd:sequence>
      <xsd:element name="airspace_control_means_identifier_1" type="f:airspace.control.means.identifier.1389.7"/>
      <xsd:element name="hyphen" type="f:hyphen.1025.2"/>
      <xsd:element name="airspace_control_means_identifier_2" type="f:airspace.control.means.identifier.1389.7"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="vertical.dimension.base.ref.point.to.relative.altitude.2166">
    <xsd:sequence>
      <xsd:element name="altitude_base_reference_point_qualifier" type="f:altitude.base.reference.point.qualifier.1130.8"/>
      <xsd:element name="hyphen" type="f:hyphen.1025.2"/>
      <xsd:element name="maximum_altitude_in_hundreds_of_feet" type="f:maximum.altitude.in.hundreds.of.feet.1255.5"/>
      <xsd:element name="altitude_reference_qualifier" type="f:altitude.reference.qualifier.1130.9"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="vertical.dimension.base.ref.point.to.flight.level.2167">
    <xsd:sequence>
      <xsd:element name="altitude_base_reference_point_qualifier" type="f:altitude.base.reference.point.qualifier.1130.8"/>
      <xsd:element name="hyphen" type="f:hyphen.1025.2"/>
      <xsd:element name="flight_level_data_qualifier" type="f:flight.level.data.qualifier.1130.4"/>
      <xsd:element name="maximum_altitude_in_hundreds_of_feet" type="f:maximum.altitude.in.hundreds.of.feet.1255.5"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="vertical.dimension.relative.altitude.to.flight.level.2168">
    <xsd:sequence>
      <xsd:element name="minimum_altitude_in_hundreds_of_feet" type="f:minimum.altitude.in.hundreds.of.feet.1255.4"/>
      <xsd:element name="altitude_reference_qualifier" type="f:altitude.reference.qualifier.1130.9"/>
      <xsd:element name="hyphen" type="f:hyphen.1025.2"/>
      <xsd:element name="flight_level_data_qualifier" type="f:flight.level.data.qualifier.1130.4"/>
      <xsd:element name="maximum_altitude_in_hundreds_of_feet" type="f:maximum.altitude.in.hundreds.of.feet.1255.5"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="vertical.dimension.relative.altitude.to.relative.alt.2169">
    <xsd:sequence>
      <xsd:element name="minimum_altitude_in_hundreds_of_feet" type="f:minimum.altitude.in.hundreds.of.feet.1255.4"/>
      <xsd:element name="altitude_reference_qualifier_1" type="f:altitude.reference.qualifier.1130.9"/>
      <xsd:element name="hyphen" type="f:hyphen.1025.2"/>
      <xsd:element name="maximum_altitude_in_hundreds_of_feet" type="f:maximum.altitude.in.hundreds.of.feet.1255.5"/>
      <xsd:element name="altitude_reference_qualifier_2" type="f:altitude.reference.qualifier.1130.9"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="bearing.degrees.true.2253">
    <xsd:sequence>
      <xsd:element name="context_quantity_000_359" type="f:context.quantity.000.359.1023.2"/>
      <xsd:element name="angular_measurement_reference_true" type="f:angular.measurement.reference.true.1024.2"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="altitude.in.feet.or.metres.2279">
    <xsd:sequence>
      <xsd:element name="context_quantity_0_99999" type="f:context.quantity.0.99999.1023.4"/>
      <xsd:element name="unit_of_linear_measurement_feet_or_metres" type="f:unit.of.linear.measurement.feet.or.metres.1008.13"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="plan.originator.and.number.2404">
    <xsd:sequence>
      <xsd:element name="plan_originator" type="f:plan.originator.1029.2"/>
      <xsd:element name="blank_space_character" type="f:blank.space.character.1025.4"/>
      <xsd:element name="plan_number" type="f:plan.number.1012.146"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="month.year.2472">
    <xsd:sequence>
      <xsd:element name="month_name" type="f:month.name.abbreviated.1004.1"/>
      <xsd:element name="year_4_digit" type="f:year.4.digit.1005.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="track.width.2524">
    <xsd:sequence>
      <xsd:element name="context_quantity_0_1_decimal_pt_permitted_1" type="f:context.quantity.0.1.decimal.pt.permitted.1023.39"/>
      <xsd:element name="unit_of_linear_measurement_m_km_nm_1" type="f:unit.of.linear.measurement.m.km.nm.1008.20"/>
      <xsd:element name="lateral_adjustment_indicator_left" type="f:lateral.adjustment.indicator.left.1586.5"/>
      <xsd:element name="hyphen" type="f:hyphen.1025.2"/>
      <xsd:element name="context_quantity_0_1_decimal_pt_permitted_2" type="f:context.quantity.0.1.decimal.pt.permitted.1023.39"/>
      <xsd:element name="unit_of_linear_measurement_m_km_nm_2" type="f:unit.of.linear.measurement.m.km.nm.1008.20"/>
      <xsd:element name="lateral_adjustment_indicator_right" type="f:lateral.adjustment.indicator.right.1586.6"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="interval.duration.2525">
    <xsd:sequence>
      <xsd:element name="context_quantity_1_999" type="f:context.quantity.1.999.1023.3"/>
      <xsd:element name="unit_of_time_measurement_day_wk_biwk_mon_yr" type="f:unit.of.time.measurement.day.wk.biwk.mon.yr.1008.94"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
