miliconvert/format-docs/trunk/air_control_order/xsd_adatp3/messages.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- Copyright Systematic Software Engineering Ltd. 2002          -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="nato:adatp-3:b11" xml:lang="en-GB" version="11"
 xmlns="nato:adatp-3:b11"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:s="nato:adatp-3:b11:sets"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="nato:adatp-3:b11:sets" schemaLocation="sets.xsd"/>

  <xsd:element name="airspace_control_order">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="exercise_identification" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:exercise.identification">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="1"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="operation_codeword" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:operation.codeword">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="2"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="message_identifier" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:message.identifier">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="3"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="reference" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:reference">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="4"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="airspace_control_order_identification_segment" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="airspace_control_order_identification" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:airspace.control.order.identification">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="5"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="geodetic_datum_1" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:geodetic.datum">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="6"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="period_of_time" minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:period.of.time">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="7"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="general_text_1" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:general.text">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="8"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="airspace_control_means_status_segment" minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="airspace_control_means_status" minOccurs="1" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:complexContent>
                          <xsd:extension base="s:airspace.control.means.status">
                            <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="9"/>
                          </xsd:extension>
                        </xsd:complexContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="airspace_control_means_identification_segment" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="airspace_control_means_identification" minOccurs="1" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:airspace.control.means.identification">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="10"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="geodetic_datum_2" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:geodetic.datum">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="11"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="airspace_shape_polyarc" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:airspace.shape.polyarc">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="12"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="airspace_shape_radarc" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:airspace.shape.radarc">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="13"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="airspace_shape_track" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:airspace.shape.track">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="14"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="shape_polygon" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:shape.polygon">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="15"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="shape_circle" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:shape.circle">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="16"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="airspace_shape_corridor" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:airspace.shape.corridor">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="17"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="shape_point" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:shape.point">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="18"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="airspace_shape_orbit" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:airspace.shape.orbit">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="19"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="geometric_composite_line" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:geometric.composite.line">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="20"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="vertical_dimension_of_the_effective_level" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:vertical.dimension.of.the.effective.level">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="21"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="airspace_time_period" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:airspace.time.period">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="22"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="control_point" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:control.point">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="23"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="controlling_authority" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:controlling.authority">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="24"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="general_text_2" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base="s:general.text">
                                  <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="25"/>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="10"/>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="9"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="5"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="undefined_airspace_control_means_link_16_track_number_reference" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:undefined.airspace.control.means.link.16.track.number.reference">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="26"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="message_downgrading_or_declassification_data" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:message.downgrading.or.declassification.data">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="27"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="remarks" type="s:remarks" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    <xsd:attribute name="mtfid" type="xsd:string" fixed="ACO"/>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
