miliconvert/format-docs/trunk/air_control_order/xsd_adatp3/sets.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- Copyright Systematic Software Engineering Ltd. 2002          -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="nato:adatp-3:b11:sets" xml:lang="en-GB" version="11"
 xmlns="nato:adatp-3:b11:sets"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:c="nato:adatp-3:b11:composites"
 xmlns:f="nato:adatp-3:b11:elementals"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="nato:adatp-3:b11:composites" schemaLocation="composites.xsd"/>
  <xsd:import namespace="nato:adatp-3:b11:elementals" schemaLocation="fields.xsd"/>

  <xsd:complexType name="set.base.type">
    <xsd:sequence>
      <xsd:element name="amplification" type="amplification" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="narrative" type="narrative" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="airspace.shape.track">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="track_leg" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:track.leg.1012.274">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="begining_point" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="geographic_position_lat_long_minutes">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.lat.long.minutes.2023">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2023-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="geographic_position_lat_long_seconds">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.lat.long.seconds.2024">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2024-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ending_point" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="geographic_position_lat_long_minutes">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.lat.long.minutes.2023">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2023-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="geographic_position_lat_long_seconds">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.lat.long.seconds.2024">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2024-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="track_width" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:track.width.2524">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="vertical_dimension" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="vertical_dimension_base_ref_point_to_relative_altitude">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:vertical.dimension.base.ref.point.to.relative.altitude.2166">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2166-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="vertical_dimension_base_ref_point_to_flight_level">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:vertical.dimension.base.ref.point.to.flight.level.2167">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2167-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="vertical_dimension_relative_altitude_to_flight_level">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:vertical.dimension.relative.altitude.to.flight.level.2168">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2168-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="vertical_dimension_relative_altitude_to_relative_alt">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:vertical.dimension.relative.altitude.to.relative.alt.2169">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2169-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="vertical_dimension_flight_level_to_flight_level">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:flight.level.band.2099">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2099-2"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="1TRACK"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="airspace.control.means.identification">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="airspace_control_means" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="type_of_airspace_control_means">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:type.of.airspace.control.means.1389.2">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1389-2"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="type_of_acm_other">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:type.of.acm.other.1389.4">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1389-4"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="airspace_control_means_identifier" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="airspace_control_means_identifying_designator">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:airspace.control.means.identifying.designator.1515.12">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1515-12"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="airspace_control_means_name">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:airspace.control.means.name.1022.27">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1022-27"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="type_of_airspace_shape" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:type.of.airspace.shape.1237.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="airspace_usage" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="airspace_usage">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:airspace.usage.1389.3">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1389-3"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="airspace_usage_other">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:airspace.usage.other.1389.5">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1389-5"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="acm_link_16_track_number_reference" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:acm.link.16.track.number.reference.1625.28">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="transition_altitude" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:altitude.in.feet.or.metres.2279">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="ACMID"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="airspace.control.means.status">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="airspace_control_means_status_update" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:airspace.control.means.status.update.1156.5">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="airspace_control_means_identifier" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="airspace_control_means_identifying_designator">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:airspace.control.means.identifying.designator.1515.12">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1515-12"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="airspace_control_means_name">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:airspace.control.means.name.1022.27">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1022-27"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="airspace_control_means_designator_range">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:airspace.control.means.designator.range.2165">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2165-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="ACMSTAT"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="airspace.control.order.identification">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="name_of_area_of_validity" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:name.of.area.of.validity.1022.25">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="aco_serial_number" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:aco.serial.number.1012.40">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="ACOID"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="amplification">
    <xsd:sequence>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="AMPN"/>
  </xsd:complexType>

  <xsd:complexType name="airspace.shape.orbit">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="first_point_of_the_orbit" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="geographic_position_lat_long_minutes">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.position.lat.long.minutes.2023">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2023-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="geographic_position_lat_long_seconds">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.position.lat.long.seconds.2024">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2024-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="second_point_of_the_orbit" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="geographic_position_lat_long_minutes">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.position.lat.long.minutes.2023">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2023-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="geographic_position_lat_long_seconds">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.position.lat.long.seconds.2024">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2024-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="width_m_km_nm" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:width.m.km.nm.2123">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="orbit_alignment" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:orbit.alignment.1586.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="AORBIT"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="airspace.time.period">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="airspace_time_mode" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:airspace.time.mode.1220.19">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="start_time" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:dtg.2033">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="stop_time" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="dtg_of_stop">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:dtg.2033">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2033-30"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="stop_time_qualifier">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:stop.time.qualifier.1220.8">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1220-8"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="interval_frequency" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:interval.frequency.1346.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="interval_duration" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="interval_duration">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:interval.duration.2525">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2525-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="time_qualifier_until_further_notice">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:time.qualifier.until.further.notice.1220.5">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1220-5"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="dtg_of_completion">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:dtg.2033">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2033-24"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="APERIOD"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="shape.point">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="airspace_point" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="geographic_position_lat_long_minutes">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.position.lat.long.minutes.2023">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2023-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="geographic_position_lat_long_seconds">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.position.lat.long.seconds.2024">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2024-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="APOINT"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="shape.circle">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="circle_center" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="geographic_position_lat_long_minutes">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.position.lat.long.minutes.2023">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2023-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="geographic_position_lat_long_seconds">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.position.lat.long.seconds.2024">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2024-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="radius_m_km_nm" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:radius.m.km.nm.2118">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="CIRCLE"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="control.point">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="control_point_type" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:control.point.type.1362.5">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="position_or_point_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:position.or.point.name.1022.18">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="control_point_location" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="geographic_position_lat_long_minutes">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.position.lat.long.minutes.2023">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2023-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="geographic_position_lat_long_seconds">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.position.lat.long.seconds.2024">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2024-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="control_point_altitude" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="vertical_dimension_base_ref_point_to_relative_altitude">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:vertical.dimension.base.ref.point.to.relative.altitude.2166">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2166-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="vertical_dimension_base_ref_point_to_flight_level">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:vertical.dimension.base.ref.point.to.flight.level.2167">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2167-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="vertical_dimension_relative_altitude_to_flight_level">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:vertical.dimension.relative.altitude.to.flight.level.2168">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2168-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="vertical_dimension_relative_altitude_to_relative_alt">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:vertical.dimension.relative.altitude.to.relative.alt.2169">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2169-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="vertical_dimension_flight_level_to_flight_level">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:flight.level.band.2099">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2099-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="CNTRLPT"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="controlling.authority">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="operational_control_authority" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:operational.control.authority.1028.8">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="radio_frequency" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="radio_frequency">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:radio.frequency.2064">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2064-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="frequency_designator">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:frequency.designator.1396.1">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1396-1"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="CONTAUTH"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="airspace.shape.corridor">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="width_m_km_nm" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:width.m.km.nm.2123">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="position_or_point" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="geographic_position_lat_long_minutes">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.lat.long.minutes.2023">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2023-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="geographic_position_lat_long_seconds">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.lat.long.seconds.2024">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2024-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="serial_number_of_way_point">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:serial.number.of.way.point.1012.35">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1012-35"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="CORRIDOR"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="message.downgrading.or.declassification.data">
    <xsd:sequence>
      <xsd:element name="source_of_classification" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="derivative_source_for_classification">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:derivative.source.for.classification.1243.4">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1243-4"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="name_of_original_classification_authority">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:name.of.original.classification.authority.1022.269">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1022-269"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="reason_for_classification" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:reason.for.classification.1807.2">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="group_of_fields" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="downgrading_or_declassification_instructions" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:downgrading.or.declassification.instructions.1822.6">
                    <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="downgrade_or_declassification_date_ddmmmyyyy" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="c:date.ddmmmyyyy.2001">
                    <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="downgrading_or_declassification_exemption_code" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:downgrading.or.declassification.exemption.code.1807.3">
                    <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="DECL"/>
  </xsd:complexType>

  <xsd:complexType name="vertical.dimension.of.the.effective.level">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="vertical_dimemsion" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="vertical_dimension_base_ref_point_to_relative_altitude">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:vertical.dimension.base.ref.point.to.relative.altitude.2166">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2166-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="vertical_dimension_base_ref_point_to_flight_level">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:vertical.dimension.base.ref.point.to.flight.level.2167">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2167-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="vertical_dimension_relative_altitude_to_flight_level">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:vertical.dimension.relative.altitude.to.flight.level.2168">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2168-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="vertical_dimension_relative_altitude_to_relative_alt">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:vertical.dimension.relative.altitude.to.relative.alt.2169">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2169-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="vertical_dimension_flight_level_to_flight_level">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:flight.level.band.2099">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2099-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="EFFLEVEL"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="exercise.identification">
    <xsd:sequence>
      <xsd:element name="amplification" type="amplification" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="exercise_nickname" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:exercise.nickname.1021.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exercise_identifier" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="exercise_additional_identifier">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:exercise.additional.identifier.1018.11">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1018-11"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="exercise_additional_nickname">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:exercise.additional.nickname.1018.16">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1018-16"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="EXER"/>
  </xsd:complexType>

  <xsd:complexType name="general.text">
    <xsd:sequence>
      <xsd:element name="narrative" type="narrative" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="text_indicator" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:text.indicator.1009.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="GENTEXT"/>
  </xsd:complexType>

  <xsd:complexType name="geodetic.datum">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="geodetic_datum" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:geodetic.datum.1195.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="GEODATUM"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="geometric.composite.line">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="position_or_point" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="geographic_position_lat_long_minutes">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.lat.long.minutes.2023">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2023-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="geographic_position_lat_long_seconds">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.lat.long.seconds.2024">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2024-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="GEOLINE"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="message.identifier">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="message_text_format_identifier" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:message.text.format.identifier.1018.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="originator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:originator.1029.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="message_serial_number" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:message.serial.number.1012.7">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="month_name" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:month.name.abbreviated.1004.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="qualifier" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:qualifier.1130.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="serial_number_of_qualifier" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:serial.number.of.qualifier.1012.29">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="MSGID"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="narrative">
    <xsd:sequence>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="NARR"/>
  </xsd:complexType>

  <xsd:complexType name="operation.codeword">
    <xsd:sequence>
      <xsd:element name="amplification" type="amplification" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="operation_codeword" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:operation.codeword.1020.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="plan_originator_and_number" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="c:plan.originator.and.number.2404">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="option_nickname" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:option.nickname.1232.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="secondary_option_nickname" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:secondary.option.nickname.1232.2">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="OPER"/>
  </xsd:complexType>

  <xsd:complexType name="period.of.time">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="start_day_time" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="day_time_start">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.2000">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2000-14"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_start">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.and.month.2030">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2030-3"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="dtg_of_start">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:dtg.2033">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2033-29"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="stop_day_time" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="day_time_stop">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.2000">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2000-15"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_stop">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.and.month.2030">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2030-4"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="stop_time_qualifier">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:stop.time.qualifier.1220.8">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1220-8"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="dtg_of_stop">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:dtg.2033">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2033-30"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="qualified_stop_time" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="day_time">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.2000">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2000-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.and.month.2030">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2030-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="dtg">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:dtg.2033">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2033-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="PERIOD"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="airspace.shape.polyarc">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="origin_of_bearing" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="bearing_origin_lat_long_minutes">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.position.lat.long.minutes.2023">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2023-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="bearing_origin_lat_long_seconds">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.position.lat.long.seconds.2024">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2024-5"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="beginning_radial_bearing_degrees_true" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:bearing.degrees.true.2253">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="radius_m_km_nm" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:radius.m.km.nm.2118">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ending_radial_bearing_degrees_true" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:bearing.degrees.true.2253">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="points" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="geographic_position_lat_long_minutes">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.lat.long.minutes.2023">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2023-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="geographic_position_lat_long_seconds">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.lat.long.seconds.2024">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2024-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="POLYARC"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="shape.polygon">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="polygon_points" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="geographic_position_lat_long_minutes">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.lat.long.minutes.2023">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2023-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="geographic_position_lat_long_seconds">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.position.lat.long.seconds.2024">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2024-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="POLYGON"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="airspace.shape.radarc">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="bearing_orgin" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="bearing_origin_lat_long_minutes">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.position.lat.long.minutes.2023">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2023-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="bearing_origin_lat_long_seconds">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.position.lat.long.seconds.2024">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2024-5"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="beginning_radial_bearing_degrees_true" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:bearing.degrees.true.2253">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ending_radial_bearing_degrees_true" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:bearing.degrees.true.2253">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="inner_radius_m_km_nm" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:radius.m.km.nm.2118">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="outer_radius_m_km_nm" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:radius.m.km.nm.2118">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="RADARC"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="reference">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="serial_letter" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:serial.letter.1102.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="communication_type" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="message_text_format_identifier">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:message.text.format.identifier.1018.2">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1018-2"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="communication_type">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:communication.type.1153.1">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1153-1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="originator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:originator.1029.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="date_and_or_time_of_reference" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="dtg_of_reference_4_digit_yr">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:dtg.2033">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2033-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_of_reference">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.2000">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2000-34"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_reference">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.and.month.2030">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2030-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmmyyyy">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.ddmmmyyyy.2001">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2001-3"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_ddmmyyyy">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.ddmmyyyy.2052">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2052-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_yyyymmdd">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.yyyymmdd.2053">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2053-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="month_year">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:month.year.2472">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2472-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="reference_serial_number" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:reference.serial.number.1012.66">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="special_notation" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:special.notation.1131.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="sic_or_file_number" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="sic">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:sic.1017.2">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1017-2"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="filing_number">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:filing.number.1012.49">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1012-49"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="REF"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="remarks">
    <xsd:sequence>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="RMKS"/>
  </xsd:complexType>

  <xsd:complexType name="undefined.airspace.control.means.link.16.track.number.reference">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="undefined_link_16_track_number_reference" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:undefined.link.16.track.number.reference.1625.29">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="UNDLKTN"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

</xsd:schema>
