miliconvert/xsmt-docs/trunk/testing/xsd/bl11/intrep/composites.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="nato:adatp-3:bl11:composites" xmlns:f="nato:adatp-3:bl11:elementals" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="nato:adatp-3:bl11:composites" version="bl11">
<xsd:import namespace="nato:adatp-3:bl11:elementals" schemaLocation="fields.xsd"/>
<xsd:complexType name="plan.originator.and.number.2404.1">
<xsd:sequence>
<xsd:element name="plan_originator">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:plan.originator.1029.2">
<xsd:attribute fixed="1029-2" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="blank_space_character">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:blank.space.character.1025.4">
<xsd:attribute fixed="1025-4" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="plan_number">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:plan.number.1012.146">
<xsd:attribute fixed="1012-146" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="day.time.group.of.reference.2197.2">
<xsd:sequence>
<xsd:element name="day">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:day.1000.1">
<xsd:attribute fixed="1000-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="hour_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:hour.time.1001.1">
<xsd:attribute fixed="1001-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="minute_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:minute.time.1002.1">
<xsd:attribute fixed="1002-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="day.time.of.reference.2000.34">
<xsd:sequence>
<xsd:element name="day">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:day.1000.1">
<xsd:attribute fixed="1000-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="hour_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:hour.time.1001.1">
<xsd:attribute fixed="1001-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="minute_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:minute.time.1002.1">
<xsd:attribute fixed="1002-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="time_zone">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:time.zone.1003.1">
<xsd:attribute fixed="1003-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="day.time.of.reference.verified.2013.33">
<xsd:sequence>
<xsd:element name="day">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:day.1000.1">
<xsd:attribute fixed="1000-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="hour_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:hour.time.1001.1">
<xsd:attribute fixed="1001-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="minute_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:minute.time.1002.1">
<xsd:attribute fixed="1002-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="time_zone">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:time.zone.1003.1">
<xsd:attribute fixed="1003-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="context_quantity_0_9">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:context.quantity.0.9.1023.13">
<xsd:attribute fixed="1023-13" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="day.time.and.month.of.reference.2030.2">
<xsd:sequence>
<xsd:element name="day">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:day.1000.1">
<xsd:attribute fixed="1000-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="hour_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:hour.time.1001.1">
<xsd:attribute fixed="1001-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="minute_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:minute.time.1002.1">
<xsd:attribute fixed="1002-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="time_zone">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:time.zone.1003.1">
<xsd:attribute fixed="1003-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="month_name">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:month.name.1004.1">
<xsd:attribute fixed="1004-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="date.time.month.of.reference.verified.2032.2">
<xsd:sequence>
<xsd:element name="day">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:day.1000.1">
<xsd:attribute fixed="1000-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="hour_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:hour.time.1001.1">
<xsd:attribute fixed="1001-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="minute_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:minute.time.1002.1">
<xsd:attribute fixed="1002-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="time_zone">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:time.zone.1003.1">
<xsd:attribute fixed="1003-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="context_quantity_0_9">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:context.quantity.0.9.1023.13">
<xsd:attribute fixed="1023-13" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="month_name">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:month.name.1004.1">
<xsd:attribute fixed="1004-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="dtg.of.reference.4.digit.yr.2033.2">
<xsd:sequence>
<xsd:element name="day">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:day.1000.1">
<xsd:attribute fixed="1000-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="hour_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:hour.time.1001.1">
<xsd:attribute fixed="1001-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="minute_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:minute.time.1002.1">
<xsd:attribute fixed="1002-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="time_zone">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:time.zone.1003.1">
<xsd:attribute fixed="1003-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="month_name">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:month.name.1004.1">
<xsd:attribute fixed="1004-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="year">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:year.1005.7">
<xsd:attribute fixed="1005-7" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="dtg.of.reference.verified.4.yr.2034.2">
<xsd:sequence>
<xsd:element name="day">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:day.1000.1">
<xsd:attribute fixed="1000-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="hour_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:hour.time.1001.1">
<xsd:attribute fixed="1001-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="minute_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:minute.time.1002.1">
<xsd:attribute fixed="1002-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="time_zone">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:time.zone.1003.1">
<xsd:attribute fixed="1003-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="context_quantity_0_9">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:context.quantity.0.9.1023.13">
<xsd:attribute fixed="1023-13" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="month_name">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:month.name.1004.1">
<xsd:attribute fixed="1004-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="year">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:year.1005.7">
<xsd:attribute fixed="1005-7" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="date.of.reference.ddmmmyyyy.2001.3">
<xsd:sequence>
<xsd:element name="day">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:day.1000.1">
<xsd:attribute fixed="1000-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="month_name">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:month.name.1004.1">
<xsd:attribute fixed="1004-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="year">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:year.1005.7">
<xsd:attribute fixed="1005-7" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="date.of.reference.ddmmyyyy.2052.2">
<xsd:sequence>
<xsd:element name="day">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:day.1000.1">
<xsd:attribute fixed="1000-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="month">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:month.1004.9">
<xsd:attribute fixed="1004-9" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="year">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:year.1005.7">
<xsd:attribute fixed="1005-7" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="date.of.reference.yyyymmdd.2053.2">
<xsd:sequence>
<xsd:element name="year">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:year.1005.7">
<xsd:attribute fixed="1005-7" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="month">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:month.1004.9">
<xsd:attribute fixed="1004-9" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="day">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:day.1000.1">
<xsd:attribute fixed="1000-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="dtg.4.digit.year.2033.1">
<xsd:sequence>
<xsd:element name="day">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:day.1000.1">
<xsd:attribute fixed="1000-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="hour_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:hour.time.1001.1">
<xsd:attribute fixed="1001-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="minute_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:minute.time.1002.1">
<xsd:attribute fixed="1002-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="time_zone">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:time.zone.1003.1">
<xsd:attribute fixed="1003-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="month_name">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:month.name.1004.1">
<xsd:attribute fixed="1004-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="year">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:year.1005.7">
<xsd:attribute fixed="1005-7" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="unit.identification.code.uic.2141.1">
<xsd:sequence>
<xsd:element name="nationality">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:nationality.1026.2">
<xsd:attribute fixed="1026-2" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="armed_service">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:armed.service.1107.1">
<xsd:attribute fixed="1107-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="file_sequential_location_number">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:file.sequential.location.number.1012.103">
<xsd:attribute fixed="1012-103" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="geographic.position.lat.long.degrees.2022.1">
<xsd:sequence>
<xsd:element name="latitude_degrees">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:latitude.degrees.1039.1">
<xsd:attribute fixed="1039-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="latitudinal_hemisphere">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:latitudinal.hemisphere.1030.2">
<xsd:attribute fixed="1030-2" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="longitude_degrees">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:longitude.degrees.1040.1">
<xsd:attribute fixed="1040-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="longitudinal_hemisphere">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:longitudinal.hemisphere.1030.3">
<xsd:attribute fixed="1030-3" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="geographic.position.lat.long.minutes.2023.1">
<xsd:sequence>
<xsd:element name="latitude_degrees">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:latitude.degrees.1039.1">
<xsd:attribute fixed="1039-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="latitude_minute_angular">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:latitude.minute.angular.1041.2">
<xsd:attribute fixed="1041-2" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="latitudinal_hemisphere">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:latitudinal.hemisphere.1030.2">
<xsd:attribute fixed="1030-2" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="longitude_degrees">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:longitude.degrees.1040.1">
<xsd:attribute fixed="1040-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="longitude_minute_angular">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:longitude.minute.angular.1041.3">
<xsd:attribute fixed="1041-3" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="longitudinal_hemisphere">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:longitudinal.hemisphere.1030.3">
<xsd:attribute fixed="1030-3" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="geographic.position.lat.long.seconds.2024.1">
<xsd:sequence>
<xsd:element name="latitude_degrees">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:latitude.degrees.1039.1">
<xsd:attribute fixed="1039-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="latitude_minute_angular">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:latitude.minute.angular.1041.2">
<xsd:attribute fixed="1041-2" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="latitude_second_angular">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:latitude.second.angular.1042.2">
<xsd:attribute fixed="1042-2" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="latitudinal_hemisphere">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:latitudinal.hemisphere.1030.2">
<xsd:attribute fixed="1030-2" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="longitude_degrees">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:longitude.degrees.1040.1">
<xsd:attribute fixed="1040-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="longitude_minute_angular">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:longitude.minute.angular.1041.3">
<xsd:attribute fixed="1041-3" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="longitude_second_angular">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:longitude.second.angular.1042.3">
<xsd:attribute fixed="1042-3" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="longitudinal_hemisphere">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:longitudinal.hemisphere.1030.3">
<xsd:attribute fixed="1030-3" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="geographic.position.utm.1000.metre.2088.1">
<xsd:sequence>
<xsd:element name="utm_grid_zone_column">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.grid.zone.column.1096.1">
<xsd:attribute fixed="1096-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="utm_grid_zone_row">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.grid.zone.row.1097.1">
<xsd:attribute fixed="1097-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="utm_100000_metre_square_column">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.100000.metre.square.column.1098.1">
<xsd:attribute fixed="1098-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="utm_100000_metre_square_row">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.100000.metre.square.row.1099.1">
<xsd:attribute fixed="1099-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="utm_1000_metre_easting">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.1000.metre.easting.1241.1">
<xsd:attribute fixed="1241-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="utm_1000_metre_northing">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.1000.metre.northing.1242.1">
<xsd:attribute fixed="1242-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="geographic.position.utm.100.metre.2087.1">
<xsd:sequence>
<xsd:element name="utm_grid_zone_column">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.grid.zone.column.1096.1">
<xsd:attribute fixed="1096-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="utm_grid_zone_row">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.grid.zone.row.1097.1">
<xsd:attribute fixed="1097-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="utm_100000_metre_square_column">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.100000.metre.square.column.1098.1">
<xsd:attribute fixed="1098-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="utm_100000_metre_square_row">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.100000.metre.square.row.1099.1">
<xsd:attribute fixed="1099-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="utm_100_metre_easting">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.100.metre.easting.1239.1">
<xsd:attribute fixed="1239-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="utm_100_metre_northing">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.100.metre.northing.1240.1">
<xsd:attribute fixed="1240-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="geographic.position.utm.10.metre.2086.1">
<xsd:sequence>
<xsd:element name="utm_grid_zone_column">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.grid.zone.column.1096.1">
<xsd:attribute fixed="1096-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="utm_grid_zone_row">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.grid.zone.row.1097.1">
<xsd:attribute fixed="1097-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="utm_100000_metre_square_column">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.100000.metre.square.column.1098.1">
<xsd:attribute fixed="1098-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="utm_100000_metre_square_row">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.100000.metre.square.row.1099.1">
<xsd:attribute fixed="1099-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="utm_10_metre_easting">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.10.metre.easting.1234.1">
<xsd:attribute fixed="1234-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="utm_10_metre_northing">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.10.metre.northing.1238.1">
<xsd:attribute fixed="1238-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="geographic.position.utm.1.metre.2089.1">
<xsd:sequence>
<xsd:element name="utm_grid_zone_column">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.grid.zone.column.1096.1">
<xsd:attribute fixed="1096-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="utm_grid_zone_row">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.grid.zone.row.1097.1">
<xsd:attribute fixed="1097-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="utm_100000_metre_square_column">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.100000.metre.square.column.1098.1">
<xsd:attribute fixed="1098-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="utm_100000_metre_square_row">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.100000.metre.square.row.1099.1">
<xsd:attribute fixed="1099-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="utm_1_metre_easting">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.1.metre.easting.1057.1">
<xsd:attribute fixed="1057-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="utm_1_metre_northing">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:utm.1.metre.northing.1059.1">
<xsd:attribute fixed="1059-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="bearing.and.distance.from.reference.point.2157.1">
<xsd:sequence>
<xsd:element name="context_quantity_decimal_pt_for_tenth_perm_5_char_max">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:context.quantity.decimal.pt.for.tenth.perm.5.char.max.1023.32">
<xsd:attribute fixed="1023-32" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="angular_measurement_reference">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:angular.measurement.reference.1024.1">
<xsd:attribute fixed="1024-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="hyphen">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:hyphen.1025.2">
<xsd:attribute fixed="1025-2" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="reference_point_name">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:reference.point.name.1022.2">
<xsd:attribute fixed="1022-2" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="hyphen_1">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:hyphen.1025.2">
<xsd:attribute fixed="1025-2" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="context_quantity_decimal_pt_permitted_5_char_max">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:context.quantity.decimal.pt.permitted.5.char.max.1023.19">
<xsd:attribute fixed="1023-19" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="unit_of_linear_measurement_ft_yd_nm_m_km_kyd">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:unit.of.linear.measurement.ft.yd.nm.m.km.kyd.1008.14">
<xsd:attribute fixed="1008-14" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="true.bearing.and.distance.in.nm.from.reference.point.2016.1">
<xsd:sequence>
<xsd:element name="direction_in_degrees_true">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:direction.in.degrees.true.1439.1">
<xsd:attribute fixed="1439-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="reference_point_name">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:reference.point.name.1022.2">
<xsd:attribute fixed="1022-2" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="distance_in_nautical_miles">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:distance.in.nautical.miles.1089.1">
<xsd:attribute fixed="1089-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="start.date.yyyymmdd.2053.4">
<xsd:sequence>
<xsd:element name="year">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:year.1005.7">
<xsd:attribute fixed="1005-7" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="month">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:month.1004.9">
<xsd:attribute fixed="1004-9" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="day">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:day.1000.1">
<xsd:attribute fixed="1000-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="start.date.time.yyyymmddhhmm.2416.3">
<xsd:sequence>
<xsd:element name="year">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:year.1005.7">
<xsd:attribute fixed="1005-7" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="month">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:month.1004.9">
<xsd:attribute fixed="1004-9" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="day">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:day.1000.1">
<xsd:attribute fixed="1000-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="hour_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:hour.time.1001.1">
<xsd:attribute fixed="1001-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="minute_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:minute.time.1002.1">
<xsd:attribute fixed="1002-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="dtg.of.start.4.digit.yr.2033.29">
<xsd:sequence>
<xsd:element name="day">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:day.1000.1">
<xsd:attribute fixed="1000-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="hour_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:hour.time.1001.1">
<xsd:attribute fixed="1001-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="minute_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:minute.time.1002.1">
<xsd:attribute fixed="1002-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="time_zone">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:time.zone.1003.1">
<xsd:attribute fixed="1003-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="month_name">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:month.name.1004.1">
<xsd:attribute fixed="1004-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="year">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:year.1005.7">
<xsd:attribute fixed="1005-7" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="end.date.yyyymmdd.2053.5">
<xsd:sequence>
<xsd:element name="year">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:year.1005.7">
<xsd:attribute fixed="1005-7" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="month">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:month.1004.9">
<xsd:attribute fixed="1004-9" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="day">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:day.1000.1">
<xsd:attribute fixed="1000-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="end.date.time.yyyymmddhhmm.2416.4">
<xsd:sequence>
<xsd:element name="year">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:year.1005.7">
<xsd:attribute fixed="1005-7" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="month">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:month.1004.9">
<xsd:attribute fixed="1004-9" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="day">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:day.1000.1">
<xsd:attribute fixed="1000-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="hour_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:hour.time.1001.1">
<xsd:attribute fixed="1001-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="minute_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:minute.time.1002.1">
<xsd:attribute fixed="1002-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="dtg.of.stop.4.digit.yr.2033.30">
<xsd:sequence>
<xsd:element name="day">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:day.1000.1">
<xsd:attribute fixed="1000-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="hour_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:hour.time.1001.1">
<xsd:attribute fixed="1001-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="minute_time">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:minute.time.1002.1">
<xsd:attribute fixed="1002-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="time_zone">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:time.zone.1003.1">
<xsd:attribute fixed="1003-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="month_name">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:month.name.1004.1">
<xsd:attribute fixed="1004-1" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="year">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="f:year.1005.7">
<xsd:attribute fixed="1005-7" name="ffirn-fudn" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
