miliconvert/txt2xml/trunk/plugins/org.miliconvert.adatp3.tests/data/bl11/xsd/ensitrep/messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="nato:adatp-3:bl11" xmlns:s="nato:adatp-3:bl11:sets" attributeFormDefault="unqualified" elementFormDefault="unqualified" version="bl11">
<xsd:import namespace="nato:adatp-3:bl11:sets" schemaLocation="sets.xsd"/>
<xsd:element name="enemy_land_forces_situation_report">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="exercise_identification">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:exercise.identification">
<xsd:attribute fixed="1" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="operation_codeword">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:operation.codeword">
<xsd:attribute fixed="2" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="message_identifier">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:message.identifier">
<xsd:attribute fixed="3" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="reference">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:reference">
<xsd:attribute fixed="4" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="geodetic_datum">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:geodetic.datum">
<xsd:attribute fixed="5" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="date_time_group">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:date.time.group">
<xsd:attribute fixed="6" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="organization_designator_of_drafter_releaser">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:organization.designator.of.drafter.releaser">
<xsd:attribute fixed="7" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="map_data_without_geodetic_datum">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:map.data.without.geodetic.datum">
<xsd:attribute fixed="8" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="command_relationship_indicator_segment">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="command_relationship_indicator">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:command.relationship.indicator">
<xsd:attribute fixed="9" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="enemy_organization_designator">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:enemy.organization.designator">
<xsd:attribute fixed="10" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="enemy_subordination">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:enemy.subordination">
<xsd:attribute fixed="11" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="force_weapons">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:force.weapons">
<xsd:attribute fixed="12" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ammunition_on_hand">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:ammunition.on.hand">
<xsd:attribute fixed="13" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="short_range_air_defence_systems_and_ammunition">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:short.range.air.defence.systems.and.ammunition">
<xsd:attribute fixed="14" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="petroleum_products">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:petroleum.products">
<xsd:attribute fixed="15" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="enemy_materiel">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:enemy.materiel">
<xsd:attribute fixed="16" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="verified_enemy_echelon_of_force">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:verified.enemy.echelon.of.force">
<xsd:attribute fixed="17" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="information_evaluation">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:information.evaluation">
<xsd:attribute fixed="18" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="organization_designator_of_information_source">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:organization.designator.of.information.source">
<xsd:attribute fixed="19" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="geographic_location_segment">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="geographic_location">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:geographic.location">
<xsd:attribute fixed="20" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="location_amplification">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:location.amplification">
<xsd:attribute fixed="21" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="activity_segment">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="activity">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:activity">
<xsd:attribute fixed="22" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="direction">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:direction">
<xsd:attribute fixed="23" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="organization_designator_of_own_affected_unit_segment">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="organization_designator_of_own_affected_unit">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:organization.designator.of.own.affected.unit">
<xsd:attribute fixed="24" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="attack_type">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:attack.type">
<xsd:attribute fixed="25" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="information_evaluation_1">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:information.evaluation">
<xsd:attribute fixed="26" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="organization_designator_of_information_source_1">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:organization.designator.of.information.source">
<xsd:attribute fixed="27" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="location_and_nearest_feature_segment">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="location_and_nearest_feature">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:location.and.nearest.feature">
<xsd:attribute fixed="28" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="enemy_organizational_boundary">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:enemy.organizational.boundary">
<xsd:attribute fixed="29" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="information_evaluation_2">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:information.evaluation">
<xsd:attribute fixed="30" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="organization_designator_of_information_source_2">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:organization.designator.of.information.source">
<xsd:attribute fixed="31" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="general_text">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="s:general.text">
<xsd:attribute fixed="32" name="set-seq" type="xsd:unsignedShort"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="remarks" type="s:remarks"/>
</xsd:sequence>
<xsd:attribute fixed="ENSITREP" name="mtfid" type="xsd:string"/>
</xsd:complexType>
</xsd:element>
</xsd:schema>
